[2014-06-28 19:49] sindresorhus opened #1 "[bug] Only write to disk if dest is specified"
Right now there's no way to get the content in the callback without having it also written to disk.

https://github.com/addyosmani/critical/blob/49c9acda83477b2b36e8ea93d30952420485a0d9/index.js#L40-L42

[2014-06-28 23:40] #1 closed, assigned to nobody

[2014-06-28 23:42] sindresorhus opened #2 "[bug] Error should be passed"
https://github.com/addyosmani/critical/blob/704fb504940c0e03d5e259df1ae1f59d56b30a64/index.js#L44

The error should be passed as the first argument to cb, per Node convention.

[2014-06-28 23:45] sindresorhus opened #3 "CLI"
Could be useful.

[2014-06-28 23:46] sindresorhus opened #4 "Don't console.log"
Reusable modules put anything implicitly to the stdout/stderr. I you really needed it you could use events or the `debug` module, but I don't really see the value here, so I would just drop them.

[2014-06-28 23:46] sindresorhus opened #5 "Use async fs"
Since everything else is async it would be too bad to destroy the async with a sync call. Use `fs.writeFile`/`fs.readFile` instead.

[2014-06-28 23:47] sindresorhus opened #6 "Join paths"
Use `path.join()` to concat path segments: https://github.com/addyosmani/critical/blob/704fb504940c0e03d5e259df1ae1f59d56b30a64/index.js#L41

[2014-06-28 23:49] sindresorhus opened #7 "Check whether required options where passed and throw if not"
https://github.com/addyosmani/critical/blob/704fb504940c0e03d5e259df1ae1f59d56b30a64/index.js#L22

Looks like it's `src` and `base`.

[2014-06-28 23:50] sindresorhus opened #8 "API docs"
Like: https://github.com/addyosmani/oust#options

[2014-06-28 23:52] sindresorhus opened #9 "Default width/height"
For the lazy. Find a good default value. Maybe the most popular screen resolution.

[2014-06-28 23:53] sindresorhus opened #10 "test => fixture"
The test folder only contains fixtures, so should probably be named `fixture`.

[2014-06-29 18:40] #2 closed, assigned to nobody

[2014-06-29 18:40] #4 closed, assigned to nobody

[2014-06-29 18:40] #5 closed, assigned to nobody

[2014-06-29 18:40] #7 closed, assigned to nobody

[2014-06-29 18:40] #9 closed, assigned to nobody

[2014-06-29 18:41] #10 closed, assigned to nobody

[2014-06-29 18:41] #6 closed, assigned to nobody

[2014-07-05 07:31] XhmikosR opened #14 "Tests fail on Windows"
[code]

I managed to fix one of the tests by forcing LF. 5 still fail though.

[2014-07-08 21:57] #8 closed, assigned to nobody

[2014-07-22 01:01] TJkrusinski opened #19 "Access html via http?"
Love this module, however a lot of sites are sourced from templates. This means an additional step of curl-ing the rendered html to disk and then using that as the source for the module. This creates some added complexity that would prevent a lot of folks from using it. Since `fs.readFile` is async anyhow, would you be open to allowing sourcing the html from the network as opposed to the disk? I c

[2014-07-22 19:14] micahblu opened #20 "Sample configuration seemingly not working"
I'm unable to get htmlTarget to output to a file at all?  Seemingly only dest: will do so, though is sans the inline styles. Below is my very simple gulpfile.js. I realize there is a reference to a working sample project, however the gulpfile has a lot going especially for someone brand new to gulp, moving over from grunt and just trying to get a very simple working gulp task going. Thanks for you

[2014-07-22 22:06] micahblu opened #21 "Might be a good idea to throw in some gulp-qunit tests"

[2014-07-22 23:24] #21 closed, assigned to nobody

[2014-07-23 15:39] bezoerb opened #23 "Consider all CSS files"
At this time only the first stylesheet gets processed. The critical CSS should be fetched from all linked stylesheets

[2014-07-23 17:19] #20 closed, assigned to nobody

[2014-07-23 21:02] micahblu opened #24 "Issues with relative image paths"
Relative image paths seem to also be an issue via declared CSS `background` and `background-image` properties which unchanged become invalid resources. I was able to get around this via a quick regex replace which, got rid of relative path references `../`. Not sure though if this works for all use cases and haven't thoroughly tested it.

[2014-07-29 11:39] bezoerb opened #27 "Inline: inline the critical-css only"
Currently all linked stylesheets are inlined.
This should only be done for the critical-path css.

Maybe the the module could also provide some functionality to diff the critrical-path css and the main css to create a css file with only the remaining css included

[2014-08-30 13:23] addyosmani opened #32 "Release tasks"
- [x] Tag and publish new release - https://github.com/addyosmani/critical/releases/tag/v0.2.0 done
- [x] Update https://github.com/addyosmani/critical-path-css-demo
- [ ] Update https://github.com/addyosmani/critical-path-angular-demo
- [ ] Update https://github.com/addyosmani/critical-css-weather-app

If anyone would like to help with the outstanding tasks, go for it :) Otherwise, I'll try to up

[2014-09-09 20:31] #27 closed, assigned to nobody

[2014-09-09 20:34] #23 closed, assigned to nobody

[2014-09-16 21:40] micahblu opened #34 "Getting errors when declaring multiple instances of the critical task"
Maybe I'm going about this incorrectly. I have the need to run critical against multiple files. I am using:

[code]

From this I receive:

[code]

Apparently callback methods being passed the String variable `criticalCSS` are undefined for all subsequent tasks after the first one which is a string as it should be.. Oddly enough all subsequent critical tasks appear to still work, they're just throw

[2014-09-16 22:44] #34 closed, assigned to nobody

[2014-09-16 22:44] #32 closed, assigned to nobody

[2014-09-16 22:47] micahblu opened #36 "Getting errors when declaring multiple instances of the critical task"
Maybe I'm going about this incorrectly. I have the need to run critical against multiple files. I am using:

[code]

From this I receive:

[code]

Apparently callback methods being passed the String variable `criticalCSS` are undefined for all subsequent tasks after the first one which is a string as it should be.. Oddly enough all subsequent critical tasks appear to still work, they're just throw

[2014-09-16 22:48] #36 closed, assigned to nobody

[2014-09-17 07:52] Skoks opened #38 "Multiple src files"
Hello guys, awesome work and great plugin.
Is there any way for specifying multiple source files ?

[2014-09-18 08:36] bevacqua opened #39 "Remove inlined CSS rules from source stylesheets"
We could use `cave` to go through the stylesheets where the critical CSS is pulled from, and "diff" the two, removing critical CSS from the original stylesheets.

e.g:

[code]

[2014-09-26 01:01] nowherenearithaca opened #40 "Any background images already inlined cause problems with imageinliner"
This seems to be an issue with the imageinliner module (I posted note there about this) - in my case, it looks like this that seems to cause the problem - "background-image: url("data:image/svg+xml;base64,PD94bW...")

for the moment, may be that you need to add an option to avoid the imageinliner (line 74 of index.js)

[2014-10-11 21:33] sondr3 opened #42 "Critical fails if you include Google Webfonts in the header"
I'm currently playing around with Critical and I ran into this problem, whenever I have a Google Webfonts in the header Critical crashes. I just straight copied from the first Gulp example and this is what I have in the header:

[code]

And when I then run the `gulp critical` task I get this error:

[code]

Any kind of solution for this? Thanks!

[2014-10-12 01:48] #42 closed, assigned to nobody

[2014-10-17 19:35] micahblu opened #44 "toString() errors and more."
Getting toString() errors on two lines, 138 and 219 in index.js

[code]

and once I removed the method on 138 I got the same for 219:

[code]
Removing toString() from 219, got rid of the error messages, however I'm not getting inlined critical css at all?

My Gulp configuration is below and this is with the latest 0.4.0 release of critical. I'll do some investigating on my end, but wanted to bring

[2014-10-18 09:25] r-flash opened #45 "Backslashes in output url()s on Windows"
When rebasing urls starting with `../`, backslash is used as a path separator.

For example `background-image:url(../img/sprite.png);` in my original stylesheet is translated to `background-image:url(\img\sprite.png);`, which results in an incorrect request for /imgsprite.png, instead of /img/sprite.png.

[2014-10-23 13:25] cometta opened #47 "allow read src from url directly"
allow to read src from URL directly example http://localhost:3000 , rather than required to read from .html file

[2014-10-25 09:57] #47 closed, assigned to nobody

[2014-11-23 12:07] propertunist opened #49 "installing github master produces errors"
following the advice in the issue regarding the toString errors.. i chose to install the github master version of critical using:

[code]

towards the end of the terminal output, i saw more errors:

[code]

i looked into the debug log that is mentioned and did not see any info in there that was helpful to me in diagnosing the cause fo the errors.

[2014-11-24 10:23] #49 closed, assigned to nobody

[2014-11-24 11:06] propertunist opened #50 "no output / errors / processing occurs when running a simple critical task"
i have created a gulpfile.js within my working folder here, which contains:

[code]
and i have (as far as i am aware) correctly installed the github master project for critical, as well as gulp, node and npm.
i have just tested by adding the optional 'css' config variable into the critical task function too - though this didn't make any difference either.

i'm out of ideas here, does  anyone know

[2014-11-26 16:00] solenoo opened #51 "Images and Fonts url() path"
Hi, my request is about the invalid url path that gets printed out after initialising the critical task. Here is an example of what I am referring to: Lets say I have a "background-image" with destination such as url('../img/someImage.jpg'). In the critical path this will look like url("/components/minified/img/someImage.jpg") which creates invalid request for the browser. The right output for the

[2014-12-06 12:18] addyosmani opened #52 "CLI: Error path must be a string"
Using this example from the README:

[code]

[2014-12-07 00:41] bezoerb opened #53 "simplify usage of critical"
@addyosmani
While implementing some tests for the CLI i've stumbled across parameter inconsistence between `generate` and `generateInline`. For `generateInline`we use `styleTarget` and `htmlTarget` and for `generate`we only use `dest`. This could be a bit confusing.
Maybe we should consider deprecating the options `styleTarget` and `htmlTarget` in favor of just using `dest` and and select the righ

[2014-12-08 16:22] khalwat opened #54 "Async loaded CSS stylesheets and embedded CSS"
So I'm using critical to generate critical path CSS for my website, which I embed into web pages as embedded stylesheets.  Then I load the full CSS later on via loadCSS();  All is great so far.

However, I'm using Bootstrap; so let's say there is a Bootstrap declaration such as:

[code]

...which gets embedded into my webpage because it's used in the above the fold content.

Further down the page,

[2015-01-11 23:19] bezoerb opened #56 "Test are failing"
Since the last release of `penthouse` (0.2.52) https://github.com/pocketjoso/penthouse/commit/704c29490d8bba398f6a3f232d0e83006f25e39a all tests are failing.
It looks like we get a totally different critical css now.
We should lock the last working penthouse version (0.2.51)
/cc @pocketjoso

[2015-01-11 23:36] bezoerb commented on #56
Created an issue at `penthouse`
https://github.com/pocketjoso/penthouse/issues/37

[2015-01-11 23:41] bezoerb commented on #56
hey @addyosmani,
i think we need a version bump to get critical back running.

[2015-01-11 23:55] sindresorhus commented on #56
https://github.com/addyosmani/critical/releases/tag/v0.5.2

[2015-01-11 23:55] #56 closed

[2015-01-11 23:57] bezoerb commented on #56
Thanks

[2015-01-17 14:11] pocketjoso commented on #56
Resolved in `Penthouse 0.6.0`.

[2015-01-17 16:34] addyosmani commented on #56
All 29 tests are passing locally using 0.2.53. @bezoerb @sindresorhus if one of you can verify too, we should be good to update.

[2015-01-17 16:37] sindresorhus commented on #56
@addyosmani Yup https://github.com/addyosmani/critical/releases/tag/v0.5.3

[2015-01-17 16:42] bezoerb commented on #56
I'll try this evening

[2015-01-17 21:33] bezoerb commented on #56
@addyosmani All tests are passing on Windows & OSX. Tests for grunt-critical passing, too.

[2015-01-21 10:10] lkdnvc opened #57 "Base url"
Hello. my site is available at this URL - somedomain.com/sometext/my-site/, so when after work critical"
 path to the picture is not correct. Tell me what can I do?

[2015-01-27 09:03] jimmyjamieson opened #58 "*Ignore"
Is there any way to ignore specific css or images/fonts in the inlined css.

For example, I have a font that gets inserted into the inlined critial css due to it being part of an icon in the header. I don't want the font to load at all, until the page has loaded.

Is there anyway to make criticalcss ignore specific files for include?

[2015-01-27 09:33] bezoerb commented on #58
Until now there is no way to ignore specific selectors but you can specify which css files to use.
As a workaround you could define the font in a separate css file and concat this after you applied critical.

[2015-01-27 18:38] rosslavery commented on #54
Can you elaborate on your solution to this? It looks like your sentence was cut off.

I'm encountering the exact same issue. The inlined css of above-the-fold styles is impacting the classes that override those styles in the below-the-fold content.

[2015-01-27 19:37] bezoerb commented on #54
Take a Look here https://github.com/bezoerb/grunt-critical/issues/5

[2015-01-27 19:39] rosslavery commented on #54
Hey @bezoerb , thanks for the link. My fix was the same.

[2015-02-02 00:48] alanontheweb commented on #42
I'm still getting this issue. Just trying to load font-awesome from a CDN. It works fine if I remove that line. What can I do to fix it?

[2015-02-02 22:46] bezoerb commented on #14
Tests still green on windows. Closing this for now.

[2015-02-02 22:46] #14 closed

[2015-02-02 22:49] bezoerb commented on #52
@addyosmani can you confirm this one is fixed? So we could close this issue?

[2015-02-02 23:04] bezoerb commented on #51
hey @solenoo,
sorry for the late response.
The output you are getting from critical seems correct for your configuration.
We're rewriting assets paths to be absolute to your base directory.
`base: 'public/'` and an image path like `/public/components/minified/img/someImage.jpg` should result in `/components/minified/img/someImage.jpg` which should be fine assuming your docroot is pointing to the `

[2015-02-02 23:22] bezoerb commented on #57
@lkdnvc The image paths in the critical css are currently rewritten to absolute urls so you should configure your base option to reflect your server docroot.

E.g. asuming your local dev directory structure like this:
[code]
your base option should be set to `dist`
`base: 'dist/'`

[2015-02-03 20:50] KingScooty opened #60 "Move the tmp css file into a .tmp folder?"
It appears that critical generates a `tmp-.css` file in the base directory while it's running. Annoyingly for me, this file is getting picked up on tasks that run after (if chained as a dependency).

It's showing up in my cache manifest file :(

Is there any chance we can get it to generate inside a `.tmp` folder? At least that way i can set gulp-manifest to ignore that folder.

[2015-02-03 21:01] alanontheweb commented on #58
+1 for ignoring specific stylesheets. I specified which CSS file to use but it doesn't seem to be using that information to ignore the other...

[2015-02-04 06:57] sindresorhus commented on #60
It should be generated in an `os.tmpdir()` folder instead so it's not littering up the project folder. Maybe using: https://github.com/sindresorhus/tempfile

[2015-02-04 07:08] alanontheweb opened #61 "Extract:true gives wrong output on absolute paths, and if an external stylesheet is in the markup"
NOTE - This was only tested with the new Stream functionality.

Example - Using the new Stream functionality and Extract:true, Gulp is globbing through several HTML files, and some are in subdirectories. In my HTML, my stylesheet path is "/assets/css/app.min.css" (note the slash at the beginning).

This does not work or result in generating multiple partial CSS files, and it doesn't append the app

[2015-02-04 10:05] KingScooty commented on #60
Hmm. Well it's definitely littering my project folder, and stays long enough to affect tasks running after it :/

[2015-02-04 10:10] bezoerb commented on #60
i'm working on a pull request

[2015-02-04 10:11] KingScooty commented on #60
@bezoerb Awesome!

[2015-02-04 12:26] bezoerb commented on #60
unfortunately we only can use `tempfile` for the temporary generated stylesheets.
Critical also creates temporary html files when the html option is used instead of src.
These files need to be inside the base directory.

@KingScooty could you try the PR branch and see if this fixes your issue?

[2015-02-04 12:47] KingScooty commented on #60
@bezoerb Yep, that sorts my issue right out! :+1:

[2015-02-04 18:54] #60 closed

[2015-02-05 17:43] superKalo opened #63 "SVG Images in the HTML Broken After Critical"
Hello all,

I am having an interesting issue in my latest project. When I trigger Critical to inject the critical styles in my html (dest: '_site/index.html') it breaks my SVG logo image.
Here is the image before:

[code]

And here is the image after:

[code]

Notice how by the end of each **path** element in the input we have a self closing tag "/>". However in the output the self closing tag is

[2015-02-05 18:58] bezoerb commented on #63
This looks like an issue with cheerio.
See https://github.com/cheeriojs/cheerio/issues/521
I'll check if there is a workaround for this

[2015-02-10 11:02] austinpray opened #64 "Breaks google webfonts when extract: true"
For `critical@0.5.4`

[code]

The above results in code like:

[code]

When it should really be:

[code]

Turning extract to false solves the problem.

[2015-02-17 14:50] samccone opened #67 "npm test exits with 0 even when tests fail"
@bezoerb and I found this nasty little surprise this morning. Something that we should investigate and fix.

https://travis-ci.org/addyosmani/critical/jobs/51025275
^^

[2015-02-17 15:12] samccone commented on #67
Upon further thought, it looks like the CLI testing is masking the exit status of mocha since it is calling process.exit when it prints the help output.

:crying_cat_face:

[2015-02-17 15:29] bezoerb commented on #67
Thanks, I'll take a look at it

[2015-02-17 16:05] bezoerb commented on #67
Should not be closed by comment

[2015-02-17 22:37] bezoerb commented on #63
@superKalo the SVG issue should be fixed in `master`. Wanna give it another try?

[2015-02-20 12:15] superKalo commented on #63
@bezoerb thanks!
I am actually using it via [the grunt plugin](https://github.com/bezoerb/grunt-critical), so I guess the grunt plugin needs to be updated too.

[2015-02-21 17:54] peterblazejewicz commented on #63
@bezoerb

Yes, that's correct. If we prepare `grunt-critical` install with master our problem is fixed!
Thanks!

[2015-02-21 18:18] addyosmani commented on #63
Looks like this should be good to go once we've bumped `grunt-critical`. Local updating and linking seems to suggest this will address things for @superKalo. Thanks for being on top of this @bezoerb!

[2015-02-21 18:50] samccone commented on #63
:+1: @peterblazejewicz great find, good catch, thanks @addyosmani and @bezoerb as always

[2015-02-21 21:52] pocketjoso opened #69 "Use larger viewport dimensions in examples"
The critical css generated by tools like `Penthouse` in almost all case works well for all dimensions **up to** the dimension asked for - but not higher. This means that if you want to cover all grounds, you should ask for the highest possible dimensions you want to include styles for "above the fold" elements for. The downside then is that your critical css will include styles for elements not se

[2015-02-21 22:43] addyosmani commented on #69
Thanks for weighing in @pocketjoso. I'm personally in favour of bumping the dimensions up to a higher default. cc'ing @sindresorhus @bezoerb for their take before we make any changes here.

[2015-02-21 22:47] bezoerb commented on #69
I'm fine with higher defaults :+1:

[2015-02-22 13:28] sindresorhus commented on #69
Sure

[2015-02-24 16:32] bezoerb commented on #63
@addyosmani we need to bump `critical` first to bump the dependency in `grunt-critical`

[2015-02-24 21:25] bezoerb commented on #64
This issue should be fixed now fixed in `master`

[2015-02-25 01:40] austinpray commented on #64
Sweet! I'll give it a shot!

[2015-03-02 20:15] addyosmani commented on #67
Ah. Sorry we didn't catch this sooner. Hoping we can nail the exit code issue. Thanks for looking at the tests @bezoerb!

[2015-03-02 20:16] addyosmani commented on #64
@austinpray were you able to verify if the fix in master addresses the issue sufficiently? We'd love to close this if so.

[2015-03-02 20:17] addyosmani commented on #63
@bezoerb I think it's time for another release. Lets do this shortly. Sorry for being afk this past week! Catching up with threads now.

[2015-03-02 20:18] austinpray commented on #64
Just tried it and it worked. Reintroduced the "extract: true" option in the original scenario and I get the expected out. Thank you guys!

[2015-03-02 20:18] #64 closed

[2015-03-02 20:25] addyosmani commented on #64
Yay!

[2015-03-02 20:28] austinpray commented on #64
o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(｡❛ᴗ❛｡)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡

[2015-03-02 21:02] peterblazejewicz commented on #64
:bow: Thanks!

[2015-03-02 21:20] samccone commented on #63
Let me know if I can be of any help here

[2015-03-02 23:46] bezoerb commented on #67
Exit codes should be fixed with c469c030524b0e3b16164279940d41a12bf450cd

[2015-03-02 23:52] samccone commented on #67
![](http://giphy.com/gifs/reaction-bill-oreilly-fuck-it-tHdS8HFtuawZa)

[2015-03-03 03:09] samccone commented on #67
![](http://i.ytimg.com/vi/eUFY8Zw0Bag/hqdefault.jpg)

[2015-03-03 08:01] addyosmani commented on #67
\o/

[2015-03-05 21:30] samccone commented on #63
looks like this haas been fixed in the latest release, thanks guys @bezoerb @addyosmani

[2015-03-06 08:52] bezoerb commented on #63
@samccone yepp, `critical` and `grunt-critical` are both patched. :)

[2015-03-09 14:23] alanburke opened #72 "load_css script block is output in the HEAD, directly below inlined CSS"
Thanks for this project - awesome work.

I'm using gulp to inline the styles
[code]

but the load_css script block is also output into the head
[code]

Do I need to do something else to get that script block into the bottom of the body tag?

[2015-03-09 15:02] bezoerb commented on #72
@alanburke The [loadcss](https://github.com/filamentgroup/loadCSS) function should be placed in the `head` for performance reasons

[2015-03-09 15:11] alanburke commented on #72
@bezoerb Thanks! I stand corrected.
The demo at http://addyosmani.github.io/critical-path-css-demo/output/critical/ shows it in the footer.

[2015-03-09 15:11] #72 closed

[2015-03-30 12:29] diagramatics commented on #63
Hm, this hasn't worked properly on my end. Tried even using `master` and the output still breaks my inline SVG. I'm using io.js and Windows 8.1.

[2015-03-30 12:32] bezoerb commented on #63
@diagramatics which part of the svg is broken?
It seems that there's still an issue in `cheeriojs`. See https://github.com/cheeriojs/cheerio/issues/521

[2015-03-30 12:37] diagramatics commented on #63
The same as above, `<path />` tags lost the slash. Converting them to normal tags (`<path></path>`) doesn't work too.

[2015-03-30 12:42] diagramatics commented on #63
So I manually bumped cheerio to 0.19.0 and everything works fine now. Thanks for the issue reference!

[2015-03-30 14:57] bezoerb commented on #63
just bumped [`inline-critical`](https://github.com/bezoerb/inline-critical/blob/master/package.json#L24)

[2015-03-30 15:03] addyosmani commented on #63
Do we need to bump inline-critical version used here too?

[2015-03-30 15:09] bezoerb commented on #63
I thought patch versions would be loaded automatically but it seemed that this wasn't the case for the cheerio patch so i've just bumped & fixed the versions over there.
I'll try later today and give you a hint.

[2015-03-30 20:18] bezoerb commented on #63
@addyosmani looks good. No need for a version bumb.

[2015-03-30 21:51] addyosmani commented on #63
:+1:

[2015-03-31 22:27] khalwat commented on #54
Yeah so basically, it was working as expected. But I was using loadCSS() to async load the full CSS later on. The problem is that by default loadCSS() puts the style sheet in front of the first script tag it encounters in the head

So because of where the first script tag was in my html head tags, it was loading the full CSS before the inline CSS from grunt-critical... so the full CSS would never

[2015-03-31 22:37] khalwat opened #73 "Critical CSS and CSS animations / Bootstrap Carousel"
I've been using and loving grunt-critical, thank you!

I do have one issue that I can't quite figure out.  I have a site that has critical CSS for all of the pages, and it works great... but for pages that have CSS animations on them in form of Twitter Bootstrap carousel animations it's not quite doing the trick.

Here's an example URL:

http://www.onlinelandusa.com/listings/colorado-land-6.458-ac

[2015-04-10 11:17] bezoerb opened #74 "Bump clean-css"
We got an issue over at grunt-critical with conflicting versions of `clean-css`. See https://github.com/bezoerb/grunt-critical/issues/11

I think bumping `clean-css` in `critical` would be the most simple fix for this

[2015-04-10 12:30] addyosmani commented on #74
Here's a list of our currently outdated deps:

[code]

Is there anything else we should bump along with this?

[2015-04-10 18:33] bezoerb commented on #74
Done.

[2015-04-11 05:48] sindresorhus commented on #74
Only `cheerio`, `clean-css`, `tmp` needs updating though. The other ones semver match latest.

[2015-04-11 11:45] bezoerb commented on #74
thanks sindre, although it's too late (1dd89b63292e88967bc7e86080ab2d6d6705ff28) ;)
I would complete appveyor integration for tests on windows later this day and then we should be fine for a new patch version.

[2015-04-11 22:10] #69 closed

[2015-04-11 22:10] #67 closed

[2015-04-11 22:13] bezoerb commented on #24
This should be fixed by now. Feel free to re-open if there are still issues we did not consider yet.

[2015-04-11 22:13] #24 closed

[2015-04-11 22:25] bezoerb commented on #45
@addyosmani I've just configured appveyor to run tests on windows but it looks like they don't start automatically. I think you need to add the following webhook for `push` and on `pull request` to critical:
https://ci.appveyor.com/api/github/webhook?id=cn6jw7r3ur0gmyg6

[2015-04-11 22:29] bezoerb commented on #44
Closing as this should be fixed by now.
Feel free to re-open if there's still something we didn't consider yet.

[2015-04-11 22:29] #44 closed

[2015-04-11 22:31] bezoerb commented on #52
Fixed

[2015-04-11 22:31] #52 closed

[2015-04-11 22:35] bezoerb commented on #40
Closing this as the imageinliner can already be turned off.
See: https://github.com/addyosmani/critical/blob/master/test/02-generate.js#L126

[2015-04-11 22:35] #40 closed

[2015-04-11 22:36] bezoerb commented on #57
@lkdnvc Any progresses on this subject?
Thanks in advance.

[2015-04-11 22:37] bezoerb commented on #51
@solenoo Any progresses on this subject?
Thanks in advance.

[2015-04-12 18:19] bezoerb commented on #74
https://github.com/addyosmani/critical/releases/tag/v0.5.7

[2015-04-12 18:19] #74 closed

[2015-04-12 20:20] bezoerb commented on #3
CLI already available

[2015-04-12 20:20] #3 closed

[2015-04-13 19:47] cormacmccarthy commented on #51
I'm having this same issue. Not sure if the circumstances are the same, but, I'll try and explain in case it helps:

* My app code resides in `/Package/Dynamic/` and compiles into `/Application/Dynamic/`.
* My node server serves up everything inside of `/Application/Dynamic/` as `http://my.url.com/App/` (note how weird the "root" url of my app is, in that it is a subdirectory of the actual site. B

[2015-04-13 20:07] cormacmccarthy commented on #51
Looks like this may be the culprit:

https://github.com/addyosmani/critical/blob/master/index.js#L150

I'm going to try changing that locally and seeing if it does what I want.

[2015-04-13 20:14] bezoerb commented on #51
wow,... that root url is really weird ;) I'm not quite sure i got this right.
So your docroot is more like a symlink to a real folder on your server but without a symlink. So you got no folder like `/App` which we could use to compute the asset path.
I'm not quite sure but i think there was a good reason to make this path absolute. I'll think this over again and maybe there's a chance to compute r

[2015-04-13 20:24] cormacmccarthy commented on #51
Correct, there is no folder like /App that we could use to compute the asset path.

The production server is neither controlled by me nor available to me. Not only that, but, I'm not easily able to change the structure of the project itself (as I'm basically a contractor working with a team specifically for initial page-load speed/optimizations).

Thanks!

[2015-04-13 20:33] bezoerb commented on #51
I think a `pathPrefix` option would be the most robust solution to this issue.

[2015-04-13 20:42] cormacmccarthy commented on #51
Ok, here's both. If you want me to issue a PR, let me know which one you'd like. Thanks!

[code]

[code]

[2015-04-13 20:53] bezoerb commented on #51
I would go for the first one as using a path relative to baseDir will fail as soon as you are serving document from e.g. `/App/Controller/some.html`.

[2015-04-13 21:11] bezoerb commented on #45
@addyosmani added you as admin to the `appveyor` project

[2015-04-15 22:32] #51 closed

[2015-04-16 04:10] bezoerb commented on #39
f2428a480154fce93af504009e1f4eb5016262e0

[2015-04-16 04:10] #39 closed

[2015-04-17 05:14] bezoerb commented on #38
https://github.com/addyosmani/critical#gulp

[2015-04-17 05:14] #38 closed

[2015-04-19 22:15] bezoerb commented on #53
What about adding `inline` as an option for `generate`, deprecate `generateInline` and leave only the `dest` option.
So we would only expose the `generate` method and do inlining when the `inline` option is set.

[2015-04-22 19:01] marcobiedermann commented on #19
I want to integrate critical on a node server which does not have any rendered html files. So +1 from my site for url / http access

[2015-04-23 05:07] martindrzka opened #78 "Unicode Hex in generated *.html"
Generated output for index-critical.html contain Unicode Hex Codes.

gulp critical ->
Instead "Test čeština" it returns "Test &#x10De&#x161tina". Any idea?

[2015-04-23 05:13] bezoerb commented on #78
`cheerio` converts special characters to unicode. We use `cheerio` to inline the critical path css.

[2015-04-27 20:18] bezoerb commented on #53
Started on another [branch](https://github.com/addyosmani/critical/tree/deprecated)
This one is currently blocked by https://github.com/pocketjoso/penthouse/issues/53
See: https://travis-ci.org/addyosmani/critical/jobs/59405654

[2015-04-28 01:45] tbredin opened #79 "critical breaks self-closing tags"
My use case is an inline svg, where critical removes the closing tag, which causes some problems

eg:
`<polygon fill="#DD7B27" points="55.92,7 91.96,61.76 20.24,61.76   "/>`

Becomes:
`<polygon fill="#DD7B27" points="55.92,7 91.96,61.76 20.24,61.76   ">`

[2015-04-28 05:33] bezoerb commented on #79
Added an issue for this in [`inline-critical`](https://github.com/bezoerb/inline-critical/issues/8)

[2015-04-29 09:17] rupl commented on #58
I think ignoring specific stylesheets is a big ask, and often people are concatenating everything together like @bezoerb said. Some sort of rule for excluding specific properties would be grand, e.g. exclude `font-face` blocks, anything with `url` as a value, etc.

My current workflow just includes a small test to scan the generated file for these problematic strings so I don't accidentally ship t

[2015-04-29 22:21] bezoerb commented on #58
I've just released [`filter-css`](https://github.com/bezoerb/filter-css). A small module to filter out css rules.
We could add an `ignore` option to critical and use `filter-css` to remove the ignored rules from the critical css.

[2015-04-30 14:19] yethee commented on #78
`cheerio` has option `decodeEntities` (by default: `true`)

[code]
In this case content will remain the same, without replace special characters to entities.

[2015-04-30 15:10] martindrzka commented on #78
Thank you guys, cheerio saved me...

[2015-04-30 15:10] #78 closed

[2015-04-30 15:16] bezoerb commented on #78
Fixed entity encoding in [`inline-critical`](https://github.com/bezoerb/inline-critical/commit/91f0c24d1714849cd69d3dc3e776ad182a61b3cf)

Thanks @yethee

[2015-05-01 12:50] approached opened #82 "css cache in /tmp folder"
Hello,
I have some css files in my /tmp folder

[code]

[2015-05-10 21:51] bezoerb commented on #79
Waiting for https://github.com/fb55/htmlparser2/pull/129 to be merged

[2015-05-11 21:26] bezoerb commented on #82
@approached tmp folder cleanup should be handled by the os.

[2015-05-12 07:19] approached commented on #82
I know.
But if it used on a server without server restarting, that don't would deleted from os.

[2015-05-12 15:07] adam-lynch opened #83 "0.5.7 on npm is missing .stream"
I'm not sure what's going on here but the docs and the `index.js` have `.stream`, but I just installed the latest from npm and it's not there. The rest of the exported methods are there. 0.5.7 is the version that was installed and that's the version in the package.json on GitHub.

[2015-05-12 15:33] bezoerb commented on #83
This is not yet published on npm. You'll need to use the `master` branch for `.stream`.

[2015-05-12 15:36] adam-lynch commented on #83
Ah ok. Yeah, I've done that. Thanks.

[2015-05-12 15:36] #83 closed

[2015-05-15 14:36] oliverfarrell commented on #58
+1 for this. Currently get some print media queries returned so would be useful to ignore specific media queries at the very least.

[2015-05-20 16:24] juanbrujo commented on #57
@bezoerb and the output **has** to be absolute? can't be a relative directory, so I wouldn't change it when in production?

[2015-05-20 21:21] bezoerb commented on #57
@juanbrujo as we don't know the path to the HTML file relative to the document root there's no robust solution for computing the asset path relative to the HTML right now but you can configure a relative path prefix to achieve this when you use the current master of critical.
See https://github.com/addyosmani/critical#options

[2015-05-22 10:30] vdclouis commented on #19
+1

[2015-06-08 16:19] brianmontana opened #85 "Option for specific CSS files?"
Since it grabs all link elements and inlines them, what if there was an option to include only specified css files you want inlined?

I use a noscript async fallback for css and critical inlines that :(

[2015-06-08 21:33] bezoerb commented on #85
Critical already adds a noscript async fallback for the existing stylesheets when inlining the critical path css with `inline-critical` so you shouldn't need to implement this on your own.

[2015-06-09 01:54] brianmontana commented on #85
Instead of checking against 'stylesheet' string in
[code]
 inline-styles.js allows an option of setting a string to check in rel and inlining that specific css link element.

[code]

[2015-06-09 15:30] bezoerb commented on #85
@brianmontana just updated [`inline-critical`](https://github.com/bezoerb/inline-critical) to ignore link tags which are already wrapped by `noscript`. Do you want to check if this solves your problem?
Btw, what is your workflow with critical? It looks like you are using the `inline` method which is marked as deprecated. (See https://github.com/addyosmani/critical/blob/master/index.js#L101)

[2015-06-09 16:12] brianmontana commented on #85
Oops fixed it, works perfectly now! Thanks Ben!

[2015-06-09 16:12] #85 closed

[2015-06-10 15:39] bezoerb commented on #58
@oliverfarrell wanna give it a try?

[2015-06-10 15:40] #45 closed

[2015-06-10 15:41] bezoerb commented on #53
merged in master, so this could be closed

[2015-06-10 16:15] bezoerb commented on #61
@alanontheweb just added a fix to `inline-critical`. Want to give it another try?

[2015-06-10 16:27] bezoerb commented on #50
Tested against `master`
* downloaded homepage from www.ureka.org as a complete file
* put inlined styles in separate css files
* run `cat index.html | node ~/GitHub/critical/cli.js -im > test.html`

Everthing went fine except that i was asked if phantomjs is allowed to access `https://assets.swarmcdn.com``

[2015-06-10 16:27] #50 closed

[2015-06-10 17:16] propertunist commented on #50
ok i am v. busy here presently, but will come back to this asap. thanks

[2015-06-10 20:51] #53 closed

[2015-06-25 17:22] ivanjuras opened #87 "Undefined is not a function"
After updating node today I'm getting this error:

     TypeError: undefined is not a function

The line where the error occurs goes like this:

    .pipe( critical({ ...

[2015-06-25 20:24] bezoerb commented on #87
@ivanjuras looks like you're trying to use the [`stream`](https://github.com/addyosmani/critical#gulp) method. This one isn't shipped yet and therefore only available in the master branch of critical . Are you sure you've got the right version?

[2015-06-25 20:31] addyosmani commented on #87
@ivanjuras Are you using stable? (0.5.7) or master? As @bezoerb notes above, we'll need to know what version you're using in order to assist further.

[2015-06-25 22:00] ivanjuras commented on #87
I'm using 0.5.7. It seems to be something with Gulp Orchestrator:

    'critical' errored after 6.53 ms
    [23:58:46] TypeError: undefined is not a function
    at Gulp.<anonymous> (MYDIRECTORY\gulpfile.js:135:12)
    at module.exports (MYDIRECTORY\node_modules\gulp\node_modules\orchestrator\lib\runTask.js:34:7)
    at Gulp.Orchestrator._runTask (MYDIRECTORY\node_modules\gulp\node_modules\orchest

[2015-06-25 22:06] bezoerb commented on #87
Try with master `npm install git+https://github.com/addyosmani/critical.git`
`stream` isn't available in the stable version (0.5.7) yet.

[2015-06-25 22:12] ivanjuras commented on #87
@bezoerb Yep, it's working now. Thank you very much.

[2015-06-26 05:38] #87 closed

[2015-06-26 16:44] biokillos commented on #54
I have the same issue, but cannot reorder script tags, i.e. having cloudflare or browser extensions that push them at the top. loadCSS() has a useful argument that allows to point an element and inserts all stylesheets before it. So the questions are:

1. Can I pass the argument?
or
2. Can I inline css in HTML, but withous using 'yours' loadCSS() and instead use 'mine' with the argument, styleshee

[2015-06-26 21:24] JZL003 opened #88 "Ignore is not working"
Following your demo of ignore, I found it made no difference what I did. It turns out the default install of critical in npm does not even include `clean-css`. I tried cloning the present git repository to no avail. The reason I want it is I have a few font families that critical is, oddly, changing the path to. It loads correctly  in the non-inline css but the critical inline-css goes wrong.

Is

[2015-06-26 21:37] bezoerb commented on #88
Try to install master from npm `npm install git+https://github.com/addyosmani/critical.git` as this feature hasn't been shipped yet.
If this doesn't work out for you it would be helpful if you could provide your critical config and the part of your css which should be ignored

[2015-06-26 21:58] JZL003 commented on #88
That still didn't work,
I tried

    // critical = require("/home/jonah/Dropbox/Public/MDJCL/yeoman/node_modules/critical/lib/core.js");
    // critical = require("/home/jonah/Dropbox/Public/MDJCL/yeoman/node_modules/oldCritical/index.js");
    critical = require("critical")
    critical.generate({
        // Inline the generated critical-path CSS
        // - true generates HTML
        // - fals

[2015-06-26 22:24] JZL003 commented on #88
It works now. I do not know what changed but the code is either

    gulp.task('critical', ['copystyles'], function(cb) {

        return gulp.src('dist/*.html')
            .pipe(require('critical').stream({
        // Inline the generated critical-path CSS
        // - true generates HTML
        // - false generates CSS
        inline: true,

        // Your base directory
        base: 'dist/'

[2015-06-26 22:26] bezoerb commented on #88
^^
Thanks for using `critical`

[2015-06-26 22:26] #88 closed

[2015-06-26 22:29] bezoerb commented on #58
Seems to work ;)
#88

[2015-06-26 22:29] #58 closed

[2015-07-01 10:14] raphaelgoetter opened #89 "inline: true generates CSS, not HTML"
Hello,

I'm using critical with Gulp :

[code]

When task is complete, the generates `index-critical.html` will be (whole file)  :

[code]

The critical CSS is good, but `inline: true` or `inline: false` generate the same result : CSS instead of HTML.

Where's the problem ?

[2015-07-01 21:25] bezoerb commented on #89
Try to install master from npm `npm install git+https://github.com/addyosmani/critical.git` as this version hasn't been shipped yet.
The docs for the latest version on npm an be found [here](https://github.com/addyosmani/critical/tree/v0.5.7)

when using master you can simply write your gulp task like this:
[code]

[2015-07-02 10:00] raphaelgoetter commented on #89
Thanks for the advice.

Tried 3 times to install, but freezes each time :/

[2015-07-07 21:04] jonorherrington opened #90 "Possible to run off URL"
Hello -

First off, thank you so much for creating this. It is awesome! Quick question for you. I have used similar tasks like that of Filament Groups CriticalCSS where they allow for you to insert a URL to run the task against. This comes in handy especially when you are working with a bunch of partials to create your pages.

My question is, is there a work around like this? Can you grab an actua

[2015-07-07 21:34] bezoerb commented on #90
@jonorherrington currently it's not possible to use critical with an url but i'm sure we could add this feature in one of the next releases. See #19.
Using a bunch of partials also isn't possible as we need the full html page to compute the critical path css. How should we detect the above-the-fold content if we just have some partials and don't know how they will be sticked together?

[2015-07-07 22:18] bezoerb commented on #89
@raphaelgoetter we finally released critical 0.6.0
Want to give it another try?
`rm -Rf node_modules/critical && npm install critical`

[2015-07-09 09:35] biokillos commented on #54
@bezoerb anything?

[2015-07-09 19:57] jonorherrington commented on #90
Good point about the partials. I was thinking off the cuff when I wrote that down.

Thanks for the quick feedback. I look forward to seeing this feature added in an upcoming release.

[2015-07-09 19:57] #90 closed

[2015-07-10 13:01] raphaelgoetter commented on #89
Hello @bezoerb , thank you for the update, it works !

BTW, in the compiled HTML file,  why is the script loaded in head part ? Doesn't it block rendering ?

[2015-07-10 13:07] bezoerb commented on #89
See: https://github.com/filamentgroup/loadCSS#usage

[2015-07-10 13:10] raphaelgoetter commented on #89
Thanks :)

[2015-07-10 13:11] #89 closed

[2015-07-10 13:12] addyosmani commented on #89
:+1:

[2015-07-10 15:50] johjacb commented on #87
I'm seeing this issue now after updating to 0.6.0.

[code]

using this bit from the docs
[code]

[2015-07-10 20:15] bezoerb commented on #54
@biokillos sorry for the late response. I've just released a new [`inline-critical`](https://github.com/bezoerb/inline-critical) version which enables you to either pass in an selector for the `before` element or just skip `loadCSS` by ignoring all `link` tags. `link` tags inside of `noscript` will be ignored by default so in case you're using loadCSS already and there are no link tags left it sho

[2015-07-10 20:24] bezoerb commented on #87
@johjacb do you also got this bit?
`var critical = require('critical').stream;`

[2015-07-11 12:49] raphaelgoetter opened #91 "Possible to manage PHP includes ?"
Hello,

I'm using PHP templates with includes ans I'm wondering if Critical could manage this.

Ex.

index.php :
[code]

head.php :
[code]

I know that PHP is a server language, but it could be possible to detect the included files ?

[2015-07-12 09:00] bezoerb commented on #91
handling PHP is a bit out of scope for this project but you could use [php2html](https://github.com/bezoerb/php2html) to create the html files in the first place

[2015-07-13 07:31] raphaelgoetter commented on #91
Could do the job, thanks.

[2015-07-13 10:37] #91 closed

[2015-07-13 10:38] bezoerb commented on #61
@alanontheweb any updates here?

[2015-07-13 15:07] raphaelgoetter opened #92 "PhantomJS error with some APIs"
Hello,

I use the Lanyrd and the Flickr API on my webpage in order to show my next conferences and my flickr pictures.

(gulp-)Critical compile with an error, certainely due to iframes :

Is there a solution ? Can we tell Phantom *not* to parse several domains ?

[2015-07-13 15:16] raphaelgoetter opened #93 "Media Queries not applied ?"
Hello,

(gulp-)Critical shouldn't add Media Queries rules when they are larger than the specified scope.

My dimensions config :

[code]

When inlined, some undesired Media Queries appear :

[code]

Are there some options I forgot ?

[2015-07-13 19:06] pocketjoso commented on #92
If I understand you correctly the issue should be handled by `Penthouse`, and is already raised here: https://github.com/pocketjoso/penthouse/issues/58

I haven't had time to get around to it yet, but hopefully next weekend if not sooner.

[2015-07-13 19:07] bezoerb commented on #92
@pocketjoso thanks :+1:

[2015-07-13 21:01] johjacb commented on #87
i do not - i added it in and am no longer see the error. thanks!

[2015-07-14 15:13] jmartsch opened #94 "Add URL support and support for filetypes other than HTML"
Hi, it would be great if an option would be added where i can use a URL instead of a HTML-File because my files are served with a CMS.
criticalCSS from Filament Group has support for this, but does not do the inlining. This is bad for my build process.

After getting the critical CSS the inlining should work with every filetype, as I have to use .php or .inc files.
This could be an example:
[code]

[2015-07-14 15:19] bezoerb commented on #94
@jmartsch i'm sure we could add this feature in one of the next releases. See #19 and #90.
Until then you could use [`inline-critical`](https://github.com/bezoerb/inline-critical) for inlining.

[2015-07-14 15:21] jmartsch commented on #94
Thank you for the quick reply and suggestion.

I am looking forward to the next version :)

[2015-07-18 13:57] julienetie opened #95 "Styelsheet URL breaks when moving up in the directory "../""
This:

[code]

becomes:

[code]

It's not always convenient when taking src from a different directory (unless I'm doing something wrong) The same applies for multiple traversing. I found this but I'm not sure if the change will break anything:

lib/inline-styles.js

[code]

Maybe remove the back tracking of dir could be better as an option.

[2015-07-18 19:14] pocketjoso commented on #92
@bezoerb This should be resolved in `Penthouse 0.3.4`.

[2015-07-18 21:03] bezoerb commented on #92
@raphaelgoetter wanna try using a clean install of critical?
`rm -Rf node_modules/critical && npm install --save-dev critical`

[2015-07-18 21:04] bezoerb commented on #92
thanks again @pocketjoso

[2015-07-18 21:09] bezoerb commented on #95
@julienetie could you provide some more information about your setup?

[2015-07-18 21:23] bezoerb commented on #94
@jmartsch just got another thought on your issue. Even with critical supporting urls i think it wouldn't be possible to inline the results to your `header-critical.php` as the inlining only works with html.
When using php it's easy to inline the generated critical css yourself by just using something linke this:
[code]

[2015-07-19 06:52] raphaelgoetter commented on #92
Nope, error is still there :

The script that fails :
[code]

[2015-07-19 07:06] pocketjoso commented on #92
Ah I see, that's a different error.
Again, it's for `Penthoue` to handle. I'll open an issue.

[2015-07-19 09:25] jmartsch commented on #94
I thought of the same :) Thanks.

[2015-07-19 11:39] pocketjoso commented on #92
@raphaelgoetter Since I can't reproduce these errors reliably locally, do you reckon you could test the fix I have in mind locally on your machine?

Open `node_modules/penthouse/lib/config.json` and add two lines:
[code]

If you can report back that that resolves your issues, then I will merge that fix into `Penthouse` (which will then come to `critical`).

[2015-07-19 14:32] raphaelgoetter commented on #92
Hello,

The closest file I found was :

`critical/node_modules/penthouse/lib/phantomjs/config.json`

Actual config :
[code]

Added :
[code]

Same issue still :(

[2015-07-19 14:45] pocketjoso commented on #92
@raphaelgoetter Thanks for testing that. I will go with another solution then, I hope I can finish that today, but can't promise so. Will post here when I have it ready.

[2015-07-19 14:48] raphaelgoetter commented on #92
No emergency for me :)
That's very kind of you.

[2015-07-19 20:52] julienetie commented on #95
Sure:

So this is the css src
[code]
which critical outputs into the html as:
[code]
gulpfile.js
[code]

[2015-07-19 21:55] bezoerb commented on #95
@julienetie i've made some tests but i couldn't reproduce your issue.
The background-image in the critical css always resolves to `url('/funny-how.jpg')`

Which version of critical are using?

[2015-07-19 21:57] bezoerb commented on #95
You also could use the [`stream`](https://github.com/addyosmani/critical#gulp) method when using with gulp.

[2015-07-24 10:48] Snugug opened #96 "Inventing Styles?"
When I run Critical on [my blog](https://github.com/snugug/blog), Critical is adding a few styles that are not in my stylesheets normally, including `background-color: #9999cc` and `border-bottom: 1px inset black`.

More weird, actually, is it's adding a bunch of styling to raw tags and, except for my CSS reset, I don't style using raw tags, so I don't know where these styles are being found and p

[2015-07-24 11:18] bezoerb commented on #96
This problem sounds really weird.
Could you provide some more details about your critical configuration so we can dig in a bit?

[2015-07-24 11:19] Snugug commented on #96
Here's my critical task:
https://github.com/Snugug/gulp-armadillo/blob/master/tasks/critical.js

[2015-07-24 22:30] Snugug commented on #96
Okay, this was a weird one to track down, but everything's fine! There was a `XMLHttpRequest` somewhere that wasn't returning correctly and in Chrome that was writing something crazy stupid that included tag styling and that's where this was coming from.

[2015-07-24 22:30] #96 closed

[2015-07-24 22:39] bezoerb commented on #96
;)

[2015-07-26 11:54] julienetie commented on #95
Thanks @bezoerb, I'll give it a try.

[2015-08-02 10:37] tigranpetrossian opened #97 "Make plugin work with "cdnified" HTML files."
The way my Gulp setup is structured, Critical runs after creating a build where the href to CSS looks like `http://cdn.example.com/css/styles.css` so obviously I end up with an empty `<style>` tag as a result.

It would be great to make critical grab CSS from a local file by converting `href` to a relative reference. Please? :)

[2015-08-06 21:11] bezoerb commented on #95
@julienetie any updates on this one?

[2015-08-06 21:17] bezoerb commented on #93
I think this might be an issue in [`penthouse`](https://github.com/pocketjoso/penthouse)
@pocketjoso any thoughts on this?

[2015-08-07 07:15] pocketjoso commented on #93
@bezoerb You're right, `Penthouse` so far doesn't parse media queries other than for the purpose of removing empty ones.

@raphaelgoetter Can you open an issue in [Penthouse](https://github.com/pocketjoso/penthouse/issues) and I'll try to get something in this weekend?

[2015-08-08 10:44] pocketjoso commented on #93
Opened an issue: https://github.com/pocketjoso/penthouse/issues/67

[2015-08-08 15:02] raphaelgoetter commented on #93
Sorry, i'm on holidays with very few connexion :/

[2015-08-08 17:49] pocketjoso commented on #93
@raphaelgoetter No rush, it's not going to be resolved overly quickly on Penthouse's side anyway.

[2015-08-14 14:25] vlrprbttst opened #99 ">> Error opening url 'undefined': undefined"
I've just installed grunt critical on my project, this is what's in my gruntfile
[code]

and my project folder structure

![](http://i.imgur.com/KBcmwjQ.png)

i then run `grunt critical` but the task is aborted. using --verbose and --force, the only input i have is this:

[code]

any idea of why this is happening? thanks!!

[2015-08-14 15:13] bezoerb commented on #99
@vlrprbttst critical couldn't handle php files as this is a server side language which needs it's own interpreter. You could use ['grunt-php2html'](https://github.com/bezoerb/grunt-php2html) to convert your files to html in the first place and use these with critical to generate the critical path css.
You could then use the following code to inline the css in your page:
[code]

[2015-08-14 15:15] vlrprbttst commented on #99
oh, so no way of using it on any php sites?
thanks!

[2015-08-14 21:28] bezoerb commented on #99
@vlrprbttst i've created a gist with a working solution for using critical with php.
You'll only need [php-cgi](https://github.com/bezoerb/grunt-php2html/blob/master/README.md#installing-php-cgi) installed and in your PATH.
https://gist.github.com/bezoerb/a7ef67781f9ccafe36c2

[2015-08-15 19:37] vlrprbttst commented on #99
thanks a lot! but to i still need to convert php to html? that's something I can't do unfortunatly

[2015-08-16 09:02] pocketjoso commented on #99
@vlrprbttst You could use of [Penthouse](https://github.com/pocketjoso/penthouse), create critical css for each page, and then inline if yourself via php. That's what I've been doing for my own site, with this kind of code in a php header file:

[code]

For convenience I just named my critical css exactly the same as each `php` file, just with an extra `.css` extension, so f.e. `about.php.css`.

[2015-08-16 11:19] pocketjoso commented on #99
Someone else asked me the same question so I created a gist for this solution:
https://gist.github.com/pocketjoso/58cb89ad9e69e4da297e

[2015-08-16 18:12] vlrprbttst commented on #99
@pocketjoso thanks! that's what I'm using at the moment but I was thinking of switching cause your plugin doesn't extract all the relevant css.. some are missing and that creates a pretty ugly FOUC :/

[2015-08-17 10:56] pocketjoso commented on #99
@vlrprbttst `Critical` used `Penthouse` to generate critical css, so as long as you put in the same css you'll get exactly the same result.

I always advice against extracting the critical css from the full css as I think there are only benefits to doing so in the majority of cases.

[2015-08-17 11:08] vlrprbttst commented on #99
oh ok! then I'll keep using penthouse then. I didn't understand your last statement, what do you mean?
thanks anyway  @bezoerb

[2015-08-17 11:27] pocketjoso commented on #99
I think I misunderstood what you meant with `extracting` relevant css - you mean that the `critical css` is missing some rules that should be there? Please open an issue on the [Penthouse](https://github.com/pocketjoso/penthouse) repo with some more details and I'll look into it!

[2015-08-17 14:35] vlrprbttst commented on #99
yes exactly :) i will!

[2015-09-04 10:50] relhtml commented on #19
+1 For this feature.

From my understanding, in order to determine the Critical CSS from a series of partials, you would need some sort of headless browser (PhantomJS?) to render the page as a whole, then determine the "above-the-fold" content from there?

[2015-09-13 05:10] danimalweb commented on #19
This is a great idea +1.

[2015-09-27 20:04] bezoerb commented on #94
@jmartsch remote resources are now possible when you are using the `master` branch.
Want to give it a try?

[2015-09-27 20:06] bezoerb commented on #90
@jonorherrington remote resources are now supported in `master`.
Want to give it a try to see if it fits your needs?

[2015-09-29 05:13] bezoerb commented on #79
@tbredin it looks like this should be fixed now. Want to give it another try?

[2015-10-04 20:07] petulla opened #102 "Wrong elements' styles returned to critical sheet"
Here is my gulp task:

[code]

I'm not getting anywhere near the style sheet I need outputted from the task, I'm afraid. Is there something obvious I'm missing in the task? I'm seeing absolutely positioned elements well down the page and past the critical rendering path receiving styles while elements at the top's styles aren't outputted in the `critical.css` file.

[2015-10-09 14:31] jmartsch commented on #94
@bezoerb Yes I want to try it, what is the parameter for the remote resource? Could not find it in the readme.

[2015-10-09 14:52] jmartsch commented on #94
As I installed this via npm i am getting an old version (0.6.0). Just have to figure out, how to get master branch via npm.

[2015-10-09 14:56] bezoerb commented on #94
@jmartsch for simple use cases it should just work when you use an url for the src parameter.
When you want to inline images, too you should also configure `assetPaths`

use `npm install --save-dev git+https://github.com/addyosmani/critical.git`

[2015-10-09 14:59] bezoerb commented on #94
you can also try the cli with some urls:
e.g.
`node_modules/.bin/critical http://2015.jsconf.eu/ -m`

[2015-10-11 00:46] asuh commented on #53
This ticket took me a while to find, and it's good to know, but [looking at the Critical Path CSS Demo](https://github.com/addyosmani/critical-path-css-demo) makes it appear think `styleTarget` and `htmlTarget` are the way to go and not deprecated.

[2015-10-11 11:22] jmartsch commented on #94
Running `node_modules/.bin/critical http://localhost/mysite/www -m` works.
But when I use gulp I get the following error:
Unhandled rejection Error: A valid source and base path are required.

Here is my gulp task
[code]

[2015-10-18 13:13] cometta opened #104 "duplicated CSS"
After critical CSS is generated and inlined in index.html, the existing external source styles.css have duplicated css that already existed inside inlinded index.html. I believe this is a default behavior. Any plan to do enhancement to remove those css from source styles.css?

[2015-10-18 21:38] bezoerb commented on #104
you could try the `extract` option. See https://github.com/addyosmani/critical#options

[2015-10-19 12:21] cometta commented on #104
i tested, the inline css still exist in style.<random>.css.

gulp.task('critical', function () {
    return gulp.src('dist/*.html')
        .pipe(critical({base: 'dist/', inline: true, extract:true, css: ['style.css']}))
        .pipe(gulp.dest('dist'));
});

[2015-10-19 13:26] cometta commented on #104
it is working. thank you.

[2015-10-19 13:26] #104 closed

[2015-10-24 18:28] yahreen opened #106 "loadCSS style not honored in subdirectories"
Here is my Grunt task:

[code]

Which outouts the following on my homepage `mysite.com/` and works as intended:

[code]

However, on a subdirectory such as `mysite.com/clients/`, the following is output:

[code]

The styles in `main.min.css` that have not been inlined are not honored on the page including `:hover`, etc.

`main.min.css` loads fine and no errors are reported.

[2015-10-28 09:17] jmartsch commented on #94
Bump

[2015-10-28 09:25] bezoerb commented on #94
No, sorry. Hope to have some free time in the next days to work on this.

[2015-11-02 04:46] bezoerb commented on #106
@yahreen i can't see anything unusual in the provided output. Is there another stylesheet loaded after main.min.css? can you provide a link to your page or a gist with the `<head>` section?

[2015-11-02 20:23] yahreen commented on #106
@bezoerb Here is a gist of the `head` output:

https://gist.github.com/yahreen/703bd08b14f39377a82b

[2015-11-02 22:06] bezoerb commented on #106
@yahreen commented in the gist

[2015-11-03 17:03] yahreen commented on #106
@bezoerb Commented back in Gist

[2015-11-08 13:46] marcustisater commented on #19
+1 would love to use this in a WordPress project.

[2015-11-10 22:49] #99 closed

[2015-11-10 22:56] bezoerb commented on #97
@tigranpetrossian could you try again with the `master` branch?
[code]

[2015-11-11 08:25] tigranpetrossian commented on #97
@bezoerb Works as charm. Thank you!

[2015-11-11 15:26] #97 closed

[2015-11-13 16:05] bezoerb commented on #94
@jmartsch i guess you missed the `base` option ;)
I added some default value as this is mostly relevant for image inlining and the extract option and has no real impact when neither of these are used.
You don't need `inline:false` as this is the default value.
Want to try again?

[2015-11-13 16:10] SerzN1 commented on #95
You must use option
`pathPrefix: '/' + yourPath`
Your code will be immediately on the page.

[2015-11-13 22:43] jmartsch commented on #94
It just doesn´t work. I updated to latest version, then
ran my gulp task
[code]
Then the task runs forever. It generates a temporary .html and two .css files. But the contents are always coming from getbootstrap.com and not from the domain I entered in src. Am I doing something wrong?

[2015-11-13 23:12] bezoerb commented on #94
That's weird.
I tried to reproduce your error:
[code]

[code]

[code]
and got some critical css from heise.de
[code]

[2015-11-13 23:14] bezoerb commented on #106
@yahreen i've just added the latest version of loadcss to `master`.
Maybe this fixes your problem?
Want to give it a try?
[code]

[2015-11-14 08:36] jmartsch commented on #94
Maybe this is a problem on Windows? I am using Windows 10 (Win 8.1 at time of first writing) and tried it with node 4.2.1 and 0.12.7, but none of them finishes. I tried using penthouse directly and it ran fine.
Although now after removing and reinstalling critical, the content gets pulled from heise.de, but using your code example also leaves the temp files, and the process does not finish. Seems

[2015-11-14 22:14] yahreen commented on #106
@bezoerb That did the trick! Thanks a bunch!

[2015-11-14 22:14] #106 closed

[2015-11-15 10:04] bezoerb commented on #93
@pocketjoso any updates on Penthouse's side?

[2015-11-15 11:54] pocketjoso commented on #93
I'll add this functionality to `Penthouse` now, will have a new release with a fix for it later today.

[2015-11-15 19:19] pocketjoso commented on #93
Unmatched media queries are now removes as per [Penthouse@0.7.0](https://github.com/pocketjoso/penthouse/releases/tag/v0.7.0)

[2015-11-16 06:51] bezoerb commented on #93
Just updated to penthouse 0.7.0
Thanks @pocketjoso

[2015-11-16 06:51] #93 closed

[2015-11-16 06:52] bezoerb commented on #82
@approached your problem should be fixed in `master`

[2015-11-23 16:22] bezoerb commented on #94
@jmartsch the issue is reproducible on windows. I've fixed this for external urls in master but the gulp still hangs when using local files.

[2015-11-23 18:05] FernandoGOT opened #107 "intermittent"
I'm using critical with gulp/node and it is intermittent, some times it work and others not. So I want to know if there is a way to get some logs about the files being processed, cpu usage and memory usage?

Gulp code:

[code]

Node Code:

[code]

[2015-11-24 11:10] bezoerb commented on #94
@jmartsch this should be solved in master by now

[2015-11-24 16:18] tarciozemel opened #108 "Error: spawn EACCES"
Trying to test the plugin, but I always get this error:

[code]

Tried to find some generic fix and follow many community suggestions -- as update Node and use manual instalation of PhantomJS --, but still not.

[2015-11-24 16:20] addyosmani commented on #108
Have you tried https://docs.npmjs.com/getting-started/fixing-npm-permissions?

[2015-11-24 16:26] tarciozemel commented on #108
Just tried and still nothing.  =/

PS: I'm in a Vagrant environment, but all the other gulp tasks are OK, so I presume this is not influencing in nothing.

[2015-11-25 10:53] jmartsch commented on #94
@bezoerb It works now but it does take a long time for the task to finish although gulp says the task is finished.
[code]
After the message appears, the files are generated, but ending the process and deleting of the temporary files does take another 20-25 seconds after that in my case.

[2015-12-12 01:58] KingScooty commented on #104
Is this only working when using the inline option? When inline is disabled, extract doesn't seem to work as i'm still getting duplicate CSS.

[2015-12-12 02:21] KingScooty opened #109 "Duplicate CSS in main.css and critical.css?"
I'm coming across quite a few weird issues when using critical with gulp.

Despite having `extract` enabled, i have duplicate CSS in my main.css and critical.css. Am i doing something wrong? The desired outcome is this:
- Clone `main.css` and call it `site.css` (this file stays untouched, includes all css for JS disabled browsers)
- Generate critical CSS file - `critical.css`
- Remove the critical

[2015-12-13 22:29] bezoerb commented on #94
@jmartsch i'm investigating this at the moment.
Looks like something's holding back the `process.exit`
[code]

[2015-12-13 22:33] bezoerb commented on #94
so i guess the time lag results from an uncleared timeout in [`penthouse`](https://github.com/pocketjoso/penthouse/blob/master/lib/index.js#L95)
When i manually patch penthouse to clear the timeout after phantomjs is done the 20-30s lag is gone

[2015-12-13 22:46] bezoerb commented on #94
https://github.com/pocketjoso/penthouse/pull/98

[2015-12-14 06:38] bezoerb commented on #109
The `extract` option only works in conjunction with `inline: true`
The workflow is:
* Generate critical.css

_everything below is handled in [`inline-critical`](https://github.com/bezoerb/inline-critical)_

* Extract critical.css from main.css
* Inline critical.css
* Save modified main.css in the same folder as main.<uniqe-hash>.css
* use loadCSS to load the modified main.<hash>.css

If you just g

[2015-12-14 07:07] bezoerb commented on #107
@FernandoGOT you can set the `DEBUG` environment variable to `critical:*` to get some additional output but this doesn't include cpu & memory usage. As this isn't shipped yet you'll need to use the current `master`

[2015-12-14 08:45] jmartsch commented on #94
@bezoerb Thanks for taking your time looking into this :)

[2015-12-14 14:53] bezoerb commented on #102
@petulla The task configuration looks ok but it's pretty hard investigate your issue without the used html,css and js. Can you post a link to the website you are working on?

You are using `dest` and `htmlTarget` in your task. Is this just for debugging purpose or are you using both (css & html) in a later step of your build process? I'm asking because we've deprecated the `htmlTarget` and `styleT

[2015-12-14 15:08] bezoerb commented on #79
Tests are green so i'm closing this one. Please feel free to re-open it if the error still occurs

[2015-12-14 15:08] #79 closed

[2015-12-14 15:12] bezoerb commented on #19
Remote access is available in `master`.
See #94 for details.
Anyone else willing to test this?

[2015-12-14 23:25] KingScooty commented on #109
@bezoerb Ah, okay, that makes a bit more sense. I assumed `critical` would handle removing the critical styles from my main.css too.

I've just had a go of `cave`, but i can't seem to get it to work with my gulp pipeline. The terminal command works, but outputs un-minified css :/

Do you know how to get `cave` working inside gulp via pipes?

[2015-12-15 16:11] bezoerb commented on #94
Pull request accepted & penthouse bumped.
The delay is gone :)

[2015-12-15 20:10] drcmda opened #110 "Missing support for onLoad"
Hello Addy,

my site uses Javascript to calculate height for certain elements (section waypoints). Usually this is safe to do when the document has loaded. With critical though my css is async. JS calculates wrong and sometime later the css comes in. Fillament has an event for it luckily.

This is what critical generates for me:

    <script>
    (function(u){function loadCSS(e,t,n){"use strict";f

[2015-12-16 09:17] jmartsch commented on #94
You´re the best. Thanks for everything :)

[2015-12-16 09:17] #94 closed

[2015-12-21 13:08] stn1978 opened #111 "Multiple HTML sources"
Hey guys, is it possible to specify multiple HTML sources? Usecase: I've got the homepage and one more important entry point, a landing page. Now I need the critical CSS of both combined and inlined and all the rest in a separate file. Is there any way to do that? I read Issue #38, but I never got working what was described there. Thanks & merry christmas ;)

[2015-12-28 12:45] ethyde opened #112 "Add or inline critical CSS file ?"
Hi,

I have read #89 and #109 but i don't find any solution with ```inline``` option to just add or append critical CSS file to any other file (i.g : a template, or any kind of include) instead of generate a complete, static html file, it's possible ?

Thanks.

[2015-12-28 16:13] luckyraul opened #113 "Media print"
When I used critical via url I got media="print" css used as normal css and created critical with it's contents

[2015-12-28 22:28] bezoerb commented on #113
Good catch. Looks like we need to patch `oust` for this one.
https://github.com/addyosmani/oust/pull/17

When this PR is accepted we can filter extracted stylesheets.
/cc @addyosmani

[2015-12-31 15:58] gisu commented on #104
And only on a `index.html` other Files like `article.html` have no doubled Inline CSS.

[2016-01-02 00:05] bezoerb commented on #112
No, the `inline` option can only produce a complete static html file. When you want to include critical in a partial you'll need to generate the critical css and do the inlining yourself.

[2016-01-02 08:55] ethyde commented on #112
Ok, thanks.

[2016-01-02 08:55] #112 closed

[2016-01-12 06:13] ryanmargheriti commented on #102
I was having the same issue. I found explicitly setting the stylesheet (as well as having it in the html) fixed my problem.

@petulla I see that you already setting the stylesheet so this won't fix your issue, but might be helpful for others who land on this page.

[2016-01-12 15:23] bakaat opened #115 "Extract not removing some rules"
Hi,

We've got a problem where some css rules are not properly extracted from the source file. In rule

    .spinner {
      position:relative;
      width:1em;
      height:1em;
      font-size:32px;
      border-bottom:2px solid;
      overflow:hidden;
      text-indent:100%;
      -webkit-animation:.5s spinner linear infinite;
      animation:.5s spinner linear infinite}

The same rule inlined

[2016-01-13 09:53] pocketjoso commented on #115
This is due to how [Penthouse](https://github.com/pocketjoso/penthouse) deals with invalid css. Could you please raise the issue there and I'll respond to it?

Cheers,
Jonas

[2016-01-13 10:33] bakaat commented on #115
Closed in favour of https://github.com/pocketjoso/penthouse/issues/102

[2016-01-13 10:33] #115 closed

[2016-01-13 20:53] lozandier opened #116 "Section in FAQ that perhaps warns against using Critical in HTTP/2 environments w/ Push Promises being available"
## The Problem

With the increased adoption of HTTP/2, it seems a good idea to put in the FAQ section of this project that the use of this project in HTTP/2 environments should be an cautionary action to take  if prospective users have access to their HTTP/2 server's functionality to use push promises to inline the resources they were thinking about the Critical inlining for them.

This is assumin

[2016-01-18 22:46] bezoerb commented on #19
Closing this as the requested feature is released in (v0.7.0)[https://github.com/addyosmani/critical/releases/tag/v0.7.0]

[2016-01-18 22:46] #19 closed

[2016-01-18 22:53] bezoerb commented on #111
Multiple HTML sources are not supported by now. You may generate the critical css for both pages and squash the styles together with [`clean-css`](https://github.com/jakubpawlowicz/clean-css).
But why don't you just inline the critical css for the homepage in the head of your homepage and the one for the landingpage in the landingpage?

[2016-01-18 23:02] bezoerb commented on #110
@drcmda this issue could not be solved here as the inlining is handled by `inline-critical`. I made an issue over there

[2016-01-18 23:03] bezoerb commented on #110
closed in favor of https://github.com/bezoerb/inline-critical/issues/47

[2016-01-18 23:03] #110 closed

[2016-01-25 16:21] oskarrough opened #118 "Option to exclude specific stylesheets"
Hi, critical automatically moves all stylesheets found into a `<noscript>` block and loads them async via loadCSS.

How would you exclude a specific stylesheet from this logic? Or only include a specific stylesheet? I understand Penthouse does this but critical is easier to use as it can inline everything.

[2016-01-25 16:59] Tempurturtul opened #119 "Difficulty using stream method with Gulp and a glob pattern."
As demonstrated [here](https://github.com/addyosmani/critical#gulp), I'm attempting to use the stream method to inline critical CSS for all .html files matched by a glob pattern.  My usage differs in that I'm also matching .html files in subdirectories (`dist/*.html` vs `dist/**/*.html`).

The problem I'm having is that critical's base option needs to be redefined for each subdirectory in order fo

[2016-01-29 04:53] bezoerb commented on #119
@Tempurturtul i've provided a fix in the vinyl branch. Could you check if this fixes your issue?
[code]

[2016-01-29 08:34] Joostvanderlaan commented on #111
The method suggested by @bezoerb is best, to generate critical CSS for each file.

This is how I did it (using Gulp):

`

// Critical Render path CSS tasks - https://github.com/addyosmani/critical-path-css-demo#tutorial
gulp.task('copystyles', function() { // Copy our site styles to a site.css file for async loading later
    return gulp.src(['dist/styles/main.css'])
        .pipe($.rename({

[2016-01-29 12:43] Tempurturtul commented on #119
Thanks bezoerb. Here's the error I'm now receiving in all cases (without Plumber, output is "Fatal undefined"):

[code]

[2016-01-29 22:21] bezoerb commented on #119
@Tempurturtul there was an incompatibility to vinyl < v0.5.3. This should be fixed now by 846c233e1bf26b129b002ea7fc8d1fa3429ee2d0

[2016-01-30 03:47] Tempurturtul commented on #119
Confirmed; thank you!

[2016-02-03 19:38] micahblu opened #121 "Receiving an event emitter memory leak"
I have 0.6.0, when running the gulp task I get:

[code]

My gulp task:

[code]

[2016-02-03 22:12] micahblu commented on #121
I upgraded to the latest version of node v5.4.1 and still the issue however the error trace is a bit different:

[code]

[2016-02-04 11:01] pocketjoso commented on #121
You could always add `process.setMaxListeners(0)` in your code, which will mute this warning.

Not sure why `critical` itself is leaking though.

[2016-02-04 16:50] bezoerb commented on #121
@micahblu could you test against the `master` or `vinyl` branch? I Think this could be related to the recently fixed memory leaks in penthouse. I just tested gulp + critical on a folder with 36 files and got no memory leak warnings. So i guess this is should already be fixed.

[2016-02-04 17:00] bezoerb commented on #95
We've made some progress on this topic @julienetie. The asset paths inside the critical css should now stay relative in case they were relative the first place. Could you check if your issue is fixed in the `vinyl` branch?
[code]
/cc @SerzN1

[2016-02-04 17:00] bezoerb commented on #57
@juanbrujo we made some progress on this topic. The asset paths inside the critical css should now stay relative in case they were relative in the original css. Could you check the `vinyl` branch if this fixes your issue?
[code]

[2016-02-05 10:45] frankwaalkens opened #122 "CSHTML file instead of HTML"
Hi There,

The critical plugin doesn't seem to work with .cshtml files. Is it a known problem?,  and more important, is there a fix for my problem?

Screenshot gulp task error:

![image](https://cloud.githubusercontent.com/assets/11975073/12844140/ee3385c0-cbfd-11e5-95e5-cb8d490aebd7.png)

With kind regards,

Frank

[2016-02-05 16:22] bezoerb commented on #122
@frankwaalkens critical doesn't support server-side languages like ASP or PHP as parsing these files is a bit out of scope for this project.
You can alternatively use the corresponding url to your server as `src` to process the files.

[2016-02-05 16:31] bezoerb commented on #118
@oskarrough this is currently not possible with critical. `inline-critical` already has an option for this but there's no way to pass this configuration value from critical at the moment.
I'm considering an `inlineOptions` property which will be passed directly to `inline-critical`.

[2016-02-08 13:15] frankwaalkens commented on #38
This solution won't work when using absolute paths to my files on the server. (we use .cshtml files).

[2016-02-08 21:35] micahblu commented on #121
@bezoerb I'm going to close this for now as it only appears to be happening on my ubuntu machine? I've tried the task on several other machines and was unable to recreate the issue. Thanks for the quick reply.

[2016-02-08 21:35] #121 closed

[2016-02-09 09:56] frankwaalkens commented on #122
Src with multiple files on the server won't work for me since you guys implemented multiple src files with: src: [*.html].

[2016-02-15 22:02] ospar0829 commented on #111
Multiple HTML sources  will be very useful for AngularJS with multiple views, where all critical css of every view (at least home and landing pages) should be inline in the index.html

[2016-02-17 22:22] crobinson42 opened #123 "CHANGELOG.md"
Hey folks, I'm curious if you'd be willing to implement a CHANGELOG.md in the project. This would be helpful to see the changes and updates between version increments.

[2016-02-23 10:08] JakeHenshall opened #124 "Critical CSS and Twig Files"
Hi,

I'm trying to use this for applying critical css into my twig files.

I've had this working perfectly before but i've updated to gulp 4 and restructured my gulp file(s).

Any help would be much appreciated.

        var critical = require('critical').stream;

        function critical() {
            return gulp.src( plugins.path.join( project.paths.views, '**/*.twig' ) )
                .pip

[2016-02-24 15:31] juanbrujo commented on #57
@bezoerb ok tested it and it's working fine but a couple of concerns. this is my folder structure (test):

![screen shot 2016-02-24 at 12 26 58](https://cloud.githubusercontent.com/assets/362186/13290288/ebd38ea8-daf1-11e5-8fa5-e684a990fa48.png)

and this is the config (I'm forcing the `height` to test the output):

[code]

as you can see even if `base` is in `dist/` the file output is being creat

[2016-02-25 23:23] bezoerb commented on #57
@juanbrujo good point. Thanks for the detailed explanation :) Currently the src file is resolved relative to `base` and the dest file gets written relative to `process.cwd` which somehow doesn't make sense as the relative asset paths are computed relative to src. I think this needs a bit more concept ;)

[2016-02-29 15:22] JakeHenshall commented on #124
Hi,

I'm still having issues getting this to work.

Can anyone help out.

Thanks.

[2016-03-01 12:20] bezoerb commented on #124
@JakeHenshall which version of critical are you using

[2016-03-01 12:32] JakeHenshall commented on #124
@bezoerb I was using "critical": "^0.6.0" but since then ive updated to 0.7.1from npmjs

[2016-03-16 16:53] thomasdigby opened #125 "Include selectors"
Similar to the ignore property, is it possible to include a list of selectors to explicitly include, regardless of their visibility within the defined viewport?

[2016-03-17 05:42] bezoerb commented on #125
we can use the penthouse forceInclude option to achieve this.

[2016-03-17 21:55] bezoerb commented on #125
Just added the `include`option
https://github.com/addyosmani/critical/compare/88f66ba...39498

[2016-03-17 22:08] bezoerb commented on #125
@thomasdigby. The include option is available in [v0.7.2](https://github.com/addyosmani/critical/releases/tag/v0.7.2)

[2016-03-19 23:02] pedrokost opened #126 "Fails with HTML refresh"
If the page contains:

```<meta http-equiv=refresh content="0; url=/fleet-monitor/"/>```

The output is "Fatal undefined".

Removing this meta tag works (does not throw an error).

[2016-03-30 07:08] luckyraul commented on #113
any updates ?

[2016-04-07 15:38] AllThingsSmitty opened #128 "Making Critical CSS an online capability?"
Any thought on making this very cool capability an online service?

[2016-04-07 16:19] pocketjoso commented on #128
What about:
https://jonassebastianohlsson.com/criticalpathcssgenerator/
https://criticalcss.com

? :)

[2016-04-07 16:36] AllThingsSmitty commented on #128
Wow, I wasn't aware of those resources. Thanks, @pocketjoso. 👍🏼

[2016-04-12 12:32] #128 closed

[2016-04-13 04:37] bezoerb commented on #126
@pedrokost This file is just a redirect to `/fleet-monitor/` so you shouldn't create critical css for this file at all.

[2016-04-13 04:39] #126 closed

[2016-04-13 04:40] bezoerb commented on #125
@thomasdigby can you confirm this works for you?

[2016-04-18 15:48] bezoerb commented on #122
You'll need to use some module like [`gulp-remote-src`](https://www.npmjs.com/package/gulp-remote-src) or process every url manually. Maybe
[code]

[2016-04-18 15:49] #122 closed

[2016-04-21 00:16] mikeebee opened #130 "Error when using local url as source"
Using a HTML file url works great, so does a remote url. But when I try to use a local url through MAMP, I get this error...

`Unhandled rejection Wrong status code 403 for [object Object]`

Any ideas?

Using via npm and Gulp
v.0.7.2

Here is my code...

[code]

Let me know if you need more information.

Thanks!

[2016-04-23 10:24] dimbslmh opened #131 "Slow (high latency) internet connections"
Scenario:
- Mobile internet (low speed/high latency)
- Page with bootstrap.css and main.css with custom styling

On slow mobile connections, the loadCss is very noticeable.
Initially the inline critical CSS is shown, but when it loads the remaining CSS files, you can see bootstrap.css override the inline CSS and afterwards it gets overridden by the main.css.

What's the best way to solve this? Or

[2016-04-23 10:28] pocketjoso commented on #131
If you never want to display the result of only having loaded one of these two stylesheets, my suggestion would be to concatenate them.

[2016-04-23 10:46] dimbslmh commented on #131
Yes, that's what I need. Thanks for the fast response.

[2016-04-23 10:46] #131 closed

[2016-04-25 15:20] jmarantz opened #132 "referencing mod_pagespeed's prioritize_critical_css filter"
Hey Addy, would you consider referencing mod_pagespeed's prioritize_critical_css filter, in your 'alternatives' section here:

https://github.com/addyosmani/critical/blob/master/README.md#what-other-alternatives-to-critical-are-available

We will also reference this one from PageSpeed doc.

[2016-04-26 19:25] jmarantz commented on #132
The reference from PageSpeed Insights is live, in the second note below the example: https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery#example

[2016-05-03 20:55] thadeetrompetter opened #133 "log errors in uncaughtException handler"
Errors are apparently being swallowed after requiring `critical`.

[code]

[code]

This happens because `lib/gc.js` attaches an **unhandledException** handler to
**process**. `onException` exits with code 99, but does not log the error.

If an error is thrown somewhere in your script after having included critical
(e.g. in some other build task), you won't get to see it.

`onException` in `lib/gc.

[2016-05-03 20:58] thadeetrompetter commented on #133
#134

[2016-05-04 22:51] bezoerb commented on #133
Even if the PR is already merged i guess it would be better to clear the temporary files on uncaughtException and re-throw the error.

[2016-05-05 06:20] thadeetrompetter commented on #133
Wonder if the uncaughtException handler is needed in the first place. After all, an uncaught exception bubbling up to `process` will trigger an exit event anyway an initiate the cleanup process. The only thing you'll be missing out on would be making the process exit with code 99 from the uncaughtException handler, but does that matter?

[2016-05-05 09:34] miralize commented on #130
Experiencing the same issue. Gulp 3.9.1 & Node v6

[2016-05-07 15:32] vlrprbttst opened #136 "overriding image paths"
hello all! :)
this is my folder structure:

![](http://img.prntscr.com/img?url=http://i.imgur.com/ICy8VIh.png)

and here's my configuration:

[code]

in the source folder, the path of an image would be `url("../images/pizza.jpg");`, critical transforms it in `url("/_dev/images/pizza.jpg");`

is there a way of **not** having that `/_dev/` prefix but just a `/`, as of my folder structure that doesn'

[2016-05-07 20:55] bezoerb commented on #136
@vlrprbttst have you tried setting `base` fo `./_dev` ?

[2016-05-07 21:20] bezoerb commented on #130
just tried `the cli with some local url and it worked just as expected. Is there some sort of authentication required? What's the output when you just try to fetch the url using `wget` or `curl`?

[2016-05-07 21:26] miralize commented on #130
Trying ` node_modules/.bin/critical http://dev.lovindublin.com/ -m`

[code]
<full html of page>
[code]

[2016-05-07 21:31] bezoerb commented on #130
yes, but i have an apache running. I'll see if i can set up an nginx and try again.

[2016-05-07 22:17] bezoerb commented on #130
with nginx everything is fine, too.
Please enable debug and run again:
`export DEBUG='critical:*' && node_modules/.bin/critical http://dev.lovindublin.com/ -m`
Maybe this helps locating the error

[2016-05-07 22:19] bezoerb commented on #130
If this doesn't help i would add some additional debug logs in a separate branch until we can nail down the cause of the 403

[2016-05-08 00:12] miralize commented on #130
I think I found the issue for me at least. I use a font service from typography.com and they redirect a css file to a local css file. It seems the css wont follow redirects
		`<link href="//cloud.typography.com/6020032/784002/css/fonts.css" rel='stylesheet' />`

[2016-05-08 09:26] vlrprbttst commented on #136
ah! thanks :)

[2016-05-08 17:24] vlrprbttst commented on #136
i've been trying everything with no success :sob:

[2016-05-08 19:23] pocketjoso commented on #130
`typography.com` don't allow scraping of their stylesheets due to their licensing.

I presume `critical` needs to be updated to handle this. My own quick and dirty solution for the same problem for another project:
[code]

[2016-05-08 21:19] bezoerb commented on #130
@miralize, @mikeebee
I've added a fix for this issue. Could you please check again using the `master` branch?
Thanks @pocketjoso :)

[2016-05-08 22:24] miralize commented on #130
Yes this works thanks @bezoerb ! 🍻

[2016-05-11 07:05] caraya opened #137 "Type error when running Critical in Gulp: critical is not a function"
I downloaded version 0.7.2 and stream support doesn't seem to be working. I get the following error:`TypeError: critical is not a function`

Installing from Git works.

This may be related to #87 but, since we are on a later version, I opened it as a new issue.

[2016-05-11 07:14] bezoerb commented on #137
It looks like you missed the `stream` function. See https://github.com/addyosmani/critical#gulp

[2016-05-12 00:20] caraya commented on #137
When I used `var critical = require('critical').stream`before moving to using the master Github branch I got a different error after the task starts: `Fatal undefined`.

I will test it again to make sure stream is not the issue but I'm pretty confident it is not.

[2016-05-12 00:48] caraya commented on #137
I reinstalled critical from NPM and now it works. Can't figure out what caused the error. Sorry for the noise

[2016-05-12 00:48] #137 closed

[2016-05-13 01:38] mikeebee commented on #130
@bezoerb sorry to be a simpleton but how do I use the master branch? The npm package doesn't seem to have changed.

[2016-05-13 01:50] miralize commented on #130
@mikeebee Change the line in your package.json where critical is set to `"critical": "addyosmani/critical#a4eea4bd41c547d00acaf31e4412c6e58d25308f",`

[2016-05-13 02:56] mikeebee commented on #130
@miralize thanks!

Ok, it now appears to be ignoring the page I pointed it at. Also, I'm getting these errors...

[code]

[2016-05-13 04:50] bezoerb commented on #130
@mikeebee can you check the availability of `http://localurl.dev/` using curl?
[code]

[2016-05-13 05:08] mikeebee commented on #130
Yeah, all good. Took 8 seconds.

[2016-05-16 21:12] bezoerb commented on #130
Hmm,... it's hard to guess why critical get's an 403 while trying to fetch the page. Could you give some more insights on your setup?

[2016-05-17 10:06] hinok opened #138 "Partially generated critical styles"
Hey,
There is a new recommended usage for loadCSS (with preload mechanism).

[code]

I see that when I use this pattern, critical generates only a few lines of CSS.
When I add styles in the old school way

[code]

It seems to work properly and generates 1000 loc and even more.

I've tried also setting directly CSS here

[code]
but it doesn't change the output. The only way which works for me is us

[2016-05-17 12:10] hinok commented on #138
I've found that `critical` generates the same, one big CSS file in /tmp dir for "new recommended loadCSS usage" and standard `<link rel="stylesheet"...>`.

That CSS file is then passed to penthouse so probably this issue is related to penthouse / phantomjs.

[2016-05-18 05:57] mikeebee commented on #130
Sure thing, what info would be helpful?

[2016-05-26 08:14] sp90 opened #141 "When using gulp 4"
In there i have critical to run over all my html files and optimize my css files.

But i just swapped to gulp 4, and it now throws this err

The following tasks did not complete: deploy, html--deploy
Did you forget to signal async completion?

[code]

Could it be the ('critical').stream?

[2016-05-26 08:28] #141 closed

[2016-05-26 08:28] sp90 commented on #141
Wasn't critical sorry

[2016-06-08 05:50] thadeetrompetter commented on #133
@bezoerb: Can we agree that this issue has been resolved now?

[2016-06-09 15:16] bezoerb commented on #133
Resolved in d46c08c609fafc83a44e8328e5fd8272097d681f

[2016-06-09 15:16] #133 closed

[2016-06-23 02:44] rd4704 opened #143 "Problem serving background-images from CDN in inline css"
Is there a way we can serve the background-images via a CDN. Currently the path in our styles are set to relative to the CDN which once comes to inline style doesn't work. If we can specify the full path to the images for the generated inline css would be great.
current : `background:url(/img/banner/image.png)`
expected which would work: `background:url(https:/mycdn.com/img/banner/image.png)`
Any

[2016-06-23 18:17] addyosmani commented on #143
Thanks for filing a bug. Hmm. I'm trying to think about the best layer to tackle this at. We could potentially do it in https://github.com/bezoerb/inline-critical (cc @bezoerb) allowing you to readjust paths accordingly.

[2016-06-23 18:23] addyosmani commented on #138
This should be less of an issue now that https://github.com/addyosmani/critical/commit/6a2e12946ffa27325cb9a7f81b1c658eead8c32a has landed, right?

[2016-06-23 18:23] addyosmani commented on #123
Changed landed in https://github.com/addyosmani/critical/commit/36d2ff826e92fde4756e52dc118c13edc8a40ec6. We just need to make sure we update it now :)

[2016-06-23 18:23] #123 closed

[2016-07-01 17:51] RichardsonWTR opened #144 "Issues with Gulp, Critical and Run-Sequence"
I'm using this code, and I have one deploy task that is running with [run-sequence](https://www.npmjs.com/package/run-sequence). But the next task is catching some temporary files generated by critical plugin. Am I doing something wrong?

[code]

In deploy the next task (ghPages) is catching the temp files.

[code]

[2016-07-06 18:17] ChaseGiunta commented on #144
Also experiencing this... Related to #60 possibly? Not placing temp files in any directory, instead placing them in project root.

[2016-07-11 13:10] hermagrini opened #146 "Missing flex properties"
I encountered an issue while implementing the critical path(with gulp) when using `flex` properties.
If I have a class like this:
[code]
Then the output from `critical` is:
[code]
I tried the same using `Penthouse` and it does correctly output the `flex` properties.

I do not know if there's an issue with my setup, or what's going on. Currently the build process goes like this:

1. Compile SASS
2.

[2016-07-11 13:24] #146 closed

[2016-07-11 21:05] bezoerb commented on #146
@hermagrini did you found the issue?

[2016-07-11 21:09] hermagrini commented on #146
Yeah, I forgot to update sorry.

So the issue was that some invalid css was being bundled during compile, I didn't realize until I run CSSLint against the bundle. What makes this annoying is that both the SASS compiler and Penthouse fail silently.

[2016-07-11 21:32] bezoerb commented on #143
@addyosmani, @rd4704 sorry for the late response. I think this issue could be resolved by https://github.com/addyosmani/critical/pull/127

[2016-07-12 07:55] rasteiner commented on #73
I'm having a similar problem. I don't think it's strictly related to bootstrap, I just think it doesn't include the `@keyframes` declarations that are used. I guess this "bug" might actually come from [penthouse](https://github.com/pocketjoso/penthouse) and not critical...

[2016-07-15 08:29] pocketjoso commented on #73
I pushed a new patch yesterday for penthouse to keep critical animation declarations and `@keyframes` - [0.9.10](https://github.com/pocketjoso/penthouse/releases/tag/v0.9.10).

If you manually remove your installed `penthouse`/`critical` folder in your `node_modules` (depending on whether you are on `npm@3` or lower) and then re-do `npm install` you should get the latest `penthouse` version, with

[2016-07-27 16:58] zenopopovici opened #147 "Timeout doesn't get passed to penthouse"
## Node ver
`v5.11.1`

## My config

[code]

## Error

[code]

Modifying the value directly in Penthouse works ...

[2016-07-27 20:31] neotreat opened #148 "r"

[2016-07-27 20:32] #148 closed

[2016-07-27 21:14] bezoerb commented on #147
there's no published version for this yet.
Could you try the `master` branch?

[2016-07-28 12:03] zenopopovici commented on #147
@bezoerb Yep. Closing. Sorry.

[2016-07-28 12:03] #147 closed

[2016-08-01 11:17] XhmikosR opened #149 "Fails on Windows due to tmp directory"
[code]

The Windows temp directory isn't in that path.

[code]

[2016-08-01 21:04] hinok commented on #138
@addyosmani Sorry for that long time. It's solved, thank you.

[2016-08-01 21:04] #138 closed

[2016-08-03 09:14] Milance1992 opened #158 "Fatal undefined"
I have some problems with critical, constantly throws errors "Fatal undefined".

![fatal](https://cloud.githubusercontent.com/assets/20242810/17360032/bf553e84-5969-11e6-9397-5039e88178f3.PNG)

My folder structure looks like this:
- critical
  - dist
    - done
    - index.html
    - main.css
  - node_modules
  - gulpfile.js
  - package.json

And my gulp task looks like this:

![capture](https://c

[2016-08-03 11:06] XhmikosR commented on #149
@sindresorhus: any idea about this? You can see the live failure here https://ci.appveyor.com/project/addyosmani/critical/build/189/job/q87tb7eta4nmhh3x#L286

All the environment variables are there, defined and pointing to the right directory.

[2016-08-03 11:42] XhmikosR commented on #149
Also CC @bezoerb just in case you have any idea

[2016-08-03 13:30] XhmikosR commented on #149
`tempfile` seems to work properly:

[code]

So, the issue must be in the rest of `tmp` handling.

[2016-08-03 14:20] XhmikosR opened #159 "Remove deprecated stuff for next version"
Since we don't support node.js 0.12 for the next version, it makes sense to also remove the deprecated stuff and bump major.

[2016-08-03 18:55] XhmikosR commented on #149
I give up for now.

It's like `tmp` has its options messed up somewhere in file-helper.js.

[2016-08-09 12:58] bikubi commented on #158
In a similar situation, I had the same error message; in my case `dist/main.css` was missing, resp. wasn't there yet.

[2016-08-15 14:39] evilebottnawi opened #160 "Use `cssnano` instead `CleanCSS`"
Ref: https://github.com/ben-eb/cssnano more powerfull and modern

[2016-08-17 15:59] rwwagner90 opened #162 "Using with Ember/Fastboot"
I was wondering if anyone had ever tried to implement this for use with Ember and Fastboot? I'd love some help figuring out how to wire it up!

[2016-08-17 19:36] bezoerb commented on #149
Spotted the error in `penthose`
PR submitted. When this is merged we should get our windows tests green again
/cc @XhmikosR

[2016-08-17 19:45] XhmikosR commented on #149
Thanks! I couldn't spot it for the life of me :/ Was it an issue due to ^
in penthouse dependency?

On Aug 17, 2016 22:37, "Ben Zörb" <notifications@github.com> wrote:

[2016-08-17 19:53] bezoerb commented on #149
The last patch version bump of penthouse broke windows compatibility:
https://github.com/pocketjoso/penthouse/blob/0.9.11/lib/index.js#L56

[2016-08-17 20:03] pocketjoso commented on #149
Fixed in [0.9.12](https://github.com/pocketjoso/penthouse/releases/tag/v0.9.12) - thanks @bezoerb !

[2016-08-18 00:34] XhmikosR commented on #149
@pocketjoso: you should add AppVeyor to prevent Windows issues in the future.

[2016-08-18 00:34] #149 closed

[2016-08-18 09:16] pocketjoso commented on #149
Will have a look at it, thanks @XhmikosR.

[2016-08-18 09:18] XhmikosR commented on #159
/CC @bezoerb @addyosmani

[2016-08-23 11:07] carpusmedia opened #163 "include option is not working"
Hello,

Thank you for a great module.

It seems like the `include` option is not working for some reason (critical-0.7.3).

This is our code:

[code]

`critical-path-styles.css` contains all styles needed to render the above-the-fold content, however it does not include the `html.test` selector styles.

Using `html` instead of `html.test` does work however.

Are others experiencing this issue as w

[2016-08-23 14:53] carpusmedia commented on #163
Strange, re-ordered a few things in the CSS file, now `html.test` as a selector seems to work fine as well.

Was a problem on our end.

Thanks!

[2016-08-23 14:53] #163 closed

[2016-09-08 16:23] thany opened #165 "Fatal undefined when dimensions is given"
I get this error `Fatal undefined` when I supply it with any set of two dimensions.

[code]

If I comment out the dimensions property, it works like a charm.

So:
1) Can you fix this bug please?
2) Can you make it output errors that are "a little bit" more descriptive?

[2016-09-13 19:02] bambamboole opened #166 "Use a host as source"
Hi,

is it possible to use a host as source?
Something like my local development host e.g. `http://development.dev`

cheers
bambamboole

[2016-09-15 20:25] bezoerb commented on #166
@bambamboole: Yes. See https://github.com/addyosmani/critical/blob/master/test/02-generate.js#L459 ff.

[2016-09-17 11:55] bambamboole commented on #166
yeah perfect!

[2016-09-17 11:55] #166 closed

[2016-09-17 12:49] bambamboole opened #167 "Writing the css rules in an area in a django template"
I'm building a django based project and using a base.html template file.

The main function of critical works like a charm. It extracts all used css rules out of the localhost:8000 dev server. Thumbs up for this!

But is it possible to write the extracted css rules into an extisting file for example in an placeholder or maybe inside an predefined `<style data-id="critical"></style>` tag, so that I

[2016-09-29 13:45] rwwagner90 commented on #162
@addyosmani any suggestions?

[2016-10-14 13:51] joshmoyers commented on #158
I have been getting the same issue as well. I have learned that I can do individual html files, but only if I reference that file directly (example: dist/index.html instead of dist/*.html or dist/**/*.html)

[2016-10-31 14:41] nealoke opened #170 "Deleting tmp files"
Using this module to create above the fold css for a couple of php files in gulp.

Task:
[code]

However using this the task also creates tmp files such as
`tmp-980GlwutZwYavbs` and `tmp-9800JKMaeQij1UL` which are the html pages created by phantom I guess. Also these tmp files are not in a direcotry listed anywhere in the task, which makes it more of a mystery.

Is there a way to delete these auto

[2016-10-31 14:57] nealoke commented on #170
This only occurs if the `base` is different then the `gulp.dest()` path

[2016-10-31 14:57] #170 closed

[2016-11-04 23:00] khalwat opened #171 "Critical and self-signed certificates"
First, many thanks for critical -- I've been using it for years, and love it.

I've run into an issue recently where I have SSL enabled on local dev, which is also where I build the critical css using `gulp` and `critical`.  It took me a bit to figure out what was going on, because I'd run `critical` and no output at all would appear (no errors, no critical css written out).

It turns out that bec

[2016-11-04 23:14] khalwat commented on #171
I found this in `penthouse/lib/index.js`:

[code]

But putting this `config.json` file in `penthouse/lib/phantomjs` didn't seem to work:

[code]

[2016-11-08 17:36] gmhenderson commented on #171
Here's the error I'm seeing (not sure if it's the same as you):

[code]

This is actually an error from [request](https://github.com/request/request). A quick and dirty hack is to replace line `85` of `file-helper.js` with:

[code]

The `strictSSL` option needs to be set to false.

[2016-11-09 21:08] khalwat commented on #171
I didn't see any errors output at all.  What I did for a temporary fix is to allow the website to run both http and https in local dev.

I'd ideally like to be able to pass params down to Penthouse/PhantomJS via Critical.  I can see it being useful for this, as well as other issues.

[2016-11-10 11:53] schoenwaldnils opened #172 "Penthouse error blocks generating file"
Hi, I get following error where I sadly have no idea where the problem is:
[code]

I use jekyll and generate the site to `_site` where the `index.html` lies.
I try to generate the `main-critical.css`.

My gulp task:
[code]

[2016-11-11 13:28] amorphine opened #173 "Critical not works if url contains "-""
Here are my gulp tasks

[code]

[code]

If url contains simbol '-' result of script is empty. Another symptom is that if I run it for local site 'digitec.local' I get 500 error:

[code]

But apache logs show no errors

[2016-11-13 05:18] josenobile commented on #116
I use server push in HTTP2 (in https://www.hostingfacil.co). The resources can be pushed to the browser, but it won't be loaded/executed/utilized if not is called. Then, it only add speed in the download. I recommend still adding the critical CSS inline even if the css file is pushed.

[2016-11-15 11:27] ValentinBrclz commented on #158
I am getting the same error now... it would be great if this issue serves to improve the error reporting of the script.

[2016-11-16 10:40] maixezer opened #174 "Release the latest version for npm"

[2016-11-17 16:39] arminnaimi opened #176 "When installing critical, it is trying to access port 9418"
Hi there,

I have been running into issues with installing Critical. I have been able to install it successfully on my home broadband and I also noticed that the install is trying to access port 9418. On my work broadband, I don't have access to port 9418; but even after opening that port, the install failed with the following error:

[code]

I am trying to install it with node v6.9.1 and npm v3.1

[2016-11-21 21:21] Pustelto opened #177 "dest option not working"
Hi,

I have an issue with critical plugin (I'm using it in gulp). I have this folder structure:
[code]

and this is my gulp task:

[code]

According to doc, I would expect that it will take index.html from `dist/` folder and create `ic.html` in dist folder. However every time I run this task the `ic.html` is created in root `app/` folder.

Am I doing something wrong?

Thanks for help.

[2016-11-21 22:09] bezoerb commented on #177
@Pustelto: this is some misleading behavior. `src` is relative to base directory and `dest` is relative to current working dir. This should be unified in the master branch. For now you can either use `dest: 'dist/ic.html'` or use the `streams` method:
[code]

[2016-11-21 22:11] Pustelto commented on #177
Ok, thanks. I just wasn't sure if this is desired behavior or not, it wasn't clear from docsumentation.

[2016-11-23 16:06] #173 closed

[2016-11-24 10:42] herrkessler commented on #158
same here

[2016-11-24 22:54] bezoerb commented on #158
Thanks for the report and sorry for the late response ;)
I'll take a look

[2016-11-24 23:06] bezoerb commented on #158
Did some debugging and it seems like one of the files are missing (for me it was the css).
[code]
I'll add some error reporting tomorrow

[2016-11-25 04:32] addyosmani commented on #174
We'll be cutting a new release today.

[2016-11-25 04:32] #174 closed

[2016-11-25 04:33] addyosmani commented on #159
I fully agree with us doing this for the next major version.

[2016-11-25 04:41] addyosmani commented on #177
Per @bezoerb this should be better handled in master today.

(btw, @bezoerb just fixed tests and pushed a patch release. Going to try going through the PR backlog shortly)

[2016-11-25 04:41] #177 closed

[2016-11-25 04:43] addyosmani commented on #172
@schoenwaldnils Are you still running into this error? If so, is your repo for this project up somewhere?

[2016-11-25 05:39] bezoerb commented on #158
[code]

=>

[code]

[2016-11-25 05:47] bezoerb commented on #165
@thany you can log the errors using [`gulp-util`](https://github.com/gulpjs/gulp-util)
[code]

=>

[code]

Can you share the error message?

[2016-11-25 06:08] thany commented on #165
Currently on a holiday, so I will when I return and have some time to get the project running again. Sorry for the delay.

[2016-11-25 06:29] bezoerb commented on #167
@bambamboole have you tried the `inline: true` option?

[`inline-critical`](https://github.com/bezoerb/inline-critical#inlinehtml-styles-options) has a `target` option to specify a selector where the critical css gets prepended. So if the default inine settings in critical doesn't work out, you could use `inline-critical` yourself to do the inlining for you as long as your template is parsable by

[2016-11-25 09:07] herrkessler commented on #158
[code]
leads to:
[code]

[2016-11-25 10:28] schoenwaldnils commented on #172
@addyosmani Yes, I do. But I now saw that ther is a `.steam` missing in the require for gulp.
Also missing in your tutorial:
https://github.com/addyosmani/critical-path-css-demo#tutorial

But even if I add the steam, then I get following:
[code]

[2016-11-25 21:26] bezoerb commented on #158
Can you post your error messages?
/cc @herrkessler @ValentinBrclz @Milance1992

[2016-11-26 11:20] pocketjoso commented on #158
@herrkessler this is indeed an phantomjs issue, via [penthouse](https://github.com/pocketjoso/penthouse). If you post an issue there and find a way to share the css you're using with me (either link from PR), or send it in private message to me, then I can debug further.

[2016-11-27 22:49] bezoerb commented on #172
@schoenwaldnils the `stream` function wraps `generate` for gulp. You can use it like this:
[code]

To get a little more verbose you can toggle the debug mode on the CLI with
[code]

Maybe the debug output leads us to the cause of your issue

[2016-11-28 18:15] emix7 opened #179 "pathPrefix get partially lost"
Hi,
It seems that path prefix get partially lost

pathPrefix: 'http://localhost/site.com/public/',

output in inline css:
url(http:/localhost/assets/fonts/Raleway.ttf)

Any advice?
thanks

[2016-11-28 18:44] bezoerb commented on #179
@emix7 can you share your configuration?

[2016-11-29 09:49] herrkessler commented on #158
@pocketjoso Thanks for you effort, I made it myself, changed some paths here and there, now it works.

[2016-11-29 18:13] emix7 commented on #179
Hi Bezoerb,
thank you for replying and sorry my late reply

my config is:

// https://github.com/addyosmani/critical
gulp.task('critical', function(cb) {
    critical.generate({
        base: 'public/tmpl/common',
        src: 'http://localhost/site.com/public/',
       // css: ['public/css/main.css'],
     css: ['src/css/newstyle.css'],
        dimensions: [{
            width: 320,
            h

[2016-12-02 13:03] mkhazov opened #180 "Parser doesn't work properly with Go templates"
After piping stream with html (which is actually a Go template) through `critical`

[code]
turns into
[code]

Any idea how to avoid this?
I suppose, it's actually a cheerio-related issue, am I right?

[2016-12-03 07:29] kenshaw opened #181 "Not all "critical" CSS being included (Bootstrap v4 alpha 5)"
My apologies in advance if this is not a `critical` issue, if I am posting this in the wrong place, if this is due to my misunderstanding of how to use `critical`, or if this is is instead a bootstrap problem.

Using the latest version of `critical`, v0.8.1, and using Bootstrap v4 alpha 2 in this HTML:

[code]

And running `critical` like the following:

[code]

Will correctly include the '.card'

[2016-12-03 07:34] kenshaw commented on #181
Sorry, forgot to mention that this causes a "flash of unstyled content" on the v5 version prior to the maxcdn css being retrieved.

[2016-12-03 07:40] kenshaw commented on #181
Not sure if this is helpful or not, but I also just checked the bootstrap v4 alpha 3 and alpha 4, and they include the correct classes.

[2016-12-03 10:21] pocketjoso commented on #181
@kenshaw It would be a [Penthouse](https://github.com/pocketjoso/penthouse) problem; Penthouse is what generates the critical css. I'll give it a try.

[2016-12-03 10:26] pocketjoso commented on #181
.. although I notice that what you've posted is not `html`. Isn't that causing problems? I'm not completely up to date to if `critical` does any preprocessing to transpile certain template languages to `html`.

[2016-12-03 10:45] pocketjoso commented on #181
I can confirm that something causes the `.card` rule(s) to go missing in the critical css given by Penthouse. Looking into why that's the case.

[2016-12-03 11:20] pocketjoso commented on #181
So it's an issue with the minified bootstrap css and the AST parser Penthouse uses ([this one](https://github.com/reworkcss/css), you can see the problem here:

http://iamdustan.com/reworkcss_ast_explorer/#/e8Tdpm7KWq/1
<img width="1203" alt="screen shot 2016-12-03 at 12 13 18" src="https://cloud.githubusercontent.com/assets/7192832/20858984/2db80e18-b952-11e6-83e6-31d8b49c9b27.png">

The `.card`

[2016-12-03 12:12] kenshaw commented on #181
Thanks for the quick response. I can confirm that using the non-minified version of Bootstrap makes this issue go away.

Really confusing though, but I really appreciate you guys working on this! Many thanks!

[2016-12-07 14:32] jonathanmelville commented on #172
Sadly I'm having the same problem and I'm not able to get past it:

[code]

[2016-12-08 18:55] denistrator opened #182 "Damaged inline SVG in HTML."
Hi.
I have problem. After compiling my .html file I have corrupt tags inside svg tag.
[Comparing files](diffnow.com/?report=kz5sw) before/left after/right.
Here are my settings:
[code]
Thanks!

[2016-12-08 22:18] micahblu commented on #158
One of the biggest issues here is the silent fail. I use critical.stream and have also gotten the dreaded `fatal undefined`. I am able to retrieve the actual error by adding `console.log(err)` in `index.js` @ line `195` inside the if(err) condition. I woudl think the line above: `return cb(new PluginError('critical', err.message));` would console out the error but it does not. I think this may be

[2016-12-08 22:26] micahblu opened #183 "Add an option for penthouse renderWaitTime"
The minimal wait time of 100ms is causing pages to fail by not allowing enough rendering time for pages with moderate to heavy resources, mostly being images.

[2016-12-08 22:29] micahblu opened #184 "Fall back to console.log or equivalent to prevent silent fails"
Mostly borrowed from a comment I made for: https://github.com/addyosmani/critical/issues/158

One of the biggest issues here is the silent fail. I use critical.stream and often get `fatal undefined`. I am able to retrieve the actual error by adding `console.log(err)` in index.js @ line 195 inside the if(err) condition. I would think the line above: `return cb(new PluginError('critical', err.messag

[2016-12-09 07:26] pocketjoso commented on #183
How do you know these resources have not loaded?

The page should already be fully loaded without any wait timing at all. I
meant to remove that timing value from Penthouse, but someone had a
specific use case for it.

On 8 Dec 2016 23:26, "Micah Blu" <notifications@github.com> wrote:

[2016-12-12 05:07] bezoerb commented on #184
You can catch the errors in gulp itself by defining an error listener to the stream.
I've added the following to the Readme
[code]

[2016-12-12 05:36] bezoerb commented on #182
@denistrator Thanks for reporting the issue. This seems to be an error with `cheerio` (Used for parsing the html document)

[2016-12-12 06:06] bezoerb commented on #182
See: https://github.com/fb55/htmlparser2/pull/129

[2016-12-12 06:09] bezoerb commented on #180
@mkhazov I think you're right with the cheerio assumption. I think the only way to avoid this issue is to use critical to only generate the critical-path css and then do the inlining yourself.

[2016-12-13 03:35] lukebussey commented on #181
I'm running into the same issue, but because of my particular build process, I can't unminify the CSS beforehand.

The parsing issue is caused by this line in Bootstrap's `_variables.scss` file:

[code]

The part causing the problem is the stroke color: `stroke='#{$navbar-light-color}'` which is compiled to: `stroke='rgba(0,0,0,.5)'`

Changing this to a solid hex color E.g. `stroke='#7F7F7F'` fixe

[2016-12-21 16:08] borisirota opened #185 "Why only some of the pseudo classes being added to the critical path ?"
In my use case where I use some pseudo classes `:link, :not, :first-child, :last-child` are being added while `:visited, :active, :focus, :hover` aren't.

Thanks

[2016-12-23 09:43] pocketjoso commented on #185
@borisirota [Penthouse](https://github.com/pocketjoso/penthouse) intentionally filters out psuedo selectors that require user interaction, i.e. `:active, :focus, :hover`, in order to keep the critical css as small as possible.

`:visited` should be kept, but I see that it isn't. Can you please create an issue on the Penthouse repo?

[2016-12-23 11:21] borisirota commented on #185
Sure. I created [issue 149](https://github.com/pocketjoso/penthouse/issues/149). Thanks !

[2016-12-25 12:17] borisirota commented on #185
Fixed !

[2016-12-25 12:17] #185 closed

[2016-12-30 17:52] naps62 opened #186 "Issues when inline svg with no height is present"
Running `critical`, I noticed that only a subset of my CSS was being loaded. I tried to drill down the problem, and eventually noticed that the fault lied with an inline SVG I had on the page.
Anything in the markup that was **after** the svg would not be considered for the critical css (even though the SVG itself only occupies 40px of height)

Adding an explicity `height="40px"` attribute to the

[2017-01-03 11:44] SergeyYermak opened #187 "css tag missing after compiling critical"
Hi.
When i'm compiling critical with gulp, i have transition  css tag missing in result css file.
Maybe I'm doing something wrong - pretty new to gulp and node.
In the source file I have this piece:
`.anim-elem {
  transition: all .8s;
  opacity: 0;
}`
But in critical file I have in result:
`.anim-elem {
  opacity: 0;
}`
Other tags seems ok.

My gulp file that i'm using:
[code]

[2017-01-12 14:14] davidhellmann opened #188 "Different Critical Local / Live"
Hey, strange problem. The Critical on my local env looks good. When I run the task on live the CSS two till three times bigger. And the ignore don't work on live? Any Ideas

Here is my Task:
[code]

Here is the local critical css
[code]

Here is the live critical CSS
[code]

[2017-01-26 13:29] RubenJnl opened #189 "No errors with a stream but also no output, critical.generate gives Unhandled rejection Error"
In my project I'm trying to get critical running.
But I keep running into errors, or no errors at all.

When I'm using the default gulp task I get an unhandled rejection error
Task:
[code]
Error:
`Unhandled rejection Error
    at ChildProcess.<anonymous> (./node_modules/critical/node_modules/penthouse/lib/index.js:68:23)
    at emitTwo (events.js:106:13)
    at ChildProcess.emit (events.js:191:7)

[2017-01-27 22:42] bezoerb commented on #187
@pocketjoso: is this intended?

[2017-01-27 22:47] bezoerb commented on #188
@davidhellmann: can you share the live url?

[2017-01-27 23:32] bezoerb commented on #186
According to the spec, an inline SVG is expanded to the full size of the viewport:
https://www.w3.org/TR/SVG/single-page.html#struct-SVGElementHeightAttribute

So even if some browsers will by default use 300x150 as the default size for an SVG, you can't rely on having this default. It seems phantomjs uses 100% height and is therefore pushing the `.After` element out of the way unless the size of

[2017-01-27 23:32] #186 closed

[2017-01-27 23:44] #180 closed

[2017-01-27 23:50] bezoerb commented on #180
I'm closing this issue for now. Feel free to open an issue in [`inline-critical`](https://github.com/bezoerb/inline-critical). Maybe we'll find another HTML parser which can handle this.

[2017-01-28 08:40] pocketjoso commented on #187
Yes - it's removed [here](https://github.com/pocketjoso/penthouse/blob/master/lib/index.js#L154).
The idea is that the first render is static - user initiated animations get activated when full css & js loads.

@SergeyYermak - Do you have a use case where it would be relevant for the critical css to contain properties? Remember that these properties will arrive when the full css loads.

[2017-01-28 12:19] SergeyYermak commented on #187
@pocketjoso: I have some text at the top of my page. It slides from one side to center when page is opening. But with critical css it just stands still at the center.

[2017-01-28 13:40] pocketjoso commented on #187
@SergeyYermak What initiates the slide effect normally? Page opening doesn't trigger any css transitions, you must be adding a class or similar, with js?

[2017-01-28 14:42] SergeyYermak commented on #187
@pocketjoso yep, it is some js that initiates it. My code animates elements when they are in the viewport. So the top part of the page needs to be animated from the beginning. It adds css class that changes elements position and opacity (depending on transition property that should be there allready).

[2017-01-28 14:53] SergeyYermak commented on #187
It would be nice to have some option to include those removed properties.

[2017-01-28 15:32] pocketjoso commented on #187
Critical css is for the first render, which happens before JS. The smaller the critical css the faster the first render can happen, hence why measures like the removal of transition properties are taken.

That being said, we don't want to break anyone's site. The issue in your case must be that your JS loads before your full css, hence initiating this supposed animation before the supporting CSS i

[2017-02-06 07:51] zanusilker commented on #109
How can I save modified main.css in the same folder as main..css? I use gulp.

[2017-02-08 21:37] gCardinal opened #190 "Unhandled rejection TypeError: Bad argument - phantomJsBinPath is always null"
Information on the packages installed:

- critical: 0.8.1
- penthouse: 0.10.9
- phantomjs-prebuilt: 2.1.14
- Installed with yarn

Simple code I'm trying to run:

[code]

Error I get:

[code]

I isolated the problem (or at least, a first step in figuring out what's wrong) to `lib/index.js` line 102 in penthouse. The variable `phantomJsBinPath` is null. Looking into `phantomjs-prebuilt`, they export

[2017-02-09 10:15] DzmVasileusky opened #191 "Error: File.contents can only be a Buffer, a Stream, or null"
node throws

what am I doing wrong?

[code]

[2017-02-12 10:08] #187 closed

[2017-02-14 17:11] fBosch opened #192 "using regex in the "include" options behaves differently in stream mode"
I tried using the recommended way of integrating `critical` in my gulpfile.

However i noticed that the css generated, using the `stream()` method, was different than when using the `generate()` method with the same options passed.

To me it looks like the regex's passed are not respected in the stream method; since the generated css file only contains the style definitions of the classes themselv

[2017-02-16 14:17] #189 closed

[2017-02-17 06:58] bezoerb commented on #192
@fBosch: Thanks for reporting this. After adding test cases for [`generate`](https://github.com/addyosmani/critical/commit/cc12aeb57100cee0c074899cfb9726c56be54bba#diff-ef333539a2bb6bc510efb240e0aad8b0) and [`stream`](https://github.com/addyosmani/critical/commit/cc12aeb57100cee0c074899cfb9726c56be54bba#diff-ec31ed5a6f4343f9d9ca3e30d94dfee6) i found an issue caused by a configuration change introd

[2017-02-17 07:03] bezoerb commented on #188
@davidhellmann: I just released a patch version fixing an issue with multiple dimensions used to generate the critical-path css. Would you mind checking again with the latest version of critical?

[2017-02-17 10:18] fBosch commented on #192
I'm still having issues with inconsistent file sizes.

I don't, however, think it has anything to do with differences between stream and generate method any longer.

I've noticed that if i'm doing something computationally intensive, while generating the styles; I tend to get a larger file size. Could some timeout have anything to do with it?

[2017-02-17 10:30] scottsweb commented on #172
Seeing similar errors on my build today too:

[code]

[2017-02-17 15:26] fBosch commented on #192
I think I've found out why now... I deferred loading of styles while generating the critical path css, don't do that.

[2017-02-17 15:26] #192 closed

[2017-02-17 20:44] swlopes commented on #191
I got it working by downgrading to version 0.8.0

[2017-02-18 04:30] libertarismus opened #193 "The include option does not work for me"
I am trying to include the following css in the critical path that is removed by critical from the main css file:
`.articles` `article:nth-of-type(4n){margin-right:0}`

I have attached the following files:
main.css This is the css file with all rules
critical.css This is the css file critical writes
[css.zip](https://github.com/addyosmani/critical/files/784764/css.zip)

I use the following grunt c

[2017-02-18 06:25] DzmVasileusky commented on #191
@swlopes thanks for advice.
I ended with using
[code]

And in the critical.js all the critical generators.

[2017-02-18 13:04] pocketjoso commented on #193
@libertarismus One potential reasons for these issues could be if your css contains errors. This can throw off the CSS parser (of [Penthouse](https://github.com/pocketjoso/penthouse), which is responsible for generating the critical css). Are you linting your CSS at all?

[2017-02-18 16:18] libertarismus commented on #193
@pocketjoso  I have linted my sass files now and only got warnings using scss-lint and afterwards linted my css files using csslint and got one error.

The error was removed when i switched the outputstyle of sass from compressed to expanded so I have only warnings now and mostly unimportant stuff about the alphabetical order of attributes.

The problem with critical persists though.

[2017-02-27 12:10] joaogarin commented on #190
Currently having the same issue, where you able to find out the problem?

[2017-02-27 17:31] richhollis opened #194 "Unable to generate for local rails page"
Hi team!

I'm trying to use the CLI to generate the critical CSS path, for some (local) rails dev server pages.

e.g.

node cli.js http://localhost:3000/somepage -H test.html

But it's erroring on the stylesheet link tags:

Error: ENOENT: no such file or directory, open 'assets/bootstrap.self-c1f14ba6ea9628826b54b8954dbad7ce4df47e14cac7298fb42c9a081300cfd5.css'

Here is the link tag from the sourc

[2017-02-27 18:51] pajtai commented on #94
I get a timeout with the example in the thread, and for remote html pages with absolute link, I get enoent errors

e.g. `<link href="/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">`

produces

`Unhandled rejection Error: ENOENT: no such file or directory, open 'vendor/fontawesome/css/font-awesome.min.css'
    at Error (native)`

[2017-02-27 18:55] pajtai opened #195 "Using a remote url doesn't seem to work"
`Critical v0.8.3`

From this issue: https://github.com/addyosmani/critical/issues/94 it is my understanding that the `src` option can be a remote url, and critical will crawl the assets to produce the optimized end result.

It seems like absolute links are not fetched remotely but looked for locally. Is this a configuration issues on my end or a bug?

**Example:**

[code]

**Generates the followin

[2017-02-27 19:06] pajtai commented on #195
Maybe the absolute link's are not being flagged as external due to the [`isExternal` method](https://github.com/addyosmani/critical/blob/master/lib/file-helper.js#L103).

[2017-02-27 19:58] pajtai commented on #195
I solved it with a test modification of my node_modules with a pretty ugly hack. If src is external than I passed a flag from [`core.appendStylesheets`](https://github.com/addyosmani/critical/blob/master/lib/core.js#L93) to [`file.resourcePath`](https://github.com/addyosmani/critical/blob/master/lib/file-helper.js#L205) indicating that `file.resourcePath` should return the "base url" concated with

[2017-02-27 20:07] gCardinal commented on #190
No, I tried to figure it out some more after I posted this, but couldn't find the solution. I also don't know those libraries very well so it's difficult for me to figure out what causes the issue.

[2017-02-27 20:31] JacobDB commented on #111
This would also be extremely useful for CMS builds, which arguably could use these kinds of speed improvements the most. I'm trying to get this working with WordPress, and there really doesn't appear to be an elegant way to do it. I can't really generate a new CSS file for every page, because there may be new pages created, or the site may be too large to make that feasible (having hundreds of cus

[2017-02-27 22:48] pajtai commented on #195
@bezoerb Gave solving this a go with this PR:
https://github.com/addyosmani/critical/pull/196

It prepends the base url - calculated from `opts.src` to any absolute urls in the styles.

[2017-02-28 01:01] pajtai commented on #195
Sent a pr https://github.com/addyosmani/critical/pull/197 that simply checks if `opts.src` is remote, and if it is, it assumes all stylesheets should be remote.

[2017-02-28 11:24] richhollis commented on #194
Later raised #195 is the same problem I have. I will close this issue as #195 has been assigned bug status.

[2017-02-28 11:24] #194 closed

[2017-02-28 16:27] bezoerb commented on #194
@richhollis: would you mind testing the `development` branch?
See: https://github.com/addyosmani/critical/pull/198

[2017-02-28 17:08] richhollis commented on #194
@bezoerb Sure. Just tested it here - looks good. Generating now for location urls. Thanks!

[2017-03-01 07:58] pajtai commented on #195
Confirmed fixed on `Critical v0.8.4`

[2017-03-01 07:58] #195 closed

[2017-03-03 05:54] codewithpassion commented on #191
Same problem here. Fixed with downgrading to 0.8.

[2017-03-03 14:31] valeriosillari opened #199 "Using Critical + Express + Pug (and Gulp) ?"
Not sure if I am out of topic, but I have new to Critical and I have a question ...

I have a small web application set with Express + Pug + gulp.
Everything looks fine, but now I want to add Critical.

The documentation of the plugin it is very simple.
I have already set a dummy page with static html as in the examples.
But they are always talking about plain HMTL files/page, NOT about markup fil

[2017-03-03 15:43] bezoerb commented on #199
@valeriosillari critical doesn't support template-engines. This would be way ahead of scope for this plugin. You'll have to do it just like you explained ;)

See https://github.com/addyosmani/critical/issues/94 for further information.

[2017-03-03 16:08] bezoerb commented on #191
This may have been fixed in [`v0.8.4`](https://github.com/addyosmani/critical/releases/tag/v0.8.4)
Just tried in a similar setup with the current version and everything seems ok.

Gulp:
[code]

File structure
[code]

Could you try again with the current version? If it fails you might run the criticalmain task using
[code]
and post the output?

[2017-03-10 14:10] christianruhstaller opened #200 "Base Tag (HTML) is ignored when loading CSS Stylesheets"
Following setup:
http://domain.com/en/us  -> loads the en_us version of the page. /en/us is just a htaccess rewrite to the root with options

In the html the base href is: http://domain.com
Assets are referenced relative to this domain (e.g.: assets/css/style.css)

example: http://pastebin.com/ybmHTDUp

Critical will report that the stylesheet is not found. Because it wants to load it from http://

[2017-03-10 19:45] JacobDB opened #201 "Doesn't include styles for above-the-fold elements if those elements are even partially off screen."
Been trying to work this in to my WordPress workflow for a long time, I think I'm finally pretty close. Running in to an issue where my content div isn't getting it's styles applied because a bit of the bottom runs off the screen. Yes, I could increase the height parameter, but past a certain point, that kind of eliminates the need for the module. Is there a setting or something that says "include

[2017-03-10 20:16] pocketjoso commented on #201
Jacob, [Penthouse](https://github.com/pocketjoso/penthouse), the library doing the critical css generation, checks the [top of the getBoundingClientRect](https://github.com/pocketjoso/penthouse/blob/master/lib/phantomjs/core.js#L143) for each element, not the bottom, so there must be something else going on in your case.

Do you lint your styles? Errors in the original css is known to sometimes th

[2017-03-10 20:24] JacobDB commented on #201
Yea, styles are linted, no errors that I'm aware of. The task I'm using is here, if that helps:

https://github.com/JacobDB/new-site/blob/master/gulpfile.js#L117-L150

I'm sure I'm doing something wrong, will look in to it when I have a bit more time and get back with what I find.

[2017-03-11 13:07] JakeHenshall opened #202 "Webpack"
Hi,

I've used this plugin with gulp before, it is possible to use with web pack 2?

Thanks Jake.

[2017-03-23 08:56] #160 closed

[2017-03-26 15:52] MindSculpt opened #203 "Penthouse timed out after 30s. SyntaxError: Expected token ']'"
I'm running a basic gulp build using critical css. The document setup is fine as is the critical task (I'm using this for several other projects). All packages are up-to-date and using the latest, but when I run my critical task I receive the following error:

[code]
This seems like it's a syntax issue on my end, but I've linted all of my css/js, tried removing stuff piece by piece and re-running,

[2017-04-05 13:47] SirBirdy commented on #191
Hi,

with 0.8.4 I get this error >

`Unhandled rejection Error: File.contents can only be a Buffer, a Stream, or null.
    at File.Object.defineProperty.set (C:\UNIQA Microsites Pattern Library\node_modules\critical\node_modules\vinyl\index.js:176:13)
    at C:\UNIQA Microsites Pattern Library\node_modules\critical\lib\file-helper.js:340:31
    at tryCatcher (C:\UNIQA Microsites Pattern Library\no

[2017-04-05 13:51] SirBirdy commented on #191
with 0.8.4 I alos get this error

[2017-04-05 21:49] ArtyomSvinin commented on #191
with v. 0.8.4 I have this problem too

[2017-04-07 18:21] ArtyomSvinin commented on #191
Can someone help with this problem ?

[2017-04-07 21:52] bezoerb commented on #191
@ArtyomSvinin could you run critical with the debug environment variable set as I mentioned above? This might give some insights about the issue. I'm currently on vacation but i could take another look when I'm home again.

[2017-04-08 12:06] ArtyomSvinin commented on #191
@bezoerb sorry, but I did not really understand the task (probably due to the fact that I do not have a high level of programming), but I really like your plugin and I would like to work with it.
Below I quote a link to the Gulp configurator and screenshots of how the project looks at the moment and what its structure is. If you need to take a more detailed look, I can upload the project to GitHub

[2017-04-08 19:59] strarsis opened #205 "Config for multiple pages?"
Is there an example for how to use critical with multiple pages / srcs?
Do I have to duplicate the whole config for each page? Can I simplify this when using gulp?
The srcs are all **remote URLs** to dynamically generated pages (CMS on dev server).

[2017-04-14 18:12] computapars commented on #205
I've been using a recursive function to go through an array of pages on my local development environemnt. Not sure if this helps.
`
var config = {
    url_base: 'http://' + host + ':' + port,
    critical_path: "/path/to/output_css_file/",
    root_path : path.join(__dirname, '/../')
}

/* Add Critical Points to this Array for CriticalCSS creation */
var critical_points = [
	{
		url: config.url_ba

[2017-04-14 18:22] computapars opened #206 "Do styles for elements that are inserted by javascript get detected by critical.js?"
I have various components that are above the fold that are inserted via javascript on page load. Does PhantomJS or Penthouse see these items?  Every time I run critical on these pages, I don't see any of the styles inlined so I'm assuming that Phantom Js does not run with javascript enabled or does not detect html that is added via javascript after the page is loaded.

[2017-04-14 18:34] connor-baer commented on #190
I just ran into the same issue and found a solution. @gCardinal, your investigation pointed me into the right direction. Thank you!

The problem is that - for whatever reason - `Phantom` wasn't actually installed by `phantomjs-prebuilt`. The `phantom` folder and the `location.js` file are missing in the `lib` folder. You can fix this by running...

`npm install phantomjs-prebuilt --phantomjs_cdnur

[2017-04-16 06:53] chovy opened #207 "Warning: Missing html source path"
not sure what I'm doing wrong:

	  criticalCss(html){
	    const critical = require('critical');

	    return critical.generate({
	      html,
	      css: ['assets/app.css'],
	      minify: true,
	      extract: true,
	      timeout: 30000,
	    });
	  }

`Warning: Missing html source path. Consider 'folder' option. https://goo.gl/PwvFVb`

[2017-04-16 09:49] pocketjoso commented on #206
Penthouse has `blockJSRequests:true` as a default, so thats' what you're seeing. Critical css is used for the first render _before_ Javascript has even been requested, so styles for elements inserted via javascript should not be included in the critical css. By the time the page loads your full CSS should already be loaded, and will hence provide the style for such elements.

[2017-04-18 20:15] mciastek opened #208 "Unexpected end of JSON input"
I use `critical` as gulp task. When I use it locally it works fine. Then I deploy my code via Travis CI and during building I get:
[code]
I think it's related to https://github.com/pocketjoso/penthouse/issues/148. Locally I have PhantomJS in version `2.0`, on Travis there is `2.1.1`. Which means that I need to set custom options for Penthouse and PhantomJS used by it, but for now it's not possible

[2017-04-18 21:05] #206 closed

[2017-04-19 07:48] Inalkar commented on #113
@bezoerb I have encountered with the same issue. Can you look into into? FYI [https://github.com/addyosmani/oust/pull/17](addyosmani/oust#17) has been already implemented.

[2017-04-22 00:47] MindSculpt commented on #203
@bezoerb Just wanted to follow up on this as it does appear to be an issue with penthouse, and @pocketjoso is currently debugging.

[2017-04-24 12:01] arminnaimi commented on #208
I can confirm that the same issue happens on GitLab CI.

[2017-04-24 12:55] pocketjoso commented on #208
My only hunch about these errors are that they could be related to the blocking `fs.read/writeFileSync` calls currently inside `Penthouse`; that phantomjs somehow doesn't handle that well. I haven't had time to try this hypothesis though.

[2017-04-24 18:09] rowbot-weisguy commented on #205
Hi @strarsis I've been trying to figure out the same thing this week.

Here's what I've got in my `gulpfile.babel.js`.

[code]

It's not working as I'd like it. It always times out under this configuration. In the site I'm working on, I'm looping through ~100 pages, and I have to set the timeout to an incredibly high number to make it work. I'm considering doing something like @computapars shared

[2017-05-01 11:06] nealoke commented on #195
@pajtai any documentation on how to actually use this for `localhost`? I tried lots of configs but still can't get it to work. Thanks!

[2017-05-02 18:31] pajtai commented on #195
What are you using for `opt.src`? I'm assuming you can just use something that starts with `http://`.

[2017-05-02 19:47] nealoke commented on #195
Below is my current config which doesn't throw any error however does not get the critical css. Thanks for looking into it!

Note that my gulpfile is in a sibling folder of the application, hence the `../app/styles/...`

[code]

[2017-05-04 23:22] MindSculpt commented on #203
This appears to have been an isolated repo-specific issue. Seems to be cleared up now.

[2017-05-04 23:22] #203 closed

[2017-05-05 18:32] danimalweb commented on #172
I am getting the same error in my build.

[code]

[2017-05-11 07:24] retyui opened #210 "Preload pollyfill"
Im use custom preload pollyfill.
Please add option ignore insert script Preload pollyfill!

[2017-05-12 09:02] bezoerb commented on #210
You can pass `inline: false` as an option to critical

[2017-05-12 09:26] retyui commented on #210
Yes you are right ,
Only I need, that in the mode `inline: true` it would be possible to exclude the addition of an inline polyfill script ` rel="preload" `
So I'm trying to reduce the size of my <head> in the processed files!

[2017-05-17 09:18] davidhellmann commented on #188
Looks fine, sorry no notifications.

[2017-05-17 09:37] davidhellmann opened #211 "Remote URL doesn't work"
Hey,

strange problem here. When I use the local url like website.dev all is fine.
When I use the remote url: website.com the task run and he generate all the temp files but not the css files.

Interesting part here is that the local tmp files are much longer as the remote tmp files.

Any Ideas?

[2017-05-17 12:14] davidhellmann commented on #211
Looks like some dependencies faults.
In old projects all fine but when I delete the node_modules folder and do a yarn install it's broken.

meeeeeeeeeh :D

[2017-05-17 12:30] davidhellmann commented on #211
[code]

when I change the line above to this it works

[code]

Looks like base doesn't work?
[code]

[2017-05-19 22:41] rmckeel opened #212 "Simple test with Gulp not outputting critical CSS"
Hello,

My tests worked on a complex example using `critical` command line, so I started to integrate with Gulp and automated builds.  Everything _runs_ fine, however it spits out less than desired critical CSS for the complex case.  So, I boiled it down to a simple case:

gulpfile.js
[code]

test.html
[code]

test.css
[code]

Output:
[code]

In this incredibly simple example, I should have both C

[2017-05-23 17:08] bezoerb commented on #212
@rmckeel: Thanks for detailed issue report. I'll take a look this evening

[2017-05-25 08:46] oskarrough opened #213 "Overwrite source HTML with CLI"
Hi, I'm trying to overwrite an index.html file with inline, minified critical CSS.

This works:

[code]

... but I want to overwrite the source file. This leaves it empty:

[code]

Am I doing this right? Thank you.

[2017-05-28 21:37] bezoerb commented on #212
@rmckeel: sorry for the delay. You should use the `href` attribute on your link tag as the `src`attribute is not supported here ;) (See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link)
I've checked your example with the correct html and everything works fine as expected.

[2017-05-28 21:55] bezoerb commented on #213
@oskarrough: it looks like the index.html file get's overwritten by the stdout before the file content is processed by `critical`. I could try to investigate this further as soon as i've got some time for this but for now you could simply do
[code]

[2017-05-29 02:56] rmckeel commented on #212
@bezoerb Good catch, perhaps my [Rubber Ducky](https://en.wikipedia.org/wiki/Rubber_duck_debugging) should have caught that one.

However, the problem remains after I re-run, I now get this output.  Should not #mydiv be part of the critical CSS running under near-default conditions?  It is the only element, and is visible at top left of the page.  Even explicitly setting width: 1300 and height: 90

[2017-05-30 06:07] KhodorAmmar opened #214 "Not generating loadCSS polyfill on inline:true"
The code doesn't generate the loadcss polyfill inside the document, instead it's outputting a `<script>undefined</script>`

[2017-06-12 21:39] bezoerb commented on #214
@KhodorAmmar: Could you give some more insights or a testcase to reproduce the error?

[2017-06-12 21:52] bezoerb commented on #210
@retyui: This should be addressed [here](https://github.com/bezoerb/inline-critical). Unfortunately i don't have much time to work on this right now but you're welcome to add a PR to `inline-critical`

[2017-06-12 21:52] #210 closed

[2017-06-13 11:20] laurenskling commented on #202
I get `Error: Cannot find module "."` importing `critical` in a webpack2 build. :(

[2017-06-13 12:12] jahvi opened #215 "How to get critical css from multiple external URLs?"
I currently have the following gulpfile.js that fetches the critical css from a couple URLs and creates 2 separate files:

[code]
As you can see the only reason I'm creating the `critical-*.css` files is to later concatenate them and remove duplicate content into a single `critical.css` file. Is there a more efficient way to do this? I've been trying to use the generated critical css as part of a

[2017-06-19 10:40] HugoHeneault commented on #179
I have the same issue. :(

[2017-06-21 14:03] hom3chuk opened #216 "Relative paths from absolutely linked CSS"
## Steps to reproduce

1. In HTML, link to a CSS with absolute path `http://example.com/some/deep/dir/style.css`
2. In CSS refer `@font-face` `src` one directory up `url(../fonts/font.eot)`
3. Critical CSS gets `url(../fonts/font.eot)`, not expected `url(http://example.com/some/deep/fonts/font.eot)`

## Demo

Made a demo for this one:

- [repo](https://github.com/hom3chuk/furry-octo-succotash)
- [

[2017-06-26 05:55] josenobile opened #217 "Failed to inline when there is no link, style or script tag."
When the HTML provided has not link, style or script tag it fails to inline the CSS.
When there is not link, style or script tag, just insert it before closing head tag `</head>`
Reported here https://github.com/bezoerb/inline-critical/issues/227 too

[2017-06-26 06:06] bezoerb commented on #217
@josenobile: Thanks for reporting this. I've already self-assigned the reported issue at inline-critical and i hope that i'll find some time over the weekend to address this.

[2017-06-26 06:08] bezoerb commented on #217
Closing this as it should be fixed in `inline-critical`

[2017-06-26 06:08] #217 closed

[2017-06-28 13:22] yawlhead91 commented on #191
I am getting the same issue

[2017-06-28 13:29] yawlhead91 opened #218 "Unhandled rejection Error: Error: File.contents can only be a Buffer, a Stream, or null."
Hi there great plugin, I know this issue has already been submitted but my setup is quite different. I have created my own private node module that uses your critical plugin. I call my node module like so passing in the options

Gulp.coffee

[code]

Then I have my module that finds all the files and recursively runs critical like so.

[code]

But I keep getting this error

[code]

I have tried all

[2017-06-28 14:46] yawlhead91 commented on #218
@addyosmani hey I figured out the issue, if you see here at

https://github.com/addyosmani/critical/blob/master/lib/file-helper.js#L329-L343

The issue is on line 340 , I just made a small change here , it was trying to assign a array as the content as opposed to the buffer inside. I can do a quick pull request if you wouldnt mind.

[code]
By the way just finished your javascript patterns book gre

[2017-06-28 18:35] bezoerb commented on #218
Hey @yawlhead91 thanks for reporting this. A pull request along with a test showing that your fix works would be awesome 😊

[2017-06-30 22:17] bezoerb commented on #211
Hey @davidhellmann,
sorry for the late response. Can you provide some more insights on your problem?
I'm currently not quite sure how to help you as your last comment indicates that the issue might be in your setup and not in critical itself.

[2017-06-30 22:30] bezoerb commented on #212
@rmckeel: Sorry for the late response.
I've just ran the test twice using `critical.generate` as well as `critical.stream` and everytime i ended up with the expected result:
[code]

[2017-06-30 22:38] bezoerb commented on #191
Maybe this is related to https://github.com/addyosmani/critical/pull/219

[2017-06-30 22:40] bezoerb commented on #218
May be related https://github.com/addyosmani/critical/issues/191

[2017-06-30 22:42] bezoerb commented on #119
Closed as this seems to be fixed. Feel free to reopen if the error still exists

[2017-06-30 22:42] #119 closed

[2017-06-30 22:47] bezoerb commented on #144
Sorry but there's currently no other way than running the `ghPages` task after critical is done. (See #60)

[2017-06-30 22:47] #144 closed

[2017-06-30 22:52] bezoerb commented on #165
@thany any updates? Does the error still exist?

[2017-06-30 22:54] #184 closed

[2017-06-30 22:56] #54 closed

[2017-07-01 14:11] yawlhead91 commented on #218
@bezoerb I would say that they are related, the only thing that both these cases have in common is gulp.  I am going to spend a few hours today debugging this issue in depth, and make some test reproduce the issues.

[2017-07-01 21:37] bezoerb commented on #57
@juanbrujo sorry for the late response. This should be fixed by now. `dest` path is now computed relative to base directory.

I'm closing this for now. Feel free to reopen if there's anything we missed to fix.

[2017-07-01 21:37] #57 closed

[2017-07-01 21:39] bezoerb commented on #61
Closing this due to lack of feedback. Feel free to reopen if the problem still exists

[2017-07-01 21:39] #61 closed

[2017-07-01 22:16] bezoerb commented on #73
Should be fixed by now as we're on penthouse 0.10.9

[2017-07-01 22:16] #73 closed

[2017-07-01 22:17] #82 closed

[2017-07-01 22:20] bezoerb commented on #92
Any updates on this one? I guess this should be fixed by now, right?
/cc @pocketjoso, @raphaelgoetter

[2017-07-01 22:21] bezoerb commented on #95
Closing this due to lack of feedback. Feel free to reopen if you still got problems on this one.

[2017-07-01 22:21] #95 closed

[2017-07-01 22:24] bezoerb commented on #102
Closing this due to lack of feedback. Feel free to reopen if you still got problems on this one.

[2017-07-01 22:24] #102 closed

[2017-07-01 22:25] bezoerb commented on #107
Closing this due to lack of feedback. Feel free to reopen if you still got problems on this one.

[2017-07-01 22:25] #107 closed

[2017-07-01 22:26] bezoerb commented on #108
@tarciozemel: Any updates on this one?

[2017-07-01 22:29] bezoerb commented on #109
@KingScooty: Sorry for the late response. Do you still need assistance on this one?

[2017-07-01 22:42] bezoerb commented on #118
would be possible after https://github.com/addyosmani/critical/pull/178 has landed
[code]

[2017-07-01 22:43] bezoerb commented on #124
@JakeHenshall: Sorry for the late response. Do you still need assistance on this one?

[2017-07-01 22:56] addyosmani opened #220 "Update README to reflect current maintainer + copyright"
@bezoerb You've done such an amazing job maintaining this package that I think we should make it clear in the README you're the current primary maintainer and also adjust the copyright in the bottom to also include you in there too. Please feel empowered to make those changes at your leisure.

I'll do my best to also respond when tagged into issues for a second review/gut-check as I know I've been

[2017-07-02 21:40] thany commented on #165
Sorry, the project this was for, had been discontinued. So I don't know if this issue is still on.

[2017-07-03 04:55] #165 closed

[2017-07-04 05:24] bezoerb commented on #113
fixed in 07be40bab23eb518bb689062b43f0db507c9a1f9

[2017-07-04 05:24] #113 closed

[2017-07-06 02:51] stephenasamoah commented on #111
You're right, @JacobDB. Loop through the HTML files, concatenate the generated critical CSS files, then use a plugin like <code>nano</code> to remove duplicate code and minify the output.

To reduce the strain of unneeded critical CSS on per page basis, I use loadCSS to sift through the code and apply critical styles as needed.

[2017-07-06 13:36] JacobDB commented on #111
@stephenasamoah I ended up creating an array of one example page per template, using that to generate a critical CSS file for each template, and including it on each page that uses the same template. Seems to be working alright for me, but I'll definitely look in to your suggestions :)

[2017-07-06 16:07] mauricionr opened #225 "[Question] Anyone using this in production?"
Anyone using this in production?

[2017-07-06 22:42] RobertJGabriel commented on #225
Yep I am. Have any questions about it ?

[2017-07-07 05:17] micahblu commented on #184
Thanks @bezoerb

[2017-07-08 15:31] mauricionr commented on #225
could you provide a link? :smile:
it's a open source project you are using?
i would like to see the client side code and the server side implementation?
thanks @RobertJGabriel

[2017-07-08 15:32] #225 closed

[2017-07-12 17:38] donoskaro opened #226 "Fetching from localhost"
Hi,

I have tried generating critical CSS however it fails due to pages being in subdirectories. Naturally my solution was to create a local server (using the nano-static-server package) which would allow me to specify the CSS files absolutely and resolve the issue of subdirectories.

However when I specify the base option as "http://localhost:8888/", I get the following error:
`Error creating cri

[2017-07-12 18:09] donoskaro commented on #226
I have managed to solve this, for anyone with the same issue you have to specify something for the base path (I specified `http://localhost:8888`) as well as pass the absolute path to the src option (i.e. `http://localhost:888/some-page').

[2017-07-12 22:01] bezoerb commented on #226
I think there's some space for improvement ;)

[2017-07-12 22:02] bezoerb commented on #226
I'll keep this open so we don't forget this one

[2017-07-12 22:07] bezoerb commented on #207
@chovy: Sorry for the late response. Critical computes the css required for the initial page view so there's a good chance that some parts of the css will be dropped before inlining. If you just want to inline the css you should consider using [`inline-critical`](https://github.com/bezoerb/inline-critical)

[2017-07-12 22:09] bezoerb commented on #190
Closing this as it seems that this is not an issue with `critical` itself. Feel free to reopen if you need further assistance on this.

[2017-07-12 22:09] #190 closed

[2017-07-17 09:48] yesman82 opened #227 "When to expect next release (0.8.5)"
Hi there,
thanks to your great work this package keeps getting features etc.
But the last release is almost 5 months old. When do you expect to publish a new release that will be available as npm package?

Thank you upfront and best regards,
Patrick

[2017-07-19 22:18] bezoerb commented on #227
https://github.com/addyosmani/critical/releases/tag/v0.9.0

[2017-07-19 22:18] #227 closed

[2017-07-21 18:35] midzer opened #228 "Don't modify disabled stylesheets"
Hi,
with latest version (0.9.0) `=disabled` is appended to `disabled` attribute in any `link` element.

This breaks its implementation for me under Chromium 59, as those disabled stylesheets are not skipped while page is loading.

According to https://www.w3schools.com/TAGS/att_disabled.asp `disabled` is just used as is, without any appendix.

Cheers
midzer

[2017-07-25 21:48] bezoerb commented on #228
Could you give some more insights on your use case?
I just gave it a small test and the link tags are replaced with the following:

**before critical**
[code]

**after critical**
[code]

According to [MDN](https://developer.mozilla.org/docs/Web/HTML/Element/link#attr-disabled) the `disabled` attribute is non-standard and only used by some browsers. So this should not be used anyway.
Have you consi

[2017-07-25 22:05] #220 closed

[2017-07-26 17:17] midzer commented on #228
Basically i wanted to achieve a theme switch by clicking on a button in my website.

First of all, i have a regular `main.min.css` and right below i used a `link` with no `href` and populated its value with JS on button click to have extended css loaded for a new theme. Worked like charm for all tested browsers. Miserably this `link` without `href` resulted in a warning by Chromium 59.

So i tried

[2017-08-04 04:30] addyosmani opened #229 "Migrate to headless Chrome?"
Now that headless Chrome is a thing and the DevTools support extracting unused CSS via the CSS/JS Code Coverage tool, it may be worth considering if `critical` would like to switch away from using PhantomJS over to this as part of a rewrite.

CSS Code Coverage is available via the remote debugging protocol and my understanding is that we could programmatically use this to extract out CSS in a more

[2017-08-04 04:40] prateekbh commented on #229
idea of having css extracted with the help of coverage tool is really good as I guess that is what lighthouse uses. Also users rely on it as well. Although what happens to dynamic classnames?
ripple classes, hidden dialog classes etc.. With coverage tool I record the activity and run tasks the most necessary actions on page and then see the results, not sure how we deal with this in the most gener

[2017-08-04 04:45] addyosmani commented on #229
To be honest, I'm still somewhat skeptical of the value of code coverage tooling that doesn't include some form of UI hit-testing. That said, even today tools like `critical` need to work around this by allowing authors to specify their dynamic styles separately or come up with a whitelist of dynamic styles that aren't going to be removed. I could see us using headless + coverage while still havin

[2017-08-04 05:09] bezoerb commented on #229
I think it's worth a try. We should give it a shot on a separate branch to see how far we get.

[2017-08-04 07:44] kurtextrem commented on #229
Don't we have snippets that generate critical css? If I'm not mistaken Chrome headless is able to inject scripts into pages - what if we combine the coverage report with those snippets?

[2017-08-07 11:16] YewTreeWeb commented on #172
I am also getting the error for when I try with Shopify and Jekyll

[2017-08-07 11:27] pocketjoso commented on #172
@YewTreeWeb Something must have gone wrong in your install step. The missing config file is [here](https://github.com/pocketjoso/penthouse/blob/master/src/phantomjs/config.json).

[2017-08-09 17:30] jadchaar commented on #172
Had this error as well, and it seems like an install issue like pocketjoso said. I suspect it was an issue with installing the package and getting a halt with a "run as root/administrator" prompt. This could have corrupted the installation. I fixed it by clean installing the package with the following commands:
`sudo npm uninstall critical`
`sudo npm install critical --save-dev`

[2017-08-09 20:36] bajras opened #230 "Finding css file issue with subfolders"
My project lives under subfolder `/nailba/appreciation/`
config is:
[code]
I get the following error:
`Fatal Error: ENOENT: no such file or directory, open 'dist/nailba/appreciation/nailba/appreciation/static/css/app.20a8c875cb801af30e6c44a1821d6815.css'`

and the CSS in the index file is:
`<link href=/nailba/appreciation/static/css/app.20a8c875cb801af30e6c44a1821d6815.css>`

I can see that it is

[2017-08-09 21:31] midzer commented on #230
@bajras Try to specify your .css file path directly via criticalCSS `css` config parameter

[2017-08-09 21:34] bezoerb commented on #230
@bajras: `base` should reference your docroot. As your project is inside the folder `/nailba/appreciation/` you should set `base` to `path.resolve(__dirname, './../dist`

[2017-08-09 22:20] bajras commented on #230
@midzer The CSS file name is hashed by Webpack so they dont remain the same after builds.
@bezoerb I tried that too and when I do that it cant find the index file.
After the HtmlWebpackPlugin has been ran the folder structure looks like this for dist folder:

├── dist/
│   ├── nailba
│       ├── appreciation
│            └── index.html
│            └── static
│                    └── css
│

[2017-08-10 13:46] LordRembo commented on #173
@amorphine  I'm having a similar issue. I have a url containing a '-' that is giving me the same 500 error when Gulp tries to run critical. Did you find a solution for this?

[2017-08-10 15:58] bajras commented on #230
this work as @midzer mentioned as I can't figure why the base options isnt working.

[code]

But I want to hash the css and use that instead of app.css all the time but when I try to use contenthash it doesnt work? Any Idea?

[code]

I want to use the same [name].[contenthash] for two plugins, is that even doable? Thanks.

[2017-08-11 01:11] bajras opened #231 "Penthouse timed out after 30s."
Getting Error on Build

[code]

[2017-08-11 01:21] #231 closed

[2017-08-11 21:33] #230 closed

[2017-08-13 03:58] josenobile opened #232 "[CRITICAL] QNetworkReplyImpl: backend error: caching was enabled after some bytes had been written"
When I use Critical, I receive this intermitent error:
 [CRITICAL] QNetworkReplyImpl: backend error: caching was enabled after some bytes had been written

Critical is affected by https://github.com/ariya/phantomjs/issues/13165#issuecomment-322019503

The Phantomjs bug has a workaround consistent of enabling disk cache. I suggest when calling Penthouse pass the [--disk-cache=true](http://phantomjs

[2017-08-13 09:34] iandevlin commented on #218
Seeing this issue too on my first attempt at using critical, would love to see a fix.

[2017-08-13 18:10] pocketjoso commented on #172
Regarding the install error, I just fixed a (new) bug with the missing `config.json` file in [0.11.11](https://github.com/pocketjoso/penthouse/releases/tag/v0.11.11) - so if you re-install criticial/penthouse you should get the fix for this problem.

[2017-08-14 08:54] YewTreeWeb commented on #172
@pocketjoso Thank you for the sending me the link to the config and for the bug fix.

[2017-08-17 21:07] bezoerb commented on #218
@yawlhead91 any updates on this?

[2017-08-17 21:09] bezoerb commented on #172
Closing as this one seems to be fixed by [`penthouse v0.11.11`](https://github.com/pocketjoso/penthouse/releases/tag/v0.11.11)

[2017-08-17 21:09] #172 closed

[2017-08-17 21:10] bezoerb commented on #172
@pocketjoso Thanks for your work!

[2017-08-18 20:16] pocketjoso commented on #229
Just FYI I'm now looking to migrate Penthouse to headless chrome, so if you wait another ~ 2 weeks you can get this migration without any changes to `critical`, aside from a Penthouse version bump. 👊

[2017-08-18 23:45] addyosmani commented on #229
@pocketjoso Wow. That's...pretty incredible :) Thanks for keeping an eye on the repo and for letting us know! That'll save a whole lot of time! We _really_ appreciate you working on that migration 🎉 🍰

[2017-08-20 17:02] pocketjoso commented on #229
I have a headless chrome version of Penthouse with feature parity now, just fiddling with support for Linux etc - if you want to play with it it's available on the `next` tag (`penthouse@next`), currently as `penthouse@rc-4`. I will take some time before shipping this as latest.

[2017-08-20 21:49] bezoerb commented on #229
@pocketjoso: Thats awesome! Thanks for pushing things forward :)

[2017-08-22 07:14] geosenna opened #233 "ReferenceError: regeneratorRuntime is not defined"
Since I update critical to 0.9.0 from 0.7.0 I get this error when I launch the critical function. It was working fine before, nothing has change except the version update.
Is anyone already have this issue?

[2017-08-22 07:59] pocketjoso commented on #233
What `node` version are you on?
Since `penthouse` started using generators, support for node version below `4` was dropped. Perhaps this is your issue?

[2017-08-22 08:14] geosenna commented on #233
node -v => 4.2.3

[2017-08-22 12:26] pocketjoso commented on #233
Could you update to a newer node version and test - 7 perhaps?

If it still fails something has gone wrong during the installation, if so I would try removing critical (yarn/npm remove critical) and re-adding it.

[2017-08-22 13:17] geosenna commented on #233
I already try to remove it and add it again, without success.
My solution is very heavy and doesn't support any update of node for now...
Maybe there is way to add "regenerator-runtime/runtime" manually?

[2017-08-22 14:45] pocketjoso commented on #233
Sure, just npm install or yarn add it.

[2017-08-22 21:46] #228 closed

[2017-08-23 06:01] geosenna commented on #233
By adding it manually the error is gone, but other errors appears...
Is critical ready to be use with Gulp 4? And are you sure node 4 is the minimum version to have?

[2017-08-23 06:23] pocketjoso commented on #233
Can you please paste the errors here?

It could also be worthwhile to remove and re-install all the node_modules, especially if you're using `npm` (and not `yarn`), as they can get into a corrupted state sometimes: `rm -rf node_modules && npm install`

[2017-08-23 06:30] geosenna commented on #233
`Unhandled rejection TypeError: this is not a typed array.
    at Function.from (native)
    at C:\projects\mb\trunk\FrontCode\node_modules\critical\lib\file-helper.js:77:38
    at bound (domain.js:280:14)
    at runBound (domain.js:293:12)
    at tryCatcher (C:\projects\mb\trunk\FrontCode\node_modules\bluebird\js\release\util.js:16:23)
    at MappingPromiseArray._promiseFulfilled (C:\projects\mb\

[2017-08-23 07:10] geosenna commented on #233
I update node from 4.2.4 to 4.8.0 with nvm and this is working now. Many thanks for the help @pocketjoso  :)
Perhaps "node": ">=4.0" in package.json should be updated, or maybe the issue was coming from myself with some corrupted repo...

[2017-08-23 07:10] #233 closed

[2017-08-23 07:24] geosenna commented on #111
+1 enhancement for managing multiple HTML sources.

[2017-08-23 08:07] pocketjoso commented on #233
Thanks for the feedback, will investigate.

[2017-08-24 14:00] josenobile commented on #216
I'm affected too. This bug is related to critical, penthouse or phantomjs? I want to fix it.

[2017-08-24 14:09] pocketjoso commented on #216
`critical`. Penthouse doesn't change any paths as it just receives css content without any file paths. https://criticalcss.com however (my paid service on top of penthouse) resolves paths correctly. :)

But yeah this must just be some bug in critical that hopefully shouldn't be too hard to fix - I have no insight into this code however.

[2017-08-25 11:17] Julia1996 opened #235 "Empty file"
When I run task "build", one of the critical files is empty. If I run task "critical" separately, all three files are generated normal.  What can be the problem?
My gulpfile:

[code]

[2017-08-26 01:30] Jacfem commented on #202
Not sure if you're still curious about it, but I'm currently trying to integrate with this plugin that's a webpack wrapper around critical: https://github.com/nrwl/webpack-plugin-critical

[2017-08-29 07:49] retyui opened #236 "How resolve all css url(...) ?"
## My code:
[code]
## Result:
[code]
## Expected Result:
[code]

[2017-08-29 19:56] retyui commented on #236
I try solve the problem https://github.com/retyui/critical/commit/e1b994a1dc86429780593a30aad99db76221a033

[2017-08-30 11:41] beingmrkenny opened #237 "Incorrect handling of quotes in attributes"
Seems like quotes around attributes are being normalised. This is causing problems when using single quotes:

`<div data-test='"test informaiton"'>`

becomes

`<div data-test="" test="" informaiton""="">`

[2017-08-31 06:06] josenobile opened #238 "Option to include as crtiical CSS the already inlined"
When I calculate the critical CSS for a page with css inlined (<style>) if such CSS is critical it is not returned as critical.

Should be an option to return as critical the CSS already inlined.

In my case, I remove all the CSS inlined, to leave only the critical CSS. In some situations, the already inlined css is not critical css.

[2017-09-04 04:33] bezoerb commented on #237
This is related to [`cheerio`](https://github.com/cheeriojs/cheerio).
Opened an issue over at [`inline-critical`](https://github.com/bezoerb/inline-critical/issues/228)

[2017-09-04 04:33] #237 closed

[2017-09-05 05:58] reznord commented on #229
@pocketjoso: That's super cool. Will try it on a different branch and test it.

[2017-09-05 06:29] reznord commented on #229
I will be working on it in a separate branch in my fork.

[2017-09-06 12:19] DanchMax opened #239 "I have a trouble with extract option"
Hi!

I have a trouble with extract option, when inline is turend on

Here is my simple code:

[code]

I'm getting such errors:

[code]

If I commets //inline:true, css file is forming ok.

[2017-09-06 14:41] bezoerb commented on #239
Looks like some syntax error inside the css.
With `extract: true` the css is parsed to remove the critical css. This step fails.
@DanchMax: Could you check the css?

[2017-09-06 15:06] DanchMax commented on #239
Yes it.s realy was problem with css, tahks for quickly answer

[2017-09-06 15:06] #239 closed

[2017-09-13 15:56] phaistonian commented on #229
So let me get it.

Is there a way we can use Critical with headless chrome *now*?

ps: I am using headless Chrome any chance I get - it feels NOT dirty, fast and overall awesome.

[2017-09-13 20:55] pocketjoso commented on #229
@phaistonian maybe you can just manually replace the penthouse lib in your node_modules with the one from `penthouse@next` - if you can get critical to run with it it will work out of the box, as I made the API backwards compatible.

[2017-09-13 21:04] pocketjoso commented on #229
@bezoerb @addyosmani and others:

I will release Penthouse 1.0 this week; I've just been writing up a release post, and waiting for the Puppeteer team to close a few important bugs. It is _backwards compatible_ (except for that Puppeteer requires Node>=6.4.0), so this means you can upgrade without changing a thing!

I recommend taking advantage of some changes though:
- Use `cssString` instead of

[2017-09-14 05:00] phaistonian commented on #229
@pocketjoso Worked like charm!

One little thing:

I get this

[code]

all the time.  It doe not affect the result, but it's a bit annoying.

[2017-09-14 05:24] reznord commented on #229
@phaistonian When I test the same in my local, two tests are failing for me. Here is the [error log](https://gist.github.com/reznord/742e61a8e7970665229bab6a717f6455).

[2017-09-14 07:02] pocketjoso commented on #229
So this is when running a lot of invocations in sequence, am I right? not in parallel? I'll look into it - thanks for testing both of you!

[2017-09-14 07:07] reznord commented on #229
Yup.

[2017-09-14 07:23] phaistonian commented on #229
Having used the `lighthouse/chrome-launcher/chrome-launcher` (not Puppeteer) to perform some related tasks, I think the issue has to do with the fact that there's a new task launched before the previous Target (Protocol) is closed.

Perhaps an "await" would do the trick :)

[2017-09-14 08:25] pocketjoso commented on #229
@phaistonian Well the intention is to keep the browser instance running, to save some time and resources, but it currently closes as soon as the puppeteer task finishes - so before the next call happens when you run them in sequence. Sounds like there's some timing issue when the two calls happen close after each other (but not in parallel).

[2017-09-14 19:57] addyosmani commented on #229
\o/ This is amazing work, @pocketjoso. I can't thank you enough for the tireless work in getting Penthouse updated to use headless Chrome. I sit across from the Puppeteer team and if you find yourself blocked on anything at all, please feel free to ping and I'll have a chat with them.

I had been very curious to what extent backward compat would be maintained, but this sounds great.

Same here. Th

[2017-09-14 20:01] pocketjoso commented on #229
So for full transparency @addyosmani, as I will disclose in the release post for Penthouse 1.0 (perhaps you know this already) - all my work on Penthouse is pretty much "funded" via the premium SASS service I built on top (https://criticalcss.com), which has been using image diffing since the start. It's also where I've found most of the issues, and get the confidence that Penthouse works well fro

[2017-09-14 20:11] pocketjoso commented on #229
And @addyosmani re sitting next to the Puppeteer team - that's awesome! You already found the most critical issue on my list (https://github.com/GoogleChrome/puppeteer/issues/662).

I have nothing else critical that I've already opened issues for, but other things on my mind are:
- problems with thrown errors such as the ones making critical's tests fail - but I need to take a closer look my self

[2017-09-14 20:13] pocketjoso commented on #229
Finally @addyosmani I have been thinking about backwards compatibility, and the return value of Penthouse, per the discussion we had in London a while ago. I considered breaking the api to return an object with both the critical css and debug/error info as you asked for back then, but for this release I'm almost sold on going for compatibility, so I can get maximum adaptation as the release is jus

[2017-09-17 16:05] pocketjoso commented on #229
Update: Just published `penthouse@1.0.0-rc14` which fixes the bug with `target closed` errors as reported by @phaistonian in https://github.com/addyosmani/critical/issues/229#issuecomment-329372102.

Doing final sanity testings, preparing to merge this into the `Penthouse` `master` branch for 1.0 version. However in addition to the release post I'm writing I also need to make sure Penthouse's READ

[2017-09-17 16:28] reznord commented on #229
@pocketjoso everything works super awesome, except for this:

[code]

[2017-09-17 16:48] pocketjoso commented on #229
@reznord pushed one more commit that prevents rejecting the returned promise when Penthouse is called in `callback` mode - have not pushed this to npm though.

Like I said earlier it's time for `critical` to update and use the Promise based api instead. :)

[2017-09-17 21:10] bezoerb commented on #229
@pocketjoso That's super awesome! Thanks for putting so much effort in this! I'm looking forward to make the suggested changes to critical this week.

[2017-09-17 22:44] pocketjoso commented on #229
Penthouse 1.0 is here:
https://medium.com/@pocketjoso/penthouse-1-0-official-release-ece995b0d29e

[2017-09-18 05:15] mikeytown2 opened #240 "CLI issue with some https sites: Error opening url: connection closed OR SSL handhsake failed"
I can get the command line version of critical to work with certain sites but not others.

Broken:

    critical https://www.drupal.org/
    critical https://groups.drupal.org/

Working:

    critical https://www.webpagetest.org/
    critical https://github.com/
    critical https://www.npmjs.com/

Related issues:
https://github.com/ariya/phantomjs/issues/12440
https://stackoverflow.com/questions/

[2017-09-20 08:56] developer-lindner opened #241 "ignore options doesn't work"
Hey there!

Just playing around with critical css and i can't exclude things like:
ignore: ['@font-face', 'content', 'font-family', 'clearfix']

What's wrong here?

[2017-09-20 09:10] developer-lindner commented on #241
Nevermind... got it!

ignore: ['@font-face', 'content', 'font-family', 'clearfix'],
ignoreOptions: {
        matchSelectors: true,
    	matchTypes: true,
    	matchDeclarationProperties: false,
    	matchDeclarationValues: false,
    	matchMedia: false
}

[2017-09-20 09:10] #241 closed

[2017-09-20 09:28] developer-lindner opened #242 "display: flex gets extracted as display: -webkit-box;"
Hey there!

display: flex gets extracted as display: -webkit-box; which breaks the layout.
Any idea how to fix this?

[2017-09-20 09:53] pocketjoso commented on #242
@developer-lindner this is due to how [Penthouse](https://github.com/pocketjoso/penthouse) handles invalid original CSS (with syntax errors) - it runs it through a normalisation process that currently goes through Chrome and hence currently drops all properties Chrome doesn't use.

Penthouse can be run with `strict: true` to throw on CSS syntax errors, instead of doing the normalisation - but I do

[2017-09-20 15:32] nico-martin opened #243 "Empty User agent blocked"
Hi there

For security reasons we are blocking some user agents via .htaccess. There we also check if the user agent is empty, which caused some troubles with critical.
Going through the log files it seems like critical makes two requests per dimension. The first one has no user agent and the second one has the user agent defined for `penthouse`.
In our scenario the first request gets blocked beca

[2017-09-21 03:59] bezoerb commented on #229
@pocketjoso Tests are currently failing for node 6. (appveyor)[https://ci.appveyor.com/project/addyosmani/critical/build/326/job/037d67x8ai74ebu8],
(travis)[https://travis-ci.org/addyosmani/critical/jobs/277974145]

[2017-09-21 18:54] mikeytown2 commented on #240
This looks like the cause

https://www.drupal.org/drupalorg/blog/whats-new-on-drupalorg-august-2017

[2017-09-23 09:11] pocketjoso commented on #229
@bezoerb yeah commented in Penthouse repo.

[2017-09-26 10:16] phaistonian commented on #229
So? Almost there?:)

[2017-09-26 11:35] developer-lindner commented on #242
@pocketjoso thank you for your fast reply, seems like penthouse 1.0 has almost landed. Will give it a try as soon as it is available!

[2017-09-26 12:32] bezoerb commented on #229
@phaistonian: Yes :) we only need to fix node6 support

[2017-09-26 12:42] pocketjoso commented on #242
It has landed (last week), you can try it now!

[2017-09-29 16:12] smartinkth commented on #230
Did you find a solution to this @bajras ?

[2017-10-03 01:07] rjh427 commented on #240
Just stumbled into this issue myself, after attempting to use a test suite on a new site. I've seen much written about passing arguments to phantomjs on the command line, that doesn't help me much because  this suite is invoked programatically in a PHP environment. I'm using self-signed certs in my dev environment too, but it's also an issue on the production site with CA-issued certs as well. Is

[2017-10-03 12:44] pocketjoso commented on #240
Just FYI: Once a PR for #229 lands these problems should all go away.

[2017-10-03 16:21] spAnser commented on #171
I managed to fix this by putting this at the top of my javascript.

[code]

[2017-10-03 22:35] ethanhinson opened #244 "Don't reject other 200 series response codes"
When resources return something besides 200 (even another 2XX response) Critical rejects the request here: https://github.com/addyosmani/critical/blob/07be40bab23eb518bb689062b43f0db507c9a1f9/lib/file-helper.js#L145

We have a use case with CDN delivered assets that can return a `203` response. I believe Critical should be allowing any 200 series response.

[2017-10-03 23:26] stereobooster commented on #229
Is there a PR to fix node6 tests?

[2017-10-04 00:59] rjh427 commented on #240
:+1:

[2017-10-05 21:08] stereobooster opened #245 "Warning: Missing html source path. Consider 'folder' option. https://goo.gl/PwvFVb"
documentation doesn't say anything about `folder`

[2017-10-06 05:23] bezoerb commented on #245
@stereobooster Thanks for reporting :)
I've added the `folder`option to the readme https://github.com/addyosmani/critical/commit/3da6fe9359589acf86cbee17ee5d8a8e7c0b099b

[2017-10-06 05:23] #245 closed

[2017-10-06 05:41] bezoerb commented on #244
@ethanhinson Thanks for reporting this. We'll change this in the next release.

[2017-10-06 05:50] bezoerb commented on #171
Thanks for reporting and sorry for the late response. We'll adding a fix for this in the next release.

[2017-10-06 10:18] ethanhinson commented on #244
Thanks for following up, and for the great tool! We're using it on ~25 or so production sites.

[2017-10-07 08:30] midzer commented on #181
Great find @lukebussey
Lets see if i can dig more into this issue.

[2017-10-07 21:50] bezoerb commented on #229
one step forward in #246

[2017-10-08 08:00] Grawl commented on #240
@mikeytown2 How do you run like `critical https://github.com/`? I get an error: `"file" argument must be a non-empty string`

[2017-10-08 08:13] Grawl commented on #229
I found this Chrome extension: [Critical CSS extractor](https://chrome.google.com/webstore/detail/critical-css-extractor/pfcjlollanbphpceofgibjopkkppbdmc)

Works good for my sites.

[2017-10-09 17:19] mnax001 opened #247 "Stream vs regular are not the same"
Regular version:
[code]

Stream version:
[code]

when I check the result on the "prueba.css" file and the "about-us.jade.css" file, the stream version only shows some of the critical css, it is much smaller and is excluding important bootstrap css rules like "col". I'm I doing something wrong?

[2017-10-10 12:17] neoswf commented on #202
we are using it in our project, together with a `on-build-webpack` plugin. After build has finished, inside the callback we call `CriticalCSS.generate(...)`

[2017-10-11 14:33] rtkd commented on #212
Hi, i'm running into the same difficulties.

node: v8.5.0
critical: "^0.9.1"
gulp: "^3.9.0"

test.html
`
<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>Index</title>
	</head>
	<body>
		<header id="header-main">test</header>
	</body>
</html>
`
test.css
`
body {
	background: #f00; }

#header-main {
	color: #0f0; }
`
critical test.css
`
body {
  background: red;
}
`

I fed

[2017-10-11 16:46] rmckeel commented on #212
@rtkd Thanks for adding your example also. @bezoerb Would you be up for mimicking @rtkd setup and see if you can replicate the problem?

[2017-10-12 18:38] rtkd commented on #212
I've set up a more sane env for testing: Node: 6.11.4, NPM: 5.4.2, Gulp: 3.9.1, Critical: 0.9.1
Issue persists. Also, when I explicitly include the element 'include'	: ['#header-main'] everything is fine.

[2017-10-13 22:23] mikeytown2 commented on #240
@Grawl I installed critical like this
yarn global add https://github.com/addyosmani/critical.git#headless-chrome

[2017-10-18 12:22] developer-lindner commented on #242
@pocketjoso I would.. but the PR is still open and the package.json still has "penthouse": "^0.11.13".

[2017-10-20 07:03] sarahxoxo opened #249 "TypeError: this is not a typed array."
I always get the error above.
I couldn't make the script below to work.
How can I fix this?

[code]

gulp -v
CLI version 1.2.2
Local version 3.9.1

node- v
4.1.2

npm -v
4.0.5

[2017-10-21 22:14] bezoerb commented on #244
Fixed in https://github.com/addyosmani/critical/commit/5b451dd4078bf529ac1b6aea9cc66e74205e46e1

[2017-10-23 01:31] sarahxoxo commented on #249
It seems like a node version problem,
after i update my node to v6.11.4 it works!

[2017-10-23 01:32] #249 closed

[2017-10-26 15:44] RobertJGabriel commented on #212
Sorry for being annoying, any update on this :) Same issue

[2017-10-26 21:01] bezoerb commented on #212
Could you please check the current master branch of critical to see if the error still exists after switching to headless chrome?
/cc @RobertJGabriel @rtkd @rmckeel

[2017-10-27 08:34] phaistonian commented on #229
How about a `next` tag until this is done?

i.e `yarn add critical@next`

[2017-10-27 11:59] RobertJGabriel commented on #212
@bezoerb just tired again with the lastest and still the same issue :(

[2017-10-31 17:26] midzer commented on #212
After updating npm packages yesterday I discovered not all critical CSS being extracted any more.
Updating to current master didn't solve it, too.

[2017-11-01 05:44] bezoerb commented on #212
@RobertJGabriel, @midzer: I'm still not able to reproduce the issue.

What about using the [`stream`](https://github.com/addyosmani/critical#gulp) method? Does this produce the same output?

[2017-11-01 06:48] midzer commented on #212
@bezoerb I'm using `stream` call anyway. Here's my gulp task https://github.com/midzer/eisolzried/blob/master/_tasks/critical.js

[2017-11-04 11:10] rfgamaral opened #250 "Is it a problem if almost ALL of my CSS is inlined as critical?"
I have a very simple homepage (https://ricardoamaral.net/) and when I use this tool to extract the critical-path CSS, almost everything is extracted. I'm just wondering if this is a problem or if it's fine?

Also, as a follow up question, should I even worry this much with critical-path CSS on a very simple/basic homepage like this?

[2017-11-04 11:16] rfgamaral opened #251 "Ignoring 'background-image' makes PageSpeed Insights report a bunch of above-the-fold optimizations"
Take the following Gulp function that I use to extract my critical-path CSS:

[code]

PageSpeed Insights gives me this:

![image](https://user-images.githubusercontent.com/96476/32404857-3a0c7fac-c151-11e7-9f20-36cdb9925b60.png)

Now, if I remove the `'background-image'` line from the `ignore` options, I get 0 "above-the-fold content" recommendations.

Am I doing something wrong?

[2017-11-04 12:34] pocketjoso commented on #250
As long as your site (and css) is going to stay this size, you can just inline the full css and not worry.

[2017-11-04 15:10] rfgamaral commented on #250
You're saying to just inline everything? In that case, wouldn't be simpler for me to just use some Gulp  plugin for inlining a CSS file instead of using Critical?

[2017-11-05 19:36] pocketjoso commented on #250
Yep probably.

[2017-11-06 00:44] rfgamaral commented on #250
Thanks.

[2017-11-06 00:44] #250 closed

[2017-11-06 06:13] bezoerb commented on #244
[v1.0.0](https://github.com/addyosmani/critical/releases/tag/v1.0.0) Released :)

[2017-11-06 06:13] #244 closed

[2017-11-06 06:13] bezoerb commented on #171
[v1.0.0](https://github.com/addyosmani/critical/releases/tag/v1.0.0) Released.

[2017-11-06 06:13] #171 closed

[2017-11-06 06:14] bezoerb commented on #242
@developer-lindner: we just released [v1.0.0](https://github.com/addyosmani/critical/releases/tag/v1.0.0). Would you mind to check again with the new version?

[2017-11-06 06:15] bezoerb commented on #240
@mikeytown2: we just released [v1.0.0](https://github.com/addyosmani/critical/releases/tag/v1.0.0). Would you mind to check again with the new version?

[2017-11-06 06:16] bezoerb commented on #229
[v1.0.0](https://github.com/addyosmani/critical/releases/tag/v1.0.0) Released :)

[2017-11-06 06:16] #229 closed

[2017-11-06 10:19] rfgamaral commented on #251
I did some further debugging on this issue and I don't understand what's going on... PageSpeed splits reports between mobile and desktop, let's focus on mobile for now.

If I have the `critical` rules above, especially the `background-image` one, I get all those warnings. But If I inline just the following code (which got stripped given the `critical` rules):

[code]

I no longer get the warnings

[2017-11-06 10:41] rfgamaral commented on #251
I think this is has something to do with the `loadCSS` function, it's blocking everything else, somehow.

[2017-11-06 14:15] developer-lindner commented on #240
@mikeytown2

inside your script use:
process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";

before using critical.generate()

[2017-11-06 14:21] ethanhinson commented on #244
Thank you!

[2017-11-07 15:48] kyrylkov opened #252 "UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: msg.replace is not a function"
Getting this error after upgrade from 0.9.1 to 1.0.0 using Node.js 9.0.0 / Win 10 x64

[code]

[2017-11-08 13:50] djbuch commented on #252
I found this : https://github.com/pocketjoso/penthouse/pull/197

[2017-11-09 04:38] bezoerb commented on #252
Awesome job @djbuch :)
I got the same error today and was just about to raise an issue over at penthouse.
Thanks :)

[2017-11-09 09:40] developer-lindner commented on #242
@bezoerb just tested it yesterday and it works like a charm!

[2017-11-09 09:41] #242 closed

[2017-11-09 16:39] julia-dizhak opened #253 "Extract is not working"
there is  an extract from available options
[code]
which supposed to extract inlined styles from referenced stylesheets
But it's not working

[2017-11-10 12:52] bezoerb commented on #253
@julia-dizhak: extract only works in combination with `inline: true` as this is handled by `inline-critical`.

[2017-11-10 12:53] pocketjoso commented on #253
@bezoerb would be nice for critical to output a warning when it's run with these incompatible settings

[2017-11-10 14:21] maseyuk opened #254 "Gulp with critical v1.0"
Im just trying to setup gulp with critical. I've tried using the gulp code from here:
https://github.com/addyosmani/critical

But im getting "TypeError: critical is not a function"

Is the gulp setup now out of date with 1.0?

[2017-11-11 22:49] bezoerb commented on #254
@maseyuk: The gulp setup should work the same way as with v0.9
Did you try this code https://github.com/addyosmani/critical#gulp?

[2017-11-14 17:03] JonWatkins opened #255 "Not removing the temporary files when using html option"
I am trying to run this on an HTML string, But it does not remove any of the temporary files at the end of the process.

My HTML string contains links to css files that are external resources, and it seems to be dealing with this just fine.

[code]

The content variable is a rendered pug file. Im using this as part of a publish/cache process in the server. And it is just filling the server up with

[2017-11-15 10:07] JonWatkins commented on #255
Took a while to get back here and close this, but I ended up running it in a child process this lets it do exactly what I needed.

[2017-11-15 10:07] #255 closed

[2017-11-24 13:34] simon-jouet commented on #255
Hi @JonWatkins,

You closed this issue, but I believe this is still a valid issue and the temporary file should be removed without having to stop node.

[2017-11-24 15:08] BB-000 opened #256 "CSS ordering / duplication"
Here is a simple example of the issue

My main stylesheet, main.css includes this style near the top ( from a reset.css )

h1 { margin: 0.67em 0 }

Then this is overwritten by my styles, near the bottom of main.css

h1, h2, .h3, ul, p {
  margin: 0 0 0.9em;
}

The output in criticalcss file is like this, and causes my style to get overwritten

h1 {
  margin: 0.67em 0px;
  margin: 0.67em 0;
}
//...

[2017-11-25 10:28] pocketjoso commented on #256
@BB-000 It's possible that the issue comes direct from [Penthouse](https://github.com/pocketjoso/penthouse), the underlying critical css generating library. Would it be possible for you to retry using that library directly, and if you can reproduce the bug, raise an issue there instead/as well?

[2017-11-27 10:44] BB-000 commented on #256
I tested using Penthouse web service on the same page/stylesheet and the style was included correctly once. I am using filamentgroups grunt criticalcss https://github.com/filamentgroup/criticalCSS, I'll post an issue there

[2017-11-28 10:10] topogigiovanni opened #257 "[BLOCKER] Extracted CSS are incomplete after Penthouse update to @1.1.3"
I'm having very different results after reinstalling the Lib Critical with the Penthouse in version 1.1.3. The generated files are considerably different and smaller.

My Node version is v6.10.3

[2017-11-28 11:19] pocketjoso commented on #257
Can you try running directly towards Penthouse, and getting incorrect styles, opening an issue there instead? If the issue is coming from Penthouse, most likely you have errors in your original CSS, causing the AST parsing to fail. You can try posting your css into this [AST explorer, on the CSS tab](https://astexplorer.net/) and ensure it can parse your css without any errors - or even better run

[2017-11-28 14:08] #257 closed

[2017-11-28 14:14] topogigiovanni commented on #257
Thanks for your suggestions @pocketjoso. Running Penthouse directly in v1.1.3, I have the same wrong result. I will open the issue there.

I still wonder if other Critical lib users are not experiencing the same problem due to this Penthouse version change. If so would not it be interesting to define the dependency for version v1.1.2?

[2017-11-28 14:58] Saturate opened #258 "Empty href in link throws cryptic error"
The following link tag in HTML
`<link href="" media="all" rel="stylesheet">`

Will give an error saying:
`Unhandled rejection Error: EISDIR: illegal operation on a directory, read`

This can be quite cryptic, as this was a series of bugs that I encountered, both with the href not getting rendered and then with the strange error from critical.

I makes sense as it tries to open a dir, and it can't

[2017-11-28 15:41] pocketjoso commented on #257
More likely that the problem came from `1.0.0` than specifically `1.1.3` - but let's debug in penthouse repo.

[2017-11-29 09:35] topogigiovanni commented on #257
Issue opened in Penthouse repo
https://github.com/pocketjoso/penthouse/issues/204

[2017-12-01 06:29] bezoerb commented on #258
Thanks for reporting @Saturate. We should definitely improve the error reporting

[2017-12-01 11:04] teodragovic commented on #212
Hi, I think I have the same problem. Only output I got is styles for `<html>` and `<body>` elements and `@font-face` rules.

Here is my reduced example (I'm using Windows 8, Node 6, npm 5):

html:
[code]

css:
[code]

gulp:
[code]

I also tried using CLI command `critical build/index.html --base build > critical.css` and output is the same. Per recommendations in Penthouse repo I checked my styles

[2017-12-01 13:20] pocketjoso commented on #212
@teodragovic this was due to an [upstream issue in Puppeteer](https://github.com/GoogleChrome/puppeteer/issues/1506) - but I just published a new penthouse version (1.1.4) that downgrades puppeteer to avoid this issue. Please reset your penthouse module (how depends on your package manager, but you can f.e. uninstall `critical` and install it again) - and re-test - should work again.

[2017-12-01 15:29] rmckeel commented on #212
@pocketjoso Thanks for finding & fixing the issue.  When I'm back on the original task, I'll try it again!

[2017-12-01 15:35] pocketjoso commented on #212
I should have been more clear: the issue I'm referring to have only been there the last few days, so if you had an issue from before then it's unfortunately likely to still be there after this. Do try it though as you never now.

[2017-12-01 16:12] teodragovic commented on #212
@pocketjoso yup, that solves it for me. Thank for such a quick response!

[2017-12-02 00:15] bezoerb commented on #255
Just released [v1.1.0](https://github.com/addyosmani/critical/releases/tag/v1.1.0) which triggers temp file removal after the critical css is computed

/cc @JonWatkins @simon-jouet

[2017-12-02 00:17] bezoerb commented on #191
Should be fixed in [v1.0.0](https://github.com/addyosmani/critical/releases/tag/v1.1.0). Feel free to reopen if the error still exists.

[2017-12-02 00:17] #191 closed

[2017-12-02 00:17] bezoerb commented on #218
Should be fixed in [v1.0.0](https://github.com/addyosmani/critical/releases/tag/v1.1.0). Feel free to reopen if the error still exists.

[2017-12-02 00:17] #218 closed

[2017-12-05 08:03] developer-lindner opened #260 "Ignore class-selector plus child elements"
I don't get it... could someone please enlighten me how to ignore certain class-selectors?!

[2017-12-05 15:05] bezoerb commented on #260
@developer-lindner: You can use the `ignore` option like this:
[code]

https://github.com/addyosmani/critical/blob/2f332dc8986e31b820b33f2e2cd98b4816b3d81a/test/02-generate.js#L514

[2017-12-05 16:23] developer-lindner commented on #260
@bezoerb Thank you! But i've tried that already... class-selectors didn't work at all?!
Looks broken to me...

[2017-12-05 19:46] bezoerb commented on #260
@developer-lindner thanks. I’ll look into it later today

[2017-12-05 22:47] bezoerb commented on #260
@developer-lindner i just ran some tests and all worked as expected. What exactly do you want to achieve? Maybe there's a misunderstanding ;)

You can either _ignore_ css classes with the aim to keep them out of your critical css (this is what the ignore option in critical is for).
[code]

i just tested both versions and the result was as expected every time.

[2017-12-07 11:07] developer-lindner opened #261 "converts float?!"
After extraction:
margin-bottom: 10,6066px; ?
font-size: 0,75rem; ?

Anyway to solve this easily?

[2017-12-07 11:15] developer-lindner commented on #260
I use include too for some non-visible stuff but the ignore option didn't work as expected for class-selectors. Just tried it again and now it did work?! I don't get it... thanks for taking time!

[2017-12-07 11:15] #260 closed

[2017-12-07 11:47] pocketjoso commented on #261
Converts from what to what exactly?

Might be because of Penthouse normalisation of your original css, if so this will be fixed (in Penthouse) sometime this week when this pr is merged: https://github.com/pocketjoso/penthouse/pull/209.

[2017-12-07 12:18] developer-lindner commented on #261
Ya must be the normalization... should be font-size: 0.75rem; for example.
Hopefully the PR will soon be available! Thank you!

[2017-12-07 12:18] #261 closed

[2017-12-09 22:40] sheerun opened #262 "Official docker image"
Critica's requirements and size is pretty substantial, could you prepare official dockerfile so everyone doesn't need to re-run build of it? Following would be perfect:

[code]

And tag it like `critical:1.1.0`

This way one would be able to install critical extremely quickly with `yarn --prefer-offline` within docker.

[2017-12-11 11:59] thewilkybarkid opened #263 "UnhandledPromiseRejectionWarning if Chrome can't be started"
We were missing some system packages to be able to run Chrome, this lead to an `UnhandledPromiseRejectionWarning` and a 0 exit code (through Gulp).

[code]

[2017-12-11 23:02] bezoerb commented on #263
We recently used this inside docker and we had to add a bunch of system packages to get headless chrome running.
* gconf-service
* libasound2
* libatk1.0-0
* libc6
* libcairo2
* libcups2
* libdbus-1-3
* libexpat1
* libfontconfig1
* libgcc1
* libgconf-2-4
* libgdk-pixbuf2.0-0
* libglib2.0-0
* libgtk-3-0
* libnspr4
* libpango-1.0-0
* libpangocairo-1.0-0
* libstdc++6
* libx11-6
* libx11-xcb1
* libxcb

[2017-12-12 11:41] pocketjoso commented on #263
Yeah this comes from puppeteer. So far penthouse only mentions it in the readme here:
https://github.com/pocketjoso/penthouse#not-working-on-linux

Feel free to open a PR to expand on that section in the readme (in Penthouse).

[2017-12-12 13:33] teodragovic commented on #263
I'm not sure if I have same problem but I started getting this in my console when deploying (locally everything works and on server worked last friday dec. 8th):

[code]
the `Page crashed` part got me thinking that it's not Chrome starting problem but something else with dependencies that's changed.

[2017-12-12 13:46] thewilkybarkid commented on #263
Yeah, we had a separate bug that didn’t install all the packages. The problem here is the 0 exit code, as it didn’t cause our build to fail and created problems further down the line.

[2017-12-14 13:41] rokerkony opened #264 "IE11 crashes due to cycling loading of css file"
Hi,
after upgrading critical from 0.9.1 to 1.1.0 is our angular 4 app failing due to the loading of the css file.

After first fetch of css file it loads that css and fonts (which are in the css file) all the time again and again until IE11 stops to be responsive anymore.

this is a list of requests from `http-server`:
[code]

After some investigation, I found out that a polyfill for a plugin `loa

[2017-12-14 18:18] XhmikosR commented on #264
@bezoerb: perhaps you need to set the `onload` handler to `null` like they recommend upstream?

https://github.com/bezoerb/inline-critical/blob/master/index.js#L148

[code]

[2017-12-14 18:22] XhmikosR commented on #241
@bezoerb: this should be documented if it's intended, otherwise it's a bug in filter-css.

The README there states:

If we have to specify explicitly

[code]

then something seems wrong :/

[2017-12-14 18:23] XhmikosR commented on #254
Works fine for me here.

[2017-12-14 18:45] rokerkony commented on #264
it was my first try and unfortunately, it didn't help

the only solution which helped till now is to put back polyfill from this commit:
https://github.com/bezoerb/inline-critical/commit/5317ba2f55a31e56b38d83a22a3cf9e8b7a241f4#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2017-12-14 18:52] XhmikosR commented on #264
So, you say that v2.0.0 works and v2.0.1 causes the issue? If that's the case, I guess you should report the issue to https://github.com/filamentgroup/loadCSS

[2017-12-14 18:52] XhmikosR commented on #264
Regardless, I still think, @bezoerb should set the onload event to null per the upstream README.

[2017-12-14 18:55] rokerkony commented on #264
@XhmikosR sorry I was not precise... I used just a polyfill used in tests from this PR

and what I read is, that 2.0.0 is deprecated as it was published incorrectly that is probably why is this PR with 2.0.1

[2017-12-14 19:01] XhmikosR commented on #264
I confirm that the issue indeed exists. I might try to pinpoint the issue when I have some time unless someone else beats me to it.

[2017-12-14 20:02] bezoerb commented on #264
Thanks @XhmikosR, @rokerkony. I‘ll publish a patch to inline-critical later today.

[2017-12-14 21:45] XhmikosR commented on #264
I believe the issue is what I said above @bezoerb. I just tested IE 10 with `his.onload=null;` like the upstream docs and works fine. So we definitely need this.

I made https://github.com/bezoerb/inline-critical/pull/231

[2017-12-14 22:12] XhmikosR commented on #252
I believe this can be closed now @bezoerb

[2017-12-14 22:31] XhmikosR opened #265 "Update dependencies"
@bezoerb: if you release a new version, can you also update the deps? There's a security warning for debug.