[2017-12-15 04:43] bezoerb commented on #264
https://github.com/bezoerb/inline-critical/releases/tag/v3.1.0

[2017-12-15 04:46] bezoerb commented on #252
Closing this as it's fixed in `penthouse`

[2017-12-15 04:46] #252 closed

[2017-12-15 06:44] XhmikosR commented on #264
Confirmed, works fine. You can close this issue.

[2017-12-15 06:46] #265 closed

[2017-12-15 10:06] rokerkony commented on #264
thanks guys for an effort and a fix, but it is still failing on IE11...
should I create another issue on loadCSS and close this one or how to proceed?

[2017-12-15 10:07] XhmikosR commented on #264
Delete your local node modules folder and package lock and install
everything again.

It's definitely fixed but I guess Ben could release a new patch critical
version to circumvent your issue which others will have too.

On Dec 15, 2017 12:06, "Konrad Černý" <notifications@github.com> wrote:

[2017-12-15 10:19] princewn opened #269 "Because of JS frame,the first screen can not be rendered successly"
hi~
If the contents of the first screen are depend on the rendering of JS framework,the first screen can not be rendered successfully.
May I ask if it is my problem or the plugin do not support JS frame rendering?

[2017-12-15 10:20] rokerkony commented on #264
I just did but it is still failing. `this.onload=null` is now applied but still loads css again and again... are you testing on IE11 as well?

[2017-12-15 10:22] XhmikosR commented on #264
I tested on IE 10 which had the problem and the fix fixed it for me. I will
try IE 11 in a few minutes but my guess is it will work there too.

On Dec 15, 2017 12:20, "Konrad Černý" <notifications@github.com> wrote:

I just did but it is still failing. this.onload=null is now applied but
still loads css again and again... are you testing on IE11 as well?

—
You are receiving this because you were

[2017-12-15 10:22] princewn commented on #269
If the plugin do not support JS frame rendering,do you have a plan to do this and when?

[2017-12-15 10:49] XhmikosR commented on #264
Yup, works fine for me, the issue is fixed as expected from my initial testing too.

If you have any more issues you should report them upstream since now the code is the recommended one. Just don't forget to post an issue to the repo that needs any updates if something is changed upstream.

[2017-12-15 11:04] rokerkony commented on #264
ok, thx for testing...

maybe it is influenced by an angular app... I will try to test it on minimal code and then compare with our app if it works... if not I will try to investigate directly in `loadCSS` repo

we can close this issue here for now, right?

[2017-12-15 11:09] 0reo27 commented on #264
Got the same issue. Bumped the version of inline-critical. Working great now. I just tested on IE11. I guess we just need to wait for the author to bump the version?

[2017-12-15 11:12] XhmikosR commented on #264
Until a new patch release of critical is out, you can just do the following:

[code]

@bezoerb: please release a new patch version where you explicitly bump inline-critical to the latest version.

[2017-12-15 14:04] rokerkony commented on #264
Hey guys, would you be so kind and could anyone try this?
https://github.com/rokerkony/angular-critical-ie11-bug

This is a minimal angular app generated by CLI with critical on top of it, just run `npm run serveDist` after cloning the repo and it will install deps, build, apply critical and run http-server.

This is still failing for me ... If you confirm I will probably open an issue in the angu

[2017-12-15 14:27] XhmikosR commented on #264
While I'm on Windows and your test repo is probably from macOS (so I had to make a couple of changes), I tried it with msys2. I can reproduce your issue there with IE10, but I don't see how it's related to critical, when it happens if I remove your postbuild script which actually runs critical.

[2017-12-15 14:40] rokerkony commented on #264
ok... I think it is caused by Zone.js which is monkey patching a `load` event...

after I have commented out all occurrences of `'load'` (4 occurrences) events it works ...

closing this issue and going to open one there...

[2017-12-15 14:40] #264 closed

[2017-12-15 14:42] 0reo27 commented on #264
Just wanted to chime in again. Simply did a yarn remove critical -D, yarn add critical -D and it's working without any additional configuration.

@rokerkony, thanks for reporting the bug and thanks to @XhmikosR and @bezoerb for sorting it out. Critical is an awesome tool for sure! :)

[2017-12-16 14:19] midzer commented on #181
Tbh i have no clue where to start on this issue :[

Furthermore with quick fix from @lukebussey it appears latest v1+ critical extracts only navbar components for me. This results in too less CSS being inlined for my project. Too bad I had to revert to v0.8.4.

[2017-12-16 14:33] pocketjoso commented on #181
This has been resolved in the latest  (1.2) version of Penthouse - https://github.com/pocketjoso/penthouse/releases/tag/v1.2.0.

@bezoerb @addyosmani Would be great to see an upgrade pushed out.

[2017-12-17 21:19] bezoerb commented on #265
Looks like [`penthouse`](https://github.com/pocketjoso/penthouse) >= 1.2.0 returns minified css by default. If this is intended we need to remove the `--minify` option to make the tests green again because the resulting css will always be minified. From my perspective it would be totally fine to drop the minify option as the inlined css should be as small as possible.
@pocketjoso: Is this a featur

[2017-12-18 20:33] larsonjj opened #270 "CI build output HTML differs from local build"
# Overview

Currently having issues getting consistent build output from my local machine compared to a CircleCI build. Everything seems to build without errors and the local build is perfect. But when the same build is run on CircleCI, no errors appear and the `<link rel="preload">` tags are not generated. `<noscript><link rel="stylesheet"></link></noscript>` tags are generated correctly though,

[2017-12-20 12:00] lewisnyman opened #271 "1.*.* breaks gulp task"
Since upgrading to 1.0.0+ I've encountered fails that I'm finding really hard to debug.

Node 6.4.0

Task

[code]

Error message:

[code]

[2017-12-21 07:38] pocketjoso commented on #265
@bezoerb It doesn't(fully)  _minify_ the css, but the [csstree parser](https://twitter.com/csstree) that penthouse 1.2 started using does trim some whitespace when turning the ~ ast back into a string, so that's what you're seeing.

You should still minify on top of this to get the smallest possible critical css.

[2017-12-27 14:50] Fenrirkp opened #272 "Duplication of css rules"
Source HTML:

	<div class="menu">
		<div class="menu-toggle">
		</div>
		<div class="menu-list">
			<a href="#">String1</a>
			<a href="#">String2</a>
			<a href="#">String3</a>
			<a href="#">String4</a>
			<a href="#">String5</a>
		</div>
	</div>
	<div class="section">Some content...</div>
</header>
Source CSS-file:

	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;

[2017-12-27 14:55] Fenrirkp commented on #272
My gulp-task:

	gulp.task('critical', function () {
		return gulp.src('app/*.html')
		.pipe(critical({
			base: 'app/',
			inline: true,
			width: 600,
			height: 1080,
			extract: true
		}))
		.pipe(gulp.dest('app/'));
	});
</section>

[2017-12-27 20:31] NikolaySolodukhin commented on #202
neoswf, could show example of you config please?

[2017-12-27 20:45] NikolaySolodukhin opened #273 "Use in react app"
Can I use critical in react app?

[2017-12-27 22:55] bezoerb commented on #272
The extraction is done by the [`cave`](https://github.com/bevacqua/cave) module.
I've proposed a [PR](https://github.com/bevacqua/cave/pull/5) to some time ago. Until this is landed we can't do much about this.

[2017-12-28 09:08] pocketjoso commented on #272
And just a friendly reminder from me that removing "duplicated" rules from the original css is bad practice, as you no longer have a shared full stylesheet that the browser will cache and that will be re-used on later page loads.

[2017-12-28 09:09] pocketjoso commented on #273
If your server side render it, yes.

[2017-12-28 22:39] bezoerb commented on #272
Thanks @pocketjoso :)
https://github.com/addyosmani/critical#options

[2018-01-01 13:45] Fenrirkp commented on #272
That's ok. I have only one page.

[2018-01-02 17:07] phil-r opened #274 "Replace deprecated dependency gulp-util"
[`gulp-util`](https://www.npmjs.com/package/gulp-util) has been deprecated recently. Continuing to use this dependency may prevent the use of your library with the recently released version 4 of Gulp, **it is important to replace `gulp-util`**.

The [README.md](https://github.com/gulpjs/gulp-util) lists alternatives for all the components so a simple replacement should be enough.

Your package is

[2018-01-02 19:48] davidmurdoch opened #275 "Double quotes within single quoted attributes cause invalid output"
Swapping `'` for `"` in something like `<a title='My Title Here'></a>` isn't usually a problem, however, it is valid HTML to have something like `<a title='Read more "Double Quotes around me"'></a>`.

Critical does something strange in these cases (even with `minify: false`). It'll take the above HTML and output:

`<a title="Read more " double="" quotes="" around="" me=""=""></a>`

Which obviously

[2018-01-04 11:37] jdrzj commented on #271
Hi, I got the same error when running critical.
I got node 7.3.0, gulp 3.9.1.

[2018-01-05 09:14] jdrzj commented on #271
I tried to rollback to version 0.9.1 with:
`$ npm install critical@0.9.1 --save`
but I got the error message:
[code]

[2018-01-05 09:23] jdrzj commented on #271
But running it from CLI works.

[2018-01-08 13:27] midzer commented on #181
@lukebussey It appears latest penthouse doesn't need this bootstrap hack any more.

Miserably, there is still some CSS missing for my critical gulp task.
I tried the online version via https://jonassebastianohlsson.com/criticalpathcssgenerator/ and all necessary CSS is extracted.

@pocketjoso I have no idea where to look. Do you have any idea what is wrong with my critical task config? Thanks in a

[2018-01-08 18:34] pocketjoso commented on #181
@midzer The online generator is on the latest penthouse version - critical is not. I presume this is the culprit. With the latest penthouse version no more hacks are needed to get around CSS parsing issues.

Friendly ping @bezoerb for a release update - did you try the latest Penthouse version (1.3, although the majority of Penthouse became fault tolerant in 1,2)? If you encountered any issues, pl

[2018-01-08 18:41] midzer commented on #181
@pocketjoso in my build environment `package.json` of penthouse in `node_modules` folder states I'm currently using version 1.3.0.

[2018-01-08 22:12] bezoerb commented on #271
Got the same error errors in my [`bump-dependencies`](https://github.com/addyosmani/critical/tree/bump-dependencies) branch
https://travis-ci.org/addyosmani/critical/builds/319980576

[2018-01-08 22:24] bezoerb commented on #181
Thanks for the ping @pocketjoso :)
I already worked on the dependency update in the [`bump-dependencies`](https://github.com/addyosmani/critical/tree/bump-dependencies) branch.
Unfortunately i'm randomly running in some [`ECONNRESET` errors](https://travis-ci.org/addyosmani/critical/builds/319980576) and i haven't yet figured out what's causing them.

[2018-01-09 19:54] brezanac commented on #275
Confirmed. It's especially problematic with data attributes containing values like JSON etc.

[code]
becomes
[code]

[2018-01-10 21:15] pocketjoso commented on #181
Thanks for the update!

On Mon, Jan 8, 2018 at 11:24 PM, Ben Zörb <notifications@github.com> wrote:

--
https://jonassebastianohlsson.com <http://jonassebastianohlsson.com>
@pocketjoso <http://twitter.com/pocketjoso>

[2018-01-11 10:01] developer-lindner commented on #273
It works even without server side rendering...

[2018-01-11 12:04] pocketjoso commented on #273
**No.**
Even though critical might run without throwing any errors, and even return you a critical css - it is not of any use without (some kind of) server side rendering.

Critical css is used to enable browsers to render your website _before_ it has loaded CSS + JS, based purely on the initial HTML (i.e. what your server returns) and the critical css. If your HTML is empty, the first render with

[2018-01-13 07:02] mohitsinghs commented on #181
I have `penthouse@1.3.0` installed with `critical` and after downgrading `ws@3.3.3` to `ws@3.3.2` `ECONNRESET` errors are gone.

My cli task to for multiple nested files.
[code]
For local or CI builds, monkey patching works for now.
[code]

[2018-01-19 00:18] zomars commented on #262
I totally agree with this

[2018-01-21 09:06] NikolaySolodukhin opened #276 "Error to download Chromium"
Failed to download Chromium r508693! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download. After npm install --save critical. Node v. 8.9.3. Can you help me how to fix this mistake?

[2018-01-23 22:43] bezoerb commented on #273
Closing this because the question is perfectly answered. Thanks @pocketjoso.

[2018-01-23 22:43] #273 closed

[2018-01-23 22:50] bezoerb commented on #275
This behavior is caused by [`cheerio#720`](https://github.com/cheeriojs/cheerio/issues/720) which is used under the hood by `inline-critical` to inline the critical css.

[2018-01-25 10:39] kanishk-anand-oyo opened #277 "giving .css file as src throws "css should not be empty" error"
I am trying to extract critical css from a .css file by listing is in src and giving an html page in the dest field, but it throws  `Unhandled rejection Error: css should not be empty`
Any heads up?

[2018-01-25 12:45] kanishk-anand-oyo commented on #277
I gave the css file in the css:[ ] array, but the program doesn't generate critical css if there isn't a css file in users.ejs
`const critical=require("critical");
critical.generate({
    base: 'public/stylesheets',
    src:'../../views/users.ejs',
    css:['public/stylesheets/users.css'],
    dest: '../../views/users.ejs',
    inline: true,
    extract: true,
    width: 800,
    height: 1100,
});

[2018-01-31 02:33] fjorgemota commented on #271
I'm having the same problem here.

However, instead of just showing ERESET from times to times...I'm having the following error shown randomly - too:

[code]

[2018-01-31 12:44] pocketjoso commented on #271
This error is tracked in Penthouse and a fix for it is coming:
https://github.com/pocketjoso/penthouse/issues/202#issuecomment-361909817

It happens when the page the critical css generation is working on issues a redirect to another page (~~ window.url = something else).

[2018-01-31 14:17] fjorgemota commented on #271
Oh. Nice!

Now it makes sense the fact that sometimes `ERESET` error is shown, sometimes that error is shown.

I will try today to execute spawn a new instance of `critical` for each HTML file found, to see if most files are, at least, processed (trying to avoid those who redirect to another pages).

Anyway, thanks for the answer. =)

[2018-02-01 14:49] mohitsinghs commented on #271
@fjorgemota You can fix these errors for now by downgrading `ws@3.3.3` to `ws@3.3.2` . [see my comment](https://github.com/addyosmani/critical/issues/181#issuecomment-357414945)

[2018-02-02 10:59] hendrikeng commented on #263
@teodragovic did u solve the issue? i am running into the same problem.
following the steps didn't help https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md

it all works lokal but not on the server

[2018-02-06 07:17] gbreux opened #280 "Different output when using `base` prop"
Hi guys,
I have an interesting bug that i finally managed to reproduce. When my folder looks like that:

[code]
And my critical:
[code]
The output is correct.

But when it looks like that:
[code]

And the critical:
[code]
The output is different (5400caracters) than the other one (10759caracters) even though the content didn't change, i just reordered the files.

Here is 2 screenshots that show th

[2018-02-07 12:05] Simpleqode opened #281 "Can't install via npm"
I am trying to install with:

[code]
however get the following error:

[code]

Any help would be appreciated.

[2018-02-07 15:40] bezoerb commented on #281
@simpleqode: critical doesn‘t depend on babel-jest so this issue might be related to something else. Can you check your package.json.

[2018-02-07 15:49] Simpleqode commented on #281
Seems like Penthouse does. Anyways, seems like babel-jest released a small update to resolve the issue, so I think this issue can be closed.

[2018-02-07 21:38] #281 closed

[2018-02-09 01:17] begincalendar commented on #271
Is anyone able to consistently reproduce this issue?

It occurs sporadically for me and hence is infeasible to debug.

[2018-02-16 10:33] shervud commented on #277
Hi, I have also faced with the same problem. I contacted with Penthouse lib developer and he said that problem is on **critical** lib side.

An ugly issue "Unhandled rejection Error: css should not be empty" appears only on URLs whose <html> body does not have any css includings such as: `<link href="url-to-css.css" />`.

Some URLs implement css sources includings in the following way:
`<style>@im

[2018-02-16 17:21] Giovanni-Mattucci opened #283 "CSS/HTML Output gets printed to console when using CLI"
Is there a way to silence the CSS/HTML that gets printed to the console when running via the CLI?

[2018-02-20 14:08] danchukas opened #284 "Error: Penthouse timed out after 30s."
`cat /tmp/cs_4DTK26 | critical --folder /project_public_root --inline > /tmp/cd_TKmFq3`
Error: Penthouse timed out after 30s.

**/tmp/cs_4DTK26:**
[code]

**/tmp/cd_TKmFq3** is empty

What to do ?

[2018-02-23 02:28] chenesan opened #285 "How to set `folder` option when html is generated by server side rendering?"
Hi,

In my project I do server side rendering, then pass the output html through express.js middleware to generate critical path css. The options is here:

[code]

Then I see the following warning message each time when I run the `critical.generate`:

`Warning: Missing html source path. Consider 'folder' option. https://goo.gl/PwvFVb`

My problem is, since the html is generated in backend code, no

[2018-02-24 21:15] bezoerb commented on #285
The folder option is used to compute the path to relative assets inside your css. It should reflect the the directory structure of your page.
You should use the destFolder option to specify the relative to your base directory.
If your html resists in the document root you can pass `destFolder: './'`

[2018-02-25 09:59] chenesan commented on #285
OK I got it. Thanks!

[2018-02-25 09:59] #285 closed

[2018-02-26 14:04] #236 closed

[2018-02-28 10:44] futureweb commented on #216
any news on this? ;-)

[2018-03-05 21:59] dylanspurgin commented on #218
I am still seeing this error using v1.0.0. Everything is working (very slowly) if I downgrade to 0.8.0.

[2018-03-06 08:34] chiragbhansali opened #286 "Package install fails. ERROR: Failed to download Chromium r508693!"
When I run `npm install critical`, I get the following error message:

`npm WARN deprecated fg-loadcss@2.0.1: @2.0.0

`
`
ERROR: Failed to download Chromium r508693! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download.
{ Error: self signed certificate in certificate chain
    at TLSSocket.<anonymous> (_tls_wrap.js:1079:38)
    at emitNone (events.js:86:13)
    at TLSSocket.emit (e

[2018-03-07 09:51] shiftie commented on #271
Hi, I can't use critical on Travis & it also fails in local as well with:
[code]
any updates concerning this?

[2018-03-07 15:31] shiftie opened #287 "Error on Travis when using multi-dimension config"
Hi,

I'm having this error when trying to run `generate()` on Travis (works on local MacOS) with multiple resolutions provided:

[code]

My config:

[code]

I'm using node 8.9.4.

ps.: When ran with only one resolution (width & height attributes directly in config object), I've had ECONNRESET errors which I've solved by force resolving `ws@3.3.2` due to lack of `on('error')` handler in ws 3.3.3 (w

[2018-03-14 15:05] emiespo opened #288 "Ignoring CSS from Urls with relative domains and https:"
Hi all,

I think I'll probably have to use penthouse directly, but I wanted to report this issue I came across.
Basically, when passing a url like this:

https://www.domain.com/

...and having CSS served from a different domain (edit: the URL is protocol-relative):

//www.cnd-domain.com/css/awesome-site.css

I get this warning in the output:

`Ignoring http://www.cnd-domain.com/css/awesome-site.cs

[2018-03-14 15:09] pocketjoso commented on #288
404 means there was no such file on the server. So this would normally mean it's a problem on your end (or the sites you're loading css from).

[2018-03-14 16:33] emiespo commented on #288
Read better: it is trying to access http instead of https (as it should be). If I change that line to https, it works :).

[2018-03-14 16:57] pocketjoso commented on #288
I see, then indeed it's a bug in critical.

[2018-03-15 06:45] bezoerb commented on #274
Done in https://github.com/addyosmani/critical/releases/tag/v1.1.1

[2018-03-15 06:45] #274 closed

[2018-03-15 19:53] JacobDB opened #289 "Doens't run correctly on the Windows Subsytem for Linux (WSL)"
I'm not sure how to describe this issue exactly, so please bear with me.

If you're not familiar with the Windows Subsystem for Linux (WSL), it's essentially a way to run various Linux distros on Windows. It makes using Linux-based development tools much easier on Windows.

I've been trying to get critical working on-and-off for the last few months, and I've been having a lot of trouble, either ge

[2018-03-15 20:14] JacobDB commented on #289
I just did a few more test cases:

|Machine|System|Node Version|Status|
|---|---|---|---|
|1|Windows - WSL|v8.9.4|Failure|
|1|Windows - CMD|v8.9.4|Success|
|2|Windows - WSL|v6.10.3|Failure|
|2|Windows - CMD|v.7.8.0|Success|
|3|Windows - WSL|v8.9.4|Failure|
|3|Windows - CMD|v8.9.4|Success|
|4|Mac - Terminal|v7.0.0|Success|

[2018-03-16 08:59] pocketjoso commented on #289
Looks like this is the underlying issue:
https://github.com/GoogleChrome/puppeteer/issues/1837

[2018-03-16 13:25] JacobDB commented on #289
Interesting, thanks for that. There's a new update for Windows 10 coming out next month, maybe it'll fix whatever incompatibility that's causing this.

[2018-03-16 23:51] #289 closed

[2018-03-17 00:30] XhmikosR opened #290 "npm script dev usage"
I'm trying to set up critical for bootstrapcdn.

I tried this in package.json scripts:

[code]

But I always end up with: `Error: css should not be empty`

I'm probably missing something, but any help appreciated!

[2018-03-17 08:50] XhmikosR commented on #290
OK, the problem is two-fold:

1. We already inline our custom main CSS (which is just a few bytes) so critical doesn't see any `link`s. I can work around this by not inlining it for development
2. The other CSS file we need as input is a remote one, which we load via `loadjs`. critical doesn't see this stylesheet at all

[2018-03-17 14:10] bezoerb commented on #290
Thanks for reporting @XhmikosR. I seems this relates to #277. I‘ll see what I can do.

[2018-03-19 23:03] bezoerb commented on #277
We currently still don't support inline styles such as `<style>@import('http://example.com/styles/my-style.css');</style>` but it should work now with the css file passed as `css:['public/stylesheets/users.css']` when no `<link>` tag is present in the `<head>`

[2018-03-19 23:04] bezoerb commented on #290
@XhmikosR: i just released a new version allowing external stylesheets passed as css option.

Could you try `"critical": "npm start && critical http://127.0.0.1:3333/ --base public --assetPaths public --css [REMOTE CSS] > public/assets/css/critical.css && npm stop",` with the latest version of critical?

[2018-03-20 11:55] Diokuz opened #291 "Css as string"
I have css as string, no file. Is there a way to tell `critical` to get css string, not the file?

[code]

[2018-03-20 18:19] zomars commented on #215
I'm also looking for this! Maybe `src` could receive an array of URLs as input.

[2018-03-20 23:16] XhmikosR commented on #290
@bezoerb: thanks for the quick fix! Although I already changed our code, I'll give it a go tomorrow and get back to you.

[2018-03-21 04:33] dalimian opened #292 "position:absolute not evaluated"
I have an absolute positioned div at the bottom of the page that is supposed to show at the top of the page, so I expect this lib to consider it in viewport and extract the styles, but it doesn't.  any workaround?

[2018-03-21 08:17] pocketjoso commented on #292
Is it really showing at the top of the page _before any javascript is executed_? If so, then it would be a bug. Could you share a url for where this is happening?

[2018-03-21 08:18] danekt opened #293 "The type attribute for the style element"
The type attribute for the style element <style type="text/css"> is not needed and should be omitted - https://validator.w3.org/nu/

[2018-03-21 08:36] bezoerb commented on #293
This is related to [`inline-critical`](https://github.com/bezoerb/inline-critical)
I'll make an issue there ;)

[2018-03-21 10:37] XhmikosR commented on #290
@bezoerb: confirmed; it now works with remote URLs. Thanks!

[2018-03-21 10:37] #290 closed

[2018-03-21 18:41] dalimian commented on #292
let me reword

I have an absolute positioned div at the bottom of my html markup but I have it show at the top of the page, not a bug, this is by design. so I expect this lib to consider it in viewport and extract the styles, but it doesn't.

[2018-03-22 08:53] pocketjoso commented on #292
Normally it should indeed be included in this scenario. This is really a [Penthouse](https://github.com/pocketjoso/penthouse/) issue, but in either case - to debug I will need at least a public url for which this happens, or even better a reduced reproducable test case.

[2018-03-22 17:26] dalimian commented on #292
Thanks for quick reply. we’re trying to incorporate this at www.edmunds.com/, and the css for nav header does not make it into critical

[2018-03-22 21:33] pocketjoso commented on #292
@dalimian I tried generating critical css for your site, and it looks fine:
![h1p_lozqz-after](https://user-images.githubusercontent.com/7192832/37799723-dfc94362-2e20-11e8-8309-8ed968c81563.jpg)

Are you referring to carousel controls not showing, or something else?
The critical css generation happens without any javascript running, as critical css is used before javascript has loaded in the brow

[2018-03-22 22:45] bezoerb commented on #293
Updated in inline-critical

[2018-03-22 22:45] #293 closed

[2018-03-25 13:06] chromadesign commented on #258
I am getting this rather cryptic error as well and can't find what the problem (it's not an empty href). I've tried different source URLs (local and remote) as well as different destination directories to no avail. Any idea how I can get to the bottom of this?

Fancy Log spits out the following error message after the task finishes:
 Error: EISDIR: illegal operation on a directory, read errno: -40

[2018-03-27 22:54] dalimian commented on #292
thanks @pocketjoso, in your version it does show, I was referring to the header bar, one that has the New Cars, Used Cars, etc, looks good in your mock, does not in mine

in my version it looks like this https://www.screencast.com/t/Ak3w7ehPz - notice the top bar missing

what did you specify for viewport width/height?

when I leave it out, thus using the defaults - `width: 1300, height: 900` or o

[2018-03-28 02:21] mikeytown2 opened #294 "@import url("a.css"); files get ignored"
If you want to take this to the extreme make a webpage that uses this style for loading css

[code]

When running `critical https://import.css.url.com/` it'll spit out this "Error: css should not be empty" even though css files do exist.

[2018-03-28 06:11] mikeytown2 opened #295 "Command line; how to do basic http authentication. Get Error: Wrong status code 401 for css files"
This almost works
`critical https://user:pass@example.com/`
Looks like resources on the same domain don't add the given user and pass.

[2018-03-31 13:35] midzer commented on #181
Bumping this one as css generated from latest critical still differs from css generated from https://jonassebastianohlsson.com/criticalpathcssgenerator/

My critical config:
[code]

Site: https://feuerwehr-eisolzried.de/
Having a quick look what is missing: all `carousel` class, all necessary `col-*` classes, `row` class.

[2018-03-31 19:04] pocketjoso commented on #181
@midzer Critical is currently using the latest version pf Penthouse, just as my online generator. Hence if you have a difference it should be related to the input - that critical for some reason is not seeing the original css containing these styles. Are these styles coming from a separate source than the ones that are kept?

[2018-03-31 19:37] pocketjoso commented on #181
Hmm but then you really should get the same critical styles from critical
as from the online generator. Are you sure these styles are critical -
shown in the critical viewing for the first render (before js)?

Le sam. 31 mars 2018 21:23, midzer <notifications@github.com> a écrit :

[2018-03-31 20:13] midzer commented on #181
I really don't know whats going on there :\

Here's a diff between online generator css (left) and inlined critical css (right) using before stated settings https://www.diffchecker.com/ysBsWWiz

[2018-04-01 07:46] pocketjoso commented on #181
@midzer Tip: the comparison is much easier to understand if your unminify the css first.

So it looks to me that somehow you are feeding the wrong html/url into critical. That would explain why the page it is looking at is not what you think it is, not containing the content you think, and hence why you get a different critical css.

So can you double check your critical setup, and maybe try with

[2018-04-01 21:04] bezoerb commented on #181
@midzer: I completely agree with @pocketjoso
When i run critical from the commandline like this:
[code]

I get the same results without anything missing.
https://www.diffchecker.com/NZzBnVEn

[2018-04-01 21:06] bezoerb commented on #295
Authentication for resources is currently not implemented.

[2018-04-01 21:15] bezoerb commented on #294
Inline styles are currently not processed by critical so these imports are invisible to `critical`.
You could work around this by specifying the imported stylesheets in the options like this:
[code]

Even though `inline-critical` won't process the inline styles either so you would end up with the critical css inlined alongside the inline styles with the `@import` statements ;)

Why don't you use `

[2018-04-01 21:26] bezoerb commented on #292
@dalimian: Can you confirm that nothing in your config/setup is causing the error?
When i use critical on the commandline with the stylesheets specified which i found in the html source the `global-nav` styles are included. Even when i'm overriding the height parameter with 200
[code]

[2018-04-02 17:31] wizardnet972 opened #298 "Error: css should not be empty"
Hi, I have a html file like this:
`<html></html>`

When I try to run critical it throws an error `Error: css should not be empty`.
Why throw an error instead of doing nothing and return this HTML when css doesn't exist?

[2018-04-02 18:32] mikeytown2 commented on #294
@import can in in the CSS as well; this syntax just makes testing it a lot easier. What file would I need to edit in order to do a pull request for this feature?

[2018-04-02 18:33] mikeytown2 commented on #295
What file would I need to edit in order to do a pull request for this feature? Could you point me in the right direction?

[2018-04-02 18:45] wizardnet972 opened #299 "@Import is lower the performance score"
@addyosmani @bezoerb,
I can see that `@import` lower the score on the performance. for example:
[code]
if I remove them, I get a high score, if not I got a lower score. so what can I do about that? is it possible that I should not use `@import`?

[2018-04-02 19:56] midzer commented on #181
First of all thx again for your help @pocketjoso and @bezoerb

I figured out whats going on! Finally using local production build critical css is being fully generated same as via online gerator or critical cli + url.

Right now there's a caveat though. It's only fully generated if I specify
[code]
in HTML `<head>` instead of regular
[code]
But I need this beginning `/` as otherwise other sub-page

[2018-04-03 03:57] bezoerb commented on #294
The stylesheets are extracted with [`oust`](https://github.com/addyosmani/oust)
You can find this in `lib/core.js`.
The critical css is inlined with [`inline-critical`](https://github.com/bezoerb/inline-critical). So if you like you can prepare a PR on these two packages.

[2018-04-03 04:02] bezoerb commented on #298
I think it doesn't make any sense to run critical on a html file like this ;)
The purpose of critical is to compute & inline the critical css. If there are no styles to inline there might be something wrong. So instead of failing silently i think it's better to throw an error.

[2018-04-03 04:47] wizardnet972 commented on #298
I agree if there are no styles to inline there might be something wrong.
But take a look at this case of [offline-webpack-plugin](https://github.com/NekR/offline-plugin), it produce a html file (manifest.html) with this content:
[code]
And after that, I run the critical to iterate each html file inside `dist`. As you can see I can't predict the content of the HTML.
The problem comes when it failed

[2018-04-03 10:16] bezoerb commented on #295
Maybe you could add user/pass options and use these in `lib/file-helper.js`
Method: `requestAsync`

[2018-04-06 00:53] dalimian commented on #292
thanks @bezoerb

when I try your command it works for me too, but doing it from js api does not, maybe im not using the api correctly

I created a small repo reproducing the issue - https://github.com/dalimian/critical-test

[2018-04-09 10:55] AlexMiroshnikov commented on #253
I suspect that `extract` now doesn't work even when `inline: true` is set. Not 100% sure yet, but I'm going to provide a minimalistic sample.

[2018-04-17 23:00] dalimian commented on #292
@bezoerb

[2018-04-19 10:19] Jack89ita opened #301 "Duplicate critical CSS block"
Hello!
i've got a problem: every time i start my gulp task it creates a new block of critical CSS and append it to my pages. The CSS ruels are perfect but the entire block is duplicated.
This is my task:
[code]
Any tip to avoid this problem?
Thanks!

[2018-04-23 14:28] GeorgeTaveras1231 opened #302 "Different results between major version 0 and 1"
I'm experiencing different results between version 0.9.1 and version 1.2.2 (Also tried every version >= 1.0.0). It seems something was introduced in version 1.0.0 that is causing a flash of unstyled content.

Results with critical 0.9.1

![critical-0](https://user-images.githubusercontent.com/3114629/39132664-62655ff4-46e0-11e8-89d7-cbe9ce5300b9.gif)

Results with critical 1.2.2
![critical-1](http

[2018-04-24 09:30] TonyTran0209 commented on #112
Hi Bezoerb,

Can I export to individual critical CSS file, not in a static HTML file?
If yes, how to do that?

Thanks.

[2018-04-24 10:50] pocketjoso commented on #302
There were big changes to the critical css generation in the 1.0 release, coming from [Penthouse](https://github.com/pocketjoso/penthouse), the library responsible for the critical css generation. What is your url? I can take a look at what's going wrong.

[2018-04-25 01:29] GeorgeTaveras1231 commented on #302
@pocketjoso Would you need both versions to be live?

[2018-04-25 18:53] pocketjoso commented on #302
No, I can test either version. The version without critical css implemented would be easier though.

[2018-04-29 12:16] GeorgeTaveras1231 commented on #302
@pocketjoso Here you go: https://s3.amazonaws.com/qa-theknot.com/xo-landing-pages/vhp/v0.1.0-0.no-critical-css/index.html

[2018-04-29 12:32] pocketjoso commented on #302
Okay I just tested the critical css generation with the latest Penthouse verison - no problem there. As long as you don't have a configuration problem, your issue must be coming directly from critical itself. cc @bezoerb

[2018-04-29 12:39] pocketjoso commented on #284
I think you should be able to change the default penthouse timeout from critical. The critical library accepts a `penthouse` options object, you can set it to: `{timeout: 60000}` to see if that resolves your issue.

If your still get timeouts, then something on your site seems to be causing Penthouse to hang. If so, can you share a public url that you are generating critical css for, and I can tes

[2018-04-29 20:49] bezoerb commented on #302
Just checked with latest version of critical (CLI) and there was no problem either.

[2018-05-02 04:46] tamorim opened #303 "Add userAgent option"
Hello! First of all, thanks to all the contributors to this project. :100:

I'm stepping in some edge case here, I guess.
The app I'm working on right now is adaptive without different urls for mobile, so I pass the `userAgent` option to `penthouse` where he applies it just fine.
Since I only provide the `src` (no css files or strings) as a remote url, critical goes and fetches the html file and e

[2018-05-02 22:05] bezoerb commented on #295
@mikeytown2: I just released critical v1.3.0
You should be able to use it like this now:
[code]

[2018-05-06 10:23] robbishop opened #304 "Extract producing unexpected results"
Hi, I am having an issue with the extract feature when using the following code
css input:
[code]
html input
[code]
with generator
[code]
The output is as follows

inlined css:
`.default .sub{background-color:#fff}.a .sub{background-color:#000}.b .sub{background-color:#000}`

extracted css:
[code]
So the inlined css is correct, but the extracted is not as it duplicates some of the rule-sets. If it

[2018-05-09 14:35] Jack89ita commented on #301
Any news about this?

[2018-05-10 11:06] BrianEmilius commented on #301
I have this same issue.
critical version 1.3.0
gulp version 4.0.0

[2018-05-15 17:57] josenobile opened #307 "Not working in node 10.1.0 - ExperimentalWarning: The fs.promises API is experimental"
Hi,
(node:11922) ExperimentalWarning: The fs.promises API is experimental

A related comment: https://github.com/jprichardson/node-fs-extra/pull/578#issuecomment-389058537

[2018-05-15 18:08] josenobile opened #308 "vulnerabilities in libraries used by critical"
npm audit

                       === npm audit security report ===

# Run  npm update sshpk --depth 6  to resolve 4 vulnerabilities
┌───────────────┬──────────────────────────────────────────────────────────────┐
│ High          │ Regular Expression Denial of Service                         │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Package       │ sshpk

[2018-05-15 18:09] josenobile commented on #308
Related to https://github.com/joyent/node-http-signature/issues/70

[2018-05-18 02:59] felipemsantana opened #309 "v1.3.2 not exiting properly"
Using node v8.11.1

In v1.3.1:
[code]

In v1.3.2:
[code]

[2018-05-18 06:25] bezoerb commented on #307
Patch Version of asset resolver is released

[2018-05-18 21:13] bezoerb commented on #308
Thanks @josenobile: i've managed to get rid of the *high* vulnerabilities so far.
Keep this open until the moderate one is also done :)

[2018-05-20 09:27] midzer commented on #181
Update to previous post:
I still can't inline full critical CSS automatically and have to do it manually which is kinda annoying.

If some1 has time to help me out on this issue, would be really awesome.

[2018-05-29 09:30] japrescott opened #311 "styleTarget generates critical file, but doesn't add that filename to the html source"
When using the `styleTarget` option, the file is correctly stored at the specified path.
But the inlined part instead references the filename with the generated hash.

e.g

	{
		base: './bin/',
		pathPrefix: '/',
		dimensions:[
			{
				width: 1024,
				height: 1024
			},
			{
				width: 800,
				height: 800
			}
		],
		styleTarget: './bin/css/style.crit.min.css',
		css: [
			'./bin/css/style.min.

[2018-05-30 10:26] japrescott commented on #311
I realized, I have misunderstood "styleTarget", as it is intended to save the critical styles, not the "leftover". After reviewing the code, I've created two forks and added the option `overrideOriginal` to [critical](https://github.com/japrescott/critical) and [inline-critical](https://github.com/japrescott/inline-critical).

As this can be a very dangerous option for people not fully understandi

[2018-06-03 20:32] dolanb12 opened #312 "Other parameters for determining critical CSS besides width/height?"
Hi,

I’m building a web app that has a bunch of absolute positioned divs on top of each other, each acting as it’s own “screen.”

Is there a way to tell critical to determine by telling it which divs contain critical css?

If not, any suggestions?

Thank you!

[2018-06-03 20:52] dolanb12 commented on #312
Could one simply set the width and height options to 0, and use the include option to specify the correct divs? Would this be clean?

[2018-06-07 19:41] jared-stilwell opened #313 "Ability to pass custom headers with page remote CSS requests"
My use case involves requesting remote CSS assets from servers that require specific HTTP headers in place to allow requests to proceed.

I'd like to extend the [`requestAsync()`](https://github.com/addyosmani/critical/blob/master/lib/file-helper.js#L131) method to respect a configuration option (e.g. `assetHeaders`) to provide a map of custom HTTP headers when requesting assets.

e.g. usage
[code

[2018-06-08 10:49] pocketjoso commented on #313
@jared-stilwell before critical can support this, [penthouse](https://github.com/pocketjoso/penthouse/), the underlying library has to add support. Please add an issue there (first check that there isn't already one, there might be). Cheers

[2018-06-12 22:16] jonahbron commented on #308
It's been almost a month, can one of the primary contributors merge this in? @bezoerb?

[2018-06-14 08:30] XhmikosR opened #314 "Protocol error (Runtime.callFunctionOn): Cannot find context with specified id undefined"
I was just trying to see why "out of the blue", my gulp tasks just exited after the critical task ran.

Using the code from the [README.md](https://github.com/addyosmani/critical#gulp) I get

[code]

and my whole gulp task exits there.

[code]

critical is the current 1.3.3 release.

I know this worked up until some time recently, but I don't know when this broke exactly.

/CC @bezoerb

[2018-06-14 08:57] raxbg commented on #303
I agree completely. In fact I have seen many sites that behave like that. I made a small change to the file-helper.js which allows you to specify the user agent through an environment USER_AGENT variable. Please see the referenced pull request.

I hope that we will get official support for this in the next release.

[2018-06-14 21:44] situ185 commented on #286
I have a similar issue...
i have added the http and https proxies to the npm config but still doesnt work.
i added the PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true in config but still the same issue

[2018-06-14 22:02] bezoerb commented on #286
@chiragbhansali: i'm sorry but this behavior is not directly caused/related to critical. Maybe take a look here: https://github.com/GoogleChrome/puppeteer/issues/1994

[2018-06-14 22:05] bezoerb commented on #286
Hehe, just found the issue you posted over at the puppeteer repo:
https://github.com/GoogleChrome/puppeteer/issues/2173

I guess you've already tried the solution they posted there?

[2018-06-15 03:45] #303 closed

[2018-06-15 03:55] bezoerb commented on #313
@jared-stilwell @pocketjoso: i think we can add support for this without having to change anything in penthouse because the css fetching is currently all done in critical.

[2018-06-15 13:17] situ185 commented on #286
this is what I did to get over this:
-I installed critical in my personal machine
-Copied the critical node modules form node_modules folder including the .bin folder
-Copied the dependencies object from the package.json from  my personal machine to the development machine
-run npm install

[2018-06-16 05:52] XhmikosR commented on #314
@bezoerb: were you able to reproduce?

[2018-06-17 21:30] bezoerb commented on #314
sorry @XhmikosR but i wasn't able to reproduce your error (but i also have no windows machine to test on)
i used the code from the readme to walk over all the html files in test/fixtures
and everything was as expected. Can you give some more context to your error or provide a sample repo which is failing?

[2018-06-18 06:41] XhmikosR commented on #314
@bezoerb: unfortunately I can't share the source. Is there a gulp + critical demo repo I can use to try to replicate this?

[2018-06-22 17:29] XhmikosR commented on #314
@bezoerb: there's definitely a regression somewhere. I'll try to set up a test repo, but it would save me some time if I could just try an existent repo.

[2018-06-22 17:48] bezoerb commented on #314
Hey @XhmikosR
I‘m quite busy at the moment but i will try to push my test to a repository later today

[2018-06-23 11:51] XhmikosR commented on #314
@bezoerb: I pinpointed the cause. The error is thrown in my case when any HTML files include this:

[code]

So, you should be able to reproduce the error with this test file:

[code]

[2018-06-23 12:27] XhmikosR commented on #314
This error makes critical unusable on sites using any redirect via the meta tag.

[2018-06-25 20:37] bezoerb commented on #314
@XhmikosR: what is the expected result when running critical/penthouse on a page with a meta redirect? I would just skip the page as there will never be any content visible

[2018-07-03 04:51] lili21 opened #317 "how to make it work with find command ?"
`critical dist/index.html -im -c $(find dist -name '*.css')`

it won't work property unless there is only one css file with **dist**. am I doing some thing wrong ?

[2018-07-03 10:08] bezoerb commented on #317
@lili21: what's the output of `$(find dist -name '*.css')`?

You can enable DEBUG logs like this:
[code]

Maybe this gives some clearance about the error

[2018-07-03 13:59] lili21 commented on #317
the output of `find dist -name '*.css'`

[code]

**DEBUG info**
![image](https://user-images.githubusercontent.com/4456380/42223598-b43d1cba-7f0a-11e8-9162-fc56448a603c.png)

wow. Turns out I have to execute it this way

[code]

instead of

[code]

[2018-07-03 14:08] lili21 commented on #317
supportive of globbing ?

[2018-07-03 14:11] lili21 commented on #317
wow, It's runnable, but not the way I suppose.

[2018-07-05 05:54] lili21 commented on #253
same issue here. extract not working.

**index.html**

[code]

**style.css**

[code]

after execute

[code]

**index-critical.html**

[code]

and the **style.css** still contain the inlined style. I'm using `critical@1.3.3`

[2018-07-05 19:16] situ185 opened #318 "using critical with underscore template"
sorry this isnt an issue per se.. but i couldnt find any information on whether the module can be used with templates where the html is inside <script> tags and javascript is used to render those templates.

any info on this would be helpful.
thanks in advance

[2018-07-05 19:49] situ185 commented on #284
I have testing this module on a couple of sites but i keep getting the timeout on www.hertz.com.
I have tried increasing the penthouse timeout to 120000 but still keeps timing out.
It works on www.msn.com and www.yahoo.com.
Could you take a look @pocketjoso
I get a Unhandled rejection Error.
call stack is

_penthouse\lib\core.js:217:20)
at ontimeout (timers.js:498:11)
at tryOnTimeout (timers.js:32

[2018-07-10 20:56] bezoerb commented on #318
@situ185 you'll have to generate valid html first before using critical.

[2018-07-10 20:56] #318 closed

[2018-07-16 19:37] XhmikosR commented on #314
@bezoerb: I will try it tomorrow and let you know. Thanks for looking into it!

[2018-07-17 09:34] XhmikosR commented on #314
@bezoerb: tested it and seems to work fine :)

[2018-07-17 09:37] #314 closed

[2018-07-17 09:38] XhmikosR commented on #314
I'll wait for the next npm release, but this seems fixed now.

[2018-07-17 09:51] XhmikosR commented on #314
@bezoerb BTW, maybe you could update all deps?

[2018-07-19 10:45] XhmikosR commented on #314
Thanks @bezoerb, it works fine!

[2018-08-01 06:10] einsteinreloaded commented on #212
I am facing similar type of issue but in my case when i run the critical.generate again it outputs the correct css.

[2018-08-03 10:02] mainak-grmtech commented on #215
Here is the code to get critical css from multiple external URL:
var HostUrl= 'http://example.com/';

var UrlForGeneratingCriticalCss = {
    homepage: ['home'
    ],
    category-pages:['category-1','category-2'],
    blog-pages:['blog','blog-inner'],
};

gulp.task('criticalloop', function () {
    for (var key in UrlForGeneratingCriticalCss) {
        var bundle = key;

        for(var EachUrl i

[2018-08-15 07:45] epcliff commented on #284
Hi, I have the same issue. It was working before and now I suddenly get this penthouse error message.

[2018-08-15 08:58] pocketjoso commented on #284
As I mentioned earlier, it's most likely one of two things that is happening.

## Job is really running out of time
If you are running critical/penthouse for lots of pages/urls/dimensions at the same time, then it's possible that your computer is just slowing down because too much execution is done in parallel. You can try reducing the number of critical css files you are trying to execute at the

[2018-08-20 11:51] billouboq commented on #309
Same here, using it with gulp and gulp says the task is done but it's not exiting

[2018-08-21 02:13] Genuifx opened #319 "Any Idea for using critical css in SPA？"
Most SPA pages separate their HTML elements into components. CSS is scoped, some even import as javascript. Directly using critical in this scenes is not a good choice, so any Idea for using critical CSS in SPA？

[2018-08-21 03:34] bezoerb commented on #319
@Genuifx: i would generate the critical css by using the url to my SPA as src and then inline it manually in the head.

E.g.

[code]

[2018-08-21 08:46] Genuifx commented on #319
@pocketjoso awesome! Does Critical use puppeteer to achieve it? if so, why not wait for js executing, it seems we can get the first render.

Another question is after using Critical to extract CSS if we need drop duplicate CSS from our app? Cause extracting stylesheet, in my opinion, just copies the CSS code to Style element. 😸

[2018-08-21 09:14] pocketjoso commented on #319
The first render happens before JS is loaded. When you depend on JS to render content, critical css makes no sense - there's no performance benefit for you.

Only the full stylesheet is cached and re-used on subsequent page visits. It needs to contain all styles.

[2018-08-21 11:07] pratham2003 opened #320 "How to generate critical css for lots of multiples pages serially?"
Presently this is my gulp task.
`gulp.task('critical', function (cb) {

var promises = [];

  Object.keys(CRITICALCSS.pages).forEach(function(key){
    promises.push(critical.generate({
      base: '/',
      src: CRITICALCSS.base_url + CRITICALCSS.pages[key],
      css: [
        'dist/assets/css/app.css'
      ],
      styleTarget: 'dist/assets/css/critical/' + key + '.css',
      minify: true,

[2018-08-21 11:08] Genuifx commented on #319
got it.(⁎⁍̴̛ᴗ⁍̴̛⁎)

[2018-08-21 11:09] #319 closed

[2018-08-21 11:16] bezoerb commented on #320
Maybe you can try something like this:
https://github.com/petkaantonov/bluebird/issues/70#issuecomment-300474409

[2018-08-21 17:09] sheerun opened #321 "Extracting css for full height of page"
Currently critical only allows to extract CSS for visible viewport, but it breaks for our use case: our CSS is compressed into one file for multiple pages but we want to serve only relevant for page user browsed to. Now our css is quite huge and on mobile it can load slower than user starts interacting with page. It means that user is likely to scroll out of initially visible viewport and see unst

[2018-08-21 17:11] sheerun commented on #321
(we can hack around this by setting huge height but I don't believe this is the correct solution)

[2018-08-21 20:09] pocketjoso commented on #321
Hi @sheerun,
Of course the first call to action would ideally be to reduce the size of your full css, but I can understand if that's not feasible at least not as a quick solution.

For your workaround, first keep an eye on how big your page css is. If it's too large it will slow down your first render, if so it would make more sense to keep both a regular critical css (fast first render), then ext

[2018-08-22 08:25] sheerun commented on #321
In our case full CSS for initial view of single page is not much bigger than full CSS of first visible viewport of this page so there's no sense to do triple load you mention. Critical is good at removing CSS needed only after interactions but we really need CSS for full height of the page so users can interact before full CSS is loaded (or JavaScript is loaded).

Setting huge height kind of works

[2018-08-22 08:28] bezoerb commented on #321
@sheerun: How does the critical css for the whole page differ from the output when running [uncss](https://github.com/uncss/uncss) for the page?

[2018-08-22 10:39] sheerun commented on #321
I don't know, I use critical and this is issue about critical.. :)

[2018-08-23 20:45] kightlingerh opened #322 "Getting Ambiguous ENOENT Error"
I am getting the following error when running critical (v: 1.3.4):

[code]

I have tried using both relative and absolute paths for varying combinations of the src, base, and dest fields to no avail. My current options are:

[code]
Would appreciate any help/advice you have. Thanks.

[2018-08-24 15:44] billouboq commented on #309
It may be because puppeteer process does not exit properly.
I'm using this on a website with a lot of external scripts (ads, A/B testing, tags, monitoring, etc), so browser is always busy doing external ajax call and other thing so maybe it is blocking puppeteer from closing, just a thought.

Don't have time at work to review this properly, but will do if I find time.

[2018-08-28 04:36] dkrnl commented on #321
Hi!
I use critical css with 100vh:
[code]

99999 -- magic number 😊

[2018-08-30 11:31] mintymatt commented on #216
Still an issue, any more news on this? :)

[2018-08-31 09:36] bezoerb commented on #216
@mintymatt: I'm currently working on a rewrite of critical.

[2018-08-31 09:47] pocketjoso commented on #216
@bezoerb cool! I think it would be great if we could discuss this together, to make sure Penthouse is used as efficiently as possible, and also to discover any potential changes in Penthouse that would help you. Can you send me an email, or DM on twitter (@pocketjoso)?

[2018-08-31 10:14] bezoerb commented on #216
@pocketjoso thanks :)
I hope to have some spare time for this next week. I'll ping you as soon as i'm ready to move on with the rewrite

[2018-08-31 11:10] raxbg opened #323 "Daemon mode with RPC server"
@bezoerb You mentioned you plan to rewrite critical. It would be great if we had a critical daemon which keeps an open browser instance so we don't have to spawn new instances all the time. Communication with the daemon can happen over TCP using something like https://www.npmjs.com/package/node-json-rpc. Maybe restart the browser instance every 50 requests, to avoid big memory leaks.

[2018-09-04 08:32] raxbg opened #324 "BC breaking change"
https://github.com/addyosmani/critical/blob/1af1f8c5002338c0c2670fb6d02f5a01573ff3b7/index.js#L50

This is a backwards incompatible change. It does not allow the use of the cli `-e` option alone, which by the way seems to work pretty well. In my use case I only need the stylesheets alone.

[2018-09-07 10:03] julienchazal commented on #253
@bezoerb Same here, extract not working even with `inline:true`
Plus it would be great to extract even if using `inline:false`

[code]

[2018-09-23 08:29] crazychicken commented on #253
@addyosmani @bezoerb Same here,
https://github.com/anthonygore/html-critical-webpack-plugin/issues/23

[2018-09-26 12:32] alljamin opened #325 "'critical' is declared but it value is never read in Gulp 4"
`npm install critical --save-dev`
`npm install critical --save`
`npm install critical -g`

Still gives me `'critical' is declared but it value is never read`

Has it something to do with running it on Windows?

[code]

[code]

Is there a way to fix this?

[2018-10-06 07:48] alljamin commented on #325
I have specified `var critical = require('critical');` but have not written the gulp.task. Once gulp.task `gulp.task('critical', function(done) {...});` is created - the error dissapears.

[2018-10-06 07:48] #325 closed

[2018-10-18 21:30] bezoerb commented on #309
This may be resulting from `async-exit-hook` which was introduced in v1.3.2
Until now this should be resolved in https://github.com/addyosmani/critical/pull/326

I'll add a test to make sure it stays that way ;)

[2018-10-18 21:36] bezoerb commented on #320
Had some thoughts on adding this feature to critical along with an option for 'concurrency' and **maybe** an option to merge the resulting css into one which could be used for multiple pages.

[2018-10-18 21:37] bezoerb commented on #317
Globbing should be supported in https://github.com/addyosmani/critical/pull/326

[2018-10-18 21:38] bezoerb commented on #313
consindering in/after https://github.com/addyosmani/critical/pull/326

[2018-10-18 21:45] bezoerb commented on #311
Related to: https://github.com/addyosmani/critical/issues/253
After https://github.com/addyosmani/critical/pull/326 is merged i planed to rewrite the way extract works right now. It will be possible to define a target filename for the critical-extracted original css as well as the critical css which should be respected by `inline-critical`

[2018-10-18 21:47] #295 closed

[2018-10-18 21:49] bezoerb commented on #287
Working on a solution in https://github.com/addyosmani/critical/pull/326

[2018-10-18 21:50] #283 closed

[2018-10-18 21:51] bezoerb commented on #215
relates to https://github.com/addyosmani/critical/issues/320

[2018-10-19 10:01] pratham2003 commented on #215
@jahvi
How are you loading your critical CSS?
Inlining it into HTML or loading as a file in HEAD?

If inlining you don't need to concatenate them, just load the critical CSS unique to that page template.

[2018-10-19 10:11] jahvi commented on #215
I'm inlining them, the problem is that I don't have that much control over what to load when (because of limitations on the CMS system) so in our case it would be a lot simpler to inline all critical path css in the head.

For now @mainak-grmtech solutions works very well as a workaround.

[2018-10-19 11:59] pratham2003 commented on #320
I ended up using [es6-promise-pool](https://www.npmjs.com/package/es6-promise-pool)

Works nicely.
Remember to set concurrency to 1 or 2 if you are using XAMPP.
XAMPP isn't meant to handle concurrent requests very well.

config-example.yaml
# Critical CSS Base URL
CRITICALCSS:
[code]

my gulp critical task
[code]

[2018-10-27 19:41] jcklpe commented on #201
@JacobDB  did you ever get this working with Wordpress? I'm trying to webpackify my asset management for WP theme development.

[2018-10-27 21:13] JacobDB commented on #201
@jcklpe kind of, but honestly it's still something I struggle with. I think the main problem with my stuff is that I'm running on WSL, and there seems to be some issue with this module in WSL; last I checked it was working fine on Mac or Linux, but it's been a while since I've worked with it.

[2018-10-28 18:40] jcklpe commented on #201
I am also running WSL haha so yeah, that would probably be a problem for me too.

I currently do my critical path CSS using the wp plugin Autoptimize, but it has a lot of manual requirements and I'd love to find a way to do it that's more straightforward and automatic. I'd even be up for using a PHP serverside solution but it seems that all the WP plugins that are built for that are paid subscript

[2018-11-03 09:49] #200 closed

[2018-11-05 11:13] mems commented on #284
I think it's related to a bug in penthouse: https://github.com/pocketjoso/penthouse/issues/274
And it has been fixed in [penthouse@1.9.0](https://github.com/pocketjoso/penthouse/releases/tag/v1.9.0)

[2018-11-20 15:08] catalinred opened #339 "Remove type="text/css""
I was thinking if it might be a good idea to remove the `type="text/css"` attributte&value pair from the output?

From:
- https://www.w3.org/TR/html52/document-metadata.html#processing-link-type
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style#Attributes

[2018-11-23 09:56] catalinred commented on #63
Hi,

Not sure if it's ok to resurrect this, but I think this issue "is happening" again.

I had to remove `critical` this morning from within a project at work because the inline SVG's got broken after the `critical` task ran.

As far as I tested, is the same behavior as @superKalo described above.

My setup includes critical w/ [Gulp](https://www.npmjs.com/package/critical#gulp)

Looking forward

[2018-11-23 10:01] bezoerb commented on #63
I will check this weekend

[2018-11-27 06:16] phaistonian opened #341 "File not found issue when concurrency > 1"
When setting `concurrency` to > 1  then errors such as the one below are rising.

Temp folders/files are removed too early - it seems.

[code]

[2018-11-27 06:18] bezoerb commented on #341
Thanks for testing @phaistonian

[2018-11-27 15:58] bezoerb commented on #341
@phaistonian: i'm not able to reproduce the error. Can you explain your setup/config or add a testcase?

[2018-11-27 16:01] phaistonian commented on #341
@bezoerb  I am afraid it's quite complex - the whole process - to get it down to a sharable example.

Here's the config though:

[code]

My theory is that, because I am running multiple `critical.generate` in a loop, somehow the temp files are removed before they are used.

[2018-11-27 16:03] bezoerb commented on #341
Thanks :)
I'll check the loop thing

[2018-11-27 22:43] bezoerb commented on #341
@phaistonian: i just published a new prerelease version. The error should be fixed now. Would you mind checking again?

[2018-11-27 22:50] bezoerb commented on #322
Just published a new prerelease version. Would you mind checking the error again?
You can install the new version with **npm i critical@next**

Thanks

[2018-11-27 22:52] bezoerb commented on #317
Just published a new prerelease version. Would you mind trying?
You can install the new version with **npm i critical@next**

Thanks

[2018-11-27 22:53] bezoerb commented on #309
Just published a new prerelease version. Would you mind trying?
You can install the new version with **npm i critical@next**

Thanks

[2018-11-27 22:54] bezoerb commented on #287
Just published a new prerelease version. Would you mind trying?
You can install the new version with **npm i critical@next**

Thanks

[2018-11-27 22:56] bezoerb commented on #280
Just published a new prerelease version. I ran into similar issues but we managed to fix them. Would you mind trying?
You can install the new version with **npm i critical@next**

Thanks

[2018-11-27 23:13] billouboq commented on #309
Thank you for this, unfortunately I'm not working on the project using it so I can't :/ but that's awesome anyway !

[2018-11-28 03:16] lili21 commented on #317
Just tried it. Still doesn't work as expected

[2018-11-28 08:12] phaistonian commented on #341
Works like a charm :)

Thank you.

[2018-11-28 09:37] phaistonian commented on #341
oh while - there, you might want to fix this too.

![image](https://user-images.githubusercontent.com/796530/49142659-02f69a00-f302-11e8-913a-8f075800f113.png)

`rebase` can also be a function.

[2018-11-28 15:34] bezoerb commented on #341
Thanks @phaistonian!
https://github.com/addyosmani/critical/pull/342 is merged :)

[2018-11-28 15:37] #341 closed

[2018-11-28 15:40] bezoerb commented on #317
Thanks for your time @lili21. In my tests it worked as expected. For
`... -c $(find dist -name '*.css')` as well as `... -c test/**/*.css`

[2018-11-28 21:52] bezoerb commented on #309
Closing this as we dropped the exit hooks completely in v2.

[2018-11-28 21:52] #309 closed

[2018-11-28 22:33] bezoerb commented on #63
Currently this looks like another issue in `inline-critical` or `cheerio`.
In my tests everything works fine if i remove the `<title>Title</title>` tag.
As soon as there's a `<title>` inside the svg things get messy.

I'll investigate further to see if this can be fixed in inline-critical or if we have to file a bug over at cheerio/htmlparser2

[2018-11-29 04:03] bezoerb commented on #317
\o/

[2018-11-29 14:53] bezoerb commented on #63
Opened a PR over at htmlparser2: https://github.com/fb55/htmlparser2/pull/259

[2018-11-29 22:34] bezoerb commented on #63
I also pushed a temporary fix to inline-critical so SVGs should be fine from now on.

@catalinred: Would you mind checking again with `critical@next`?

[2018-11-29 22:39] bezoerb commented on #284
Closing this as the issue should be fixed in penthouse. If there's no `meta refresh` or anything else that could cause a page redirect on load you can also try changing the penthouse timeout.

[2018-11-29 22:39] #284 closed

[2018-11-29 22:50] bezoerb commented on #308
Closing this as there are only 2 low severity vulnerabilities left which are already addressed in the libraries

[2018-11-29 22:50] #308 closed

[2018-11-30 06:02] bezoerb commented on #307
We published a new prerelease version. Would you mind checking the error again?
You can install the new version with `npm i critical@next`

Thanks

[2018-11-30 06:04] bezoerb commented on #108
Closing this due to inactivity. Seems fixed after all ;)

[2018-11-30 06:04] #108 closed

[2018-11-30 06:04] bezoerb commented on #109
Closing this due to inactivity.

[2018-11-30 06:04] #109 closed

[2018-11-30 06:07] bezoerb commented on #118
Closing this due to inactivity. Feel free to open an issue for [`inline-critical`](https://github.com/bezoerb/inline-critical/issues) if there's anything left to fix.

[2018-11-30 06:07] #118 closed

[2018-11-30 06:09] bezoerb commented on #125
The `include` option can be specified in the penthouse options.
Closing this due to inactivity.

[2018-11-30 06:09] #125 closed

[2018-11-30 06:12] bezoerb commented on #136
We published a new prerelease version. You can now use the `rebase` option to specify/overwrite image paths. You even can define a transform function which will be called for every asset reference found in the stylesheet

You can install the new version with `npm i critical@next`

Thanks

[2018-11-30 06:14] bezoerb commented on #143
We published a new prerelease version. You can now use the rebase option to specify/overwrite image paths. You even can define a transform function which will be called for every asset reference found in the stylesheet

You can install the new version with `npm i critical@next`

Thanks

Closing this for now but feel free to re-open if anything doesn't fit

[2018-11-30 06:14] #143 closed

[2018-11-30 06:14] bezoerb commented on #136
Closing this for now but feel free to re-open if anything doesn't fit

[2018-11-30 06:14] #136 closed

[2018-11-30 22:44] bezoerb commented on #226
Think this should be way better with the next version (check with `npm i critical@next`)

[2018-11-30 22:44] #226 closed

[2018-11-30 22:47] bezoerb commented on #130
Closing this as nothing happened in the last 2 years ;)

Think this should be way better with the next version. The prerelease version can be installed with `npm i critical@next`

Feel free to reopen if the issue still exists.

[2018-11-30 22:47] #130 closed

[2018-11-30 23:06] bezoerb commented on #132
Maybe a bit late but i added the reference you asked for ;)

[2018-11-30 23:06] #132 closed

[2018-11-30 23:09] bezoerb commented on #176
Closing this as nothing happened in here for the last 2 years ;)

Feel free to reopen if the issue still exists.

[2018-11-30 23:09] #176 closed

[2018-11-30 23:10] bezoerb commented on #159
2 years later...

...done ;)

[2018-11-30 23:10] #159 closed

[2018-11-30 23:11] bezoerb commented on #162
Closing this as nothing happened in here for the last 2 years. Anyone feel free to re-open if any suggestion comes up

[2018-11-30 23:11] #162 closed

[2018-11-30 23:13] bezoerb commented on #167
Closing this as nothing happened in the last 2 years.

[2018-11-30 23:13] #167 closed

[2018-11-30 23:14] bezoerb commented on #158
Closing this as nothing happened in the last 2 years.

Feel free to reopen if the issue still exists.

[2018-11-30 23:14] #158 closed

[2018-11-30 23:15] bezoerb commented on #183
Closing this as nothing happened in the last 2 years.

I think this should be way better with the next version. The prerelease can be installed with `npm i critical@next`
All penthouse options can be passed through with the `penthouse` option

[2018-11-30 23:15] #183 closed

[2018-11-30 23:17] bezoerb commented on #211
Closing this due to lack of feedback.
Feel free to re-open if the error still exists.

Maybe try the latest version of critical first ;)

[2018-11-30 23:17] #211 closed

[2018-11-30 23:18] bezoerb commented on #179
Closing this as nothing happened in the last 2 years.

I think this should be way better with the next version. The prerelease can be installed with `npm i critical@next`. Asset paths can be configured with the `rebase` option

Feel free to reopen if the issue still exists.

[2018-11-30 23:18] #179 closed

[2018-11-30 23:18] bezoerb commented on #208
Closing this as nothing happened in the last 2 years.

I think this should be way better with the next version. The prerelease can be installed with `npm i critical@next`

Feel free to reopen if the issue still exists.

[2018-11-30 23:18] #208 closed

[2018-11-30 23:19] #199 closed

[2018-11-30 23:19] bezoerb commented on #193
Closing this as nothing happened in the last 2 years.
Feel free to reopen if the issue still exists.

[2018-11-30 23:19] #193 closed

[2018-11-30 23:20] bezoerb commented on #214
Closing this du to lack of feedback.
Feel free to re-open if there are any further questions

[2018-11-30 23:20] #214 closed

[2018-11-30 23:30] bezoerb commented on #215
We'll consider adding this feature to v2.1 after the rewrite.

[2018-11-30 23:31] bezoerb commented on #205
closing this in favor of #320

[2018-11-30 23:31] #205 closed

[2018-12-03 09:55] catalinred commented on #63
@bezoerb Sorry for the delay, I had some days off.

Just tested this morning with critical@next (2.0.0-4) and apparently it doesn't work for me at all, it doesn't insert the inline style in my .html files anymore.

In case it helps, I'm on a Windows 10 machine with Node v10.14.1 and I'm getting the following whenever using critical > 2.0:

I don't know, maybe it's just me?! I will try to run thing

[2018-12-03 21:39] bezoerb commented on #63
@catalinred: can you provide a test case for this or share the files/config to reproduce the issue? This would massively speed up the fix :)

[2018-12-11 11:21] razvanFrandes opened #346 "ignore"

[2018-12-11 11:21] #346 closed

[2018-12-11 11:55] catalinred commented on #63
@bezoerb  I'm sorry for replying that late. The truth is I'm not able to replicate my project's issue in a minimal scenario.  Will have to dig deeper to see what I'm missing out in there.

[2019-01-07 22:14] bezoerb commented on #311
@japrescott: critical now generates the "leftover" css by default.

`const {css, html, extracted} = await critical.generate({...});`

[2019-01-07 22:17] bezoerb commented on #311
Just realized that `extracted` was not the best naming choice :)
Maybe i'll just rename this to `uncritical`:D

[2019-01-08 02:21] sergeiliski commented on #275
This is still open and I was wondering if there was a solution to this? As far as I know, it's not possible to pass the `decodeEntities: false` that is suggested in the [cheerio#720](https://github.com/cheeriojs/cheerio/issues/720)

[2019-01-08 06:12] bezoerb commented on #275
@sergeiliski: Can you check if your issue still exists with the prerelease version of critical `npm i critical@next`?

We have replaced `cheerio` with `jsdom` in [`inline-critical`](https://github.com/bezoerb/inline-critical) and we're only using it for the `<head>` section of the html. So as long as you only have double quotes within single quotes in your `<body>` everything should be fine.

[2019-01-08 15:52] bezoerb commented on #63
@catalinred: i've updated [`inline-critical`](https://github.com/bezoerb/inline-critical) which is used internally to inline the critical css.

It now uses `jsdom` instead of `cheerio` for DOM manipulation and the parsing is limited to the document head.
The document body should remain unchanged besides the `<noscript>` blocks which are added to the end of the document.

So maybe a fresh installat

[2019-01-08 15:58] bezoerb commented on #339
Done in `critical@next` *v2.0.0-8*
https://github.com/bezoerb/inline-critical/blob/master/test/expected/cartoon-expected-minified.html#L11

[2019-01-08 15:58] #339 closed

[2019-01-08 16:13] bezoerb commented on #253
Extract is possible without using `inline: true` since version *v2.0.0-10*
You can install it with: `npm i critical@next`

From this version on you always get the "uncritical" css alongside the critical css and the html in the result object.

[code]

[2019-01-08 16:15] bezoerb commented on #181
@midzer: sorry for the late response.
I'm working on a new release of critical. You can install it using `npm i critical@next`

Maybe you could check if this update solves your issue?

[2019-01-08 16:21] bezoerb commented on #321
Closing this as there would be no option for this in critical besides the mentioned "magic number". The purpose of critical is to compute the styles for the critical path.

[2019-01-08 16:21] #321 closed

[2019-01-08 16:30] bezoerb commented on #312
@dolanb12: critical is using penthouse under the hood to compute the critical css. Penthouse uses the puppeteer (headless chrome). When all absolute divs are inside the initial viewport of your app you should get the correct results.
I never tried using 0 as a value for height but i guess this won't bring the expected results.

[2019-01-08 16:32] bezoerb commented on #301
This should be fixed with the latest version of critical.

`npm i critical@next`

See https://github.com/bezoerb/inline-critical/blob/master/test/index.test.js#L274 and https://github.com/bezoerb/inline-critical/blob/master/test/index.test.js#L284

/cc @Jack89ita @BrianEmilius

[2019-01-08 16:32] #301 closed

[2019-01-08 21:42] bezoerb commented on #304
@robbishop: we replaced the library extracting the critical css with [`postcss-discard`](https://github.com/bezoerb/postcss-discard) which works better than the previous library.

You can try by installing the prerelease version of critical: `npm i critical@next`

[2019-01-08 21:44] bezoerb commented on #258
Can you try the prerelease version of critical: `npm i critical@next`
We improved file handling & error reporting in this release.

[2019-01-10 12:59] catalinred commented on #63
Hi @bezoerb, here's what happens now with the `2.0.0-10` critical version:

`FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory
 1: 00007FF7AABD121A v8::internal::GCIdleTimeHandler::GCIdleTimeHandler+4810
 2: 00007FF7AABAA5B6 node::MakeCallback+4518
 3: 00007FF7AABAAFA0 node_module_register+2160
 4: 00007FF7AAE3B3EE v8::internal::FatalProcessOu

[2019-01-17 08:05] XhmikosR commented on #299
Yes, just don't use imports because they are blocking.

@bezoerb you can close this issue, it's unrelated to critical.

[2019-01-17 08:19] XhmikosR opened #350 "Find a way to offer the untouched critical CSS without prettier"
Prettier fixes the formatting, but any issues that might arise from the minification process will still be there. Also, IMO this is an extra dependency.

So, this should be solved properly, without minifying the critical CSS in the first place, if `minify: false` is set.

[2019-01-17 22:11] #299 closed

[2019-01-18 01:31] pachiraDIG commented on #312
I see,

I'd love to see this implemented -- a "class-based" feature to go along with the height-based feature for determining what is and isn't critical css.

Any takers?  : )

[2019-01-18 10:22] pocketjoso commented on #312
@pachiraDIG can you expand, what do you mean with a "class-based" feature?

[2019-01-18 10:49] bezoerb commented on #312
@pachiaDIG: you could try penthouse’ forceInclude option

[2019-01-18 19:51] pachiraDIG commented on #312
@bezoerb forceInclude is just what I was looking for, thanks! I now see the include option in the latest version documentation. I was previously looking at the front page readme.

My only other question is -- what would be the best way to get Critical to not use viewport width & height to determine the critical css? I'd like to use the include option as the sole method for determining what's gener

[2019-01-19 23:34] bezoerb commented on #63
@catalinred: i think i managed to get rid of the memory error :)
Would you mind trying again? (Critical should be in version v2.0.0-12)

[2019-01-21 19:54] pachiraDIG commented on #312
I'm sorry, I didn't provide a reference case. [Here's the project.](https://pachira.site)

If you feel Critical is overkill for this type of site, what might you recommend to automate the process?

[2019-01-22 15:16] XhmikosR commented on #307
@bezoerb I personally don't see any warning with 1.3.4 either. You can check the CI too.

[2019-01-22 18:04] bezoerb commented on #307
Thanks for checking @XhmikosR!
Closing this as i can’t see any warnings, too.

@josenobile: feel free to reopen if the error still exists or if there are any new insights

[2019-01-22 18:04] #307 closed

[2019-01-29 01:34] iamw00t opened #354 "uncritical css does not seem to be generated via gulp"
I could be doing something wrong (most likely) but I only get a single file with the critcal css, named after the html file, not the supplied target name, and there doesn't appear to be modifications done to the source css or a non-crit css file.
[code]

ps thanks for this plugin, it's the best thing i've found in a while :)

[2019-01-29 09:25] joshuaavalon opened #355 "File not found in v2.0.0-12"
**Project**
[code]

**postbuild.js**
[code]

**Error**

(node:4176) UnhandledPromiseRejectionWarning: Error: Error: File not found: /css/vendors.e739fbab34bf82cbf77f.3b93ccbe.css
       Current working directory: C:\Users\user\git\project
       Searched in: C:\Users\user\git\project\dist, ., C:\Users\user\git\project
    at resolve (C:\Users\user\git\project\node_modules\critical\src\file.js:181:

[2019-01-29 15:59] bezoerb commented on #355
Thanks for posting the issue @joshuaavalon.
I tried to reproduce your error but everything seems fine.

According to the error message, the hashed "uncritical" file is could not be found

Current working directory: C:\Users\user\git\project
Searched in: C:\Users\user\git\project\dist, C:\Users\user\git\project

To help you i might need some more context information.
1) From which location/how do y

[2019-01-30 02:31] joshuaavalon commented on #355
@bezoerb Sorry,  for  wasting your time. I think I found where is the problem. I was using `node scripts/postbuild.js` instead of `npm run`.

[2019-01-30 02:31] #355 closed

[2019-01-30 03:30] joshuaavalon opened #356 "Target output does not respect base"
Version: v2.0.0-12

[code]

[code]

The current directory is `project`.

**Expected Behavior**
`index.html` is replaced.

**Current Behavior**
New `index.html` is located at `project` instead of `project/dist`.

[2019-01-30 22:04] bezoerb commented on #356
@joshuaavalon: Should be fixed with `v2.0.0-13`

[2019-01-31 02:58] joshuaavalon commented on #356
Confirmed it works in `v2.0.0-13`.

[2019-01-31 02:58] #356 closed

[2019-02-02 18:41] fraktar commented on #354
`target: {css: 'critical.css',  uncritical: 'auncritical.css'}`

Target didn't work for me.

However, I managed to use `dest` and now I can generate a `critical.css` file in the `main.css` directory.

Here's my Gulp task:

[code]

I'm sure there's a better way of doing this, but feel free to test my config in your own setup.

_PS: I'd appreciate feedback on how to make my task better as well._

[2019-02-08 21:20] pachiraDIG commented on #312
Hope that makes sense, I'm simply layering absolute-positioned sections on top of each-other, rather than displaying them vertically, one-by-one, as Critical is traditionally designed for. So I'd like to be able to use it strictly for this case.

[2019-02-09 12:19] pocketjoso commented on #312
Well like I said before it is overkill using Critical and penthouse for your use case. Just use a css parser like [css-tree](https://github.com/csstree/csstree) (the one Penthouse uses) and filter out the rules you don't want. This execution time for this will be orders of magnitudes faster than using Penthouse (via Critical).

[2019-02-18 19:17] vzaidman opened #357 "can i use a remote html file url instead of a local one?"
i have a deployed site i'd like to run critical on but it has many problems running locally.

[2019-02-19 08:26] bezoerb commented on #357
Yes ;)

[2019-02-24 16:05] nairod commented on #275
I faced this problem too, with the stable version. With the next version this problem has gone.
Thanks for your work!

[2019-03-05 11:01] vertic4l opened #358 "Issue with dynamically loaded content / components"
Hi,

we are using https://github.com/jamiebuilds/react-loadable to reduce page load and therefore increase pagespeed scores.

We now noticed that critical can't handle this sort of dynamically loaded content correctly.
There are missing styles in the critical css. Does anyone know how to get it work ?

JS is enabled and changing the wait time in the settings doesn't work unfortunately.

[2019-03-05 13:42] pocketjoso commented on #358
The first render with critical css happens before Javascript is loaded, this is one of the reasons it can be fast. So no, the critical css will not style your dynamic content, your full css should do that.

[2019-03-05 15:26] #358 closed

[2019-03-06 07:52] egorovli opened #359 "[question] Is it possible to disable evaluation and rebasing?"
Hi. I'm trying to use `critical` with `Next.js` and `css-modules` to inline critical css on page request, but I can't seem to figure out the correct options. Currently I have a helper method injected in `req` object:

In `_document.jsx`:

[code]

A helper method:

[code]

So basically I just pass a list of generated CSS files and HTML markup as a string. I tried using it without the `base` option,

[2019-03-06 08:44] pocketjoso commented on #359
This is not a good idea. Generating critical css is too slow and too CPU intensive to do while serving requests. A critical css generation call fires up a Chromium browser to evaluate what css is critical for this page.

If you have static pages it makes much more sense to generate the critical css during build time.

If you really want to do it dynamically, I would separate the critical css gener

[2019-03-06 09:11] egorovli commented on #359
Thanks. Yeah, that is totally understandable. I just can’t figure out a way to disable modification of source CSS. Currently I came up with

[code]

Does it look like a correct approach?

[2019-03-06 22:45] bezoerb commented on #359
@egorovli: the approach looks good but i also just added the possibility to pass `rebase: false` to disable asset rebasing.

Use `npm i critical@next` to try (v2.0.0-14)

[2019-03-07 06:17] egorovli commented on #359
Thanks a lot!

[2019-03-07 06:17] #359 closed

[2019-03-23 22:24] #275 closed

[2019-03-23 22:26] #357 closed

[2019-03-26 08:50] bezoerb commented on #280
Closing this due to inactivity.
This issue should be fixed in the `next` version of critical.
Feel free to reopen if there are new insights or if the issue still exists.

[2019-03-26 08:50] #280 closed

[2019-03-26 08:51] bezoerb commented on #302
Closing this due to inactivity.
Feel free to reopen if there are new insights or if the issue still exists.

[2019-03-26 08:51] #302 closed

[2019-04-01 15:34] b12k opened #360 ""await critical.generate" doesn't return an object"
Hello,
I want to ask for a little guidance.
Following this example:
[code]
I'm trying extracting `css` in node server, for server side rendered `React/Vue` application.
[code]
I expect `generated` to be an object like `{ css, html, uncritical }`;
I plan to manually inject critical css into html later.

Problems:
1) I'm getting an error: `Warning: Missing html source path. Consider 'folder' option.

[2019-04-01 20:26] bezoerb commented on #360
@b12k: it looks like you're running critical v1.3.4. This version only returns a string which is either the html or the critical css based on the `inline` option.
I would recommend installing the prerelease version using `npm i -D critical@next` as we have fixed a lot of bugs in there ;)

[2019-04-03 10:08] muuvmuuv commented on #276
- Try updating to LTS version of node and try it again
- Try to save it as dev dependency
- Use next version `npm i -D critical@next`

[2019-04-11 18:20] MindSculpt commented on #181
@midzer I can confirm this is still an issue. I'm able to generate critical css inline perfectly, but only when the path to your main css file is:

`<link rel="stylesheet" href="assets/css/main.css">`

...which makes it really difficult to try to use this for anything other than your home page.

[2019-04-11 18:32] bezoerb commented on #181
@mindsculpt: can you provide a gist or something else to reproduce the issue?

[2019-04-11 19:13] MindSculpt commented on #181
@bezoerb That might be tough, as critical is built into my custom static website generator which is not part of a public repo.

When I use an absolute path to my stylesheet, critical starts up but then stops suddenly before grabbing the rest of the styles needed, so I wind up with FOUC because the inlined styles aren't complete. I am using Bootstrap 4 in this build (which relates to one of the iss

[2019-04-12 09:37] HenriqueLimas opened #361 "Critical is not working with webpack-dev-server using remote css"
Critical version `2.0.0-X` is making a `head` request to check if the css file exist, but right now webpack-dev-server doesn't support `head` request only get ([issue on webpack-dev-server](https://github.com/webpack/webpack-dev-server/issues/924)).
I am opening the issue here only to discuss if we could move to `get` request instead of `head` but also to let people know that this is happening.

S

[2019-04-12 10:40] richie2838 opened #362 "ASP.NET MasterPage/Content overwriting ASP tags"
Hi,

I’m using critical to extract and inline critical-path for my website, but I’ve run into an issue in which the .NET generated code is being modified.

e.g.

<%@ page language="VB" masterpagefile="~/SiteNoLeftPanelV2.master" autoeventwireup="false" inherits="__ASPNET_INHERITS" enableeventvalidation="false" validaterequest="false" maintainscrollpositiononpostback="true" maxPageStateFieldLength=

[2019-04-26 23:18] bezoerb commented on #361
@HenriqueLimas: you can now overwrite the request method using
[code]

[2019-04-27 00:04] HenriqueLimas commented on #361
That is perfect. Thanks @bezoerb :+1:

[2019-04-27 00:04] #361 closed

[2019-04-29 23:53] hildissent opened #363 "Unable to use glob for css:"
Using a glob for css throws an error that the file doesn't exist.

[code]

My build works if I pass the full file names to critical, but I use gulp-rev when I generate styles so I don't have permanent file names to pass to it. For now, I'm building a second instance of my styles explicitly to pass to critical, but that redundancy is annoying.

I'm relatively new to all of this, and not very handy

[2019-04-30 10:56] Kalt opened #364 "Google Cloud Platform function integration - Puppeteer timeouts"
Hello,

I am trying to integrate this project into google cloud background function, but I am having troubles with puppeteer timeouts:

`Function execution took 30004 ms, finished with status: 'timeout'` after calling `critical.generate()`.

`TimeoutError: Timed out after 30000 ms while trying to connect to Chrome! The only Chrome revision guaranteed to work is r637110 at Timeout.onTimeout (/srv/n

[2019-04-30 20:44] bezoerb commented on #363
@hildissent: which critical version are you running? Glob support for css isn't available in 1.x

[2019-04-30 20:57] bezoerb commented on #362
@richie2838: There's no support for .NET in critical.
To generate the critical css you need either a compiled html version of your .NET template or an url where the html can be accessed. You should then use `inline:false` to just generate the critical css and do the inlining with .NET as we assume regular html for this which breaks your template.

[2019-04-30 20:57] #362 closed

[2019-04-30 21:00] bezoerb commented on #364
@pocketjoso do you have any experience with running penthouse in an environment like this?

[2019-04-30 21:10] bezoerb commented on #350
@XhmikosR: penthouse only returns minified css so there's no other possibility on our side to return 'unminified' css as well. As far as i know we don't use any "unstable" minification features so there shouldn't be any issues on this side.
The `minify:false` option was only introduced for debugging purposes as the resulting critical css should be as small as possible ;)

If you need "untouched" c

[2019-04-30 21:20] bezoerb commented on #323
@raxbg: We use [`penthouse`](https://github.com/pocketjoso/penthouse) for generating the critical css and all the browser management happens over there using [`puppeteer`](https://github.com/GoogleChrome/puppeteer).

[2019-05-01 03:19] hildissent commented on #363
Yep. I knew this would be a "me" problem. I see the differences in the installation instructions now. I did a straight "npm --save-dev critical", so I'm on 1.3.4.

[2019-05-01 03:19] #363 closed

[2019-05-01 11:24] XhmikosR commented on #350
@bezoerb: I see your point, but on the other hand, getting compressed CSS and beautifying it here, adds an extra possible point of failure.

From a quick look I don't get how penthouse gives minified critical CSS; I don't see any CSS minifier in its dependencies, while I do see clean-css here.

[2019-05-01 11:26] XhmikosR commented on #350
Also, I want to point out that the "safe" options you mention are not really the safest ones. You shouldn't use level 2 at all.

So, there must be an option for people to adjust this.

[2019-05-01 18:34] pocketjoso commented on #350
Penthouse doesn't minimize the critical css explicitly, as you found @XhmikosR, it's just the way it comes out formatted from the AST library used, via [css-tree's generate function](https://github.com/csstree/csstree/blob/master/docs/generate.md).

It was never my intention to put minification inside Penthouse - I always favoured having understandable output, and people using their own solution f

[2019-05-02 13:04] kacpermigala opened #369 "Synchronous loading of non-critical styles."
Is there a way to force critical CSS to avoid adding async loading of non-critical styles? For my use case, I want to extract critical CSS and load rest synchronously in some cases. I tried to set the inline object option 'noscript' to false, but that doesn't help.

[2019-05-04 15:41] pocketjoso commented on #364
@Kalt if you want to try out the latest puppeteer version, it is avaialble via `penthouse@2.1.1-rc2`. It should be merged and released as `latest` within about one week.

[2019-05-06 06:47] Kalt commented on #364
Thank you very much for your replies. I just tried latest penthouse@2.1.1-rc2 in GCP function and everything works as expected! :)

Sadly, in GCP function I am not able to redefine dependency versions using shrinkwrap or package-lock.json, so I will need to wait for the new version of critical.

@bezoerb will be please available new version of critical after penthouse 2.1.1 release anytime soon?

[2019-05-07 07:48] XhmikosR opened #371 "Document `concurrency` option"

[2019-05-10 12:58] thelgevold opened #372 "Using critical.css"
The example below allows me to correctly separate critical css from non critical css, but I am noticing that the generated index-index.html file still preloads the original css file. Wouldn't it be more appropriate to pre load uncritical.css? Looks like I have to manually make that change, or am I missing something?
[code]

This is happening in the current @next version.

Thanks.

[2019-05-10 18:47] bezoerb commented on #372
@thelgevolt: have you already tried adding extract:true to the options?
I could take a look this evening but hopefully the extract option already does the trick :)

[2019-05-10 19:01] bezoerb commented on #371
This option doesn’t have much effect at the moment as it only controls concurrency for the different dimensions of a single file in case more than one dimension is specified. I always wanted to add support for the processing of multiple html documents in parallel but I haven’t started yet ;)
The concurrency will make much more sense the time this lands.

[2019-05-10 19:04] XhmikosR commented on #371
NP, I just noticed no info in README.md hence why I made the issue :)

[2019-05-10 19:05] bezoerb commented on #371
Good catch 😊
Thanks

[2019-05-10 19:06] bezoerb commented on #371
...but if you want to give the multi document thing a try... I would be more than happy for a good PR ;)

[2019-05-10 19:15] thelgevold commented on #372
Thanks. I tried updating it to

[code]
But it seems like it still loads the original stylesheet in the preload link.

[2019-05-10 21:15] bezoerb commented on #372
Thanks for the feedback. It should use the the target you specified for uncritical if both options are set. I’ll check that

[2019-05-15 21:47] bezoerb commented on #364
@Kalt: released [v2.0.0-17](https://github.com/addyosmani/critical/releases/tag/v2.0.0-17) with `penthouse` 2.2.0

[2019-05-16 05:15] bezoerb commented on #372
@thelgevold: just published a small fix for this. Can you try again using the latest version `critical@next`?

[2019-05-16 15:58] thelgevold commented on #372
I just confirmed that this is fixed in the latest version. Thanks @bezoerb for the quick turnaround time on this.

Closing.

[2019-05-16 15:58] #372 closed

[2019-05-17 06:34] Kalt commented on #364
@bezoerb Thank you very much for the package update! :) Critical started to work for simple cases, but when I specify more than 4 dimensions, then suddenly I am getting the very same issue.

`...,
dimensions: [ { width: 440, height: 594 }, { width: 766, height: 1360 }, { width: 1060, height: 594 }, { width: 1280, height: 720 }, { width: 1660, height: 936 } ].
...`

It is really strange, because fo

[2019-05-17 15:24] bezoerb commented on #364
@Kalt: you can try the concurrency option. This is currently undocumented.
See https://github.com/addyosmani/critical/issues/371

The default value is `Infinity`. If you set this to 4 it might help.
[code]

[2019-05-20 07:13] Kalt commented on #364
@bezoerb Awesome! It looks like setting concurrency to **1** is essential to work reliably on GCF. I completely missed that option. Setting concurrency to higher values caused ocasional failures, so for me is **1** the safest value.

Thank you very much for your help :)

[2019-05-20 07:13] #364 closed

[2019-05-21 08:48] WebDevLuke opened #373 "'Parameter file needs to be a vinyl object'"
Hey, I'm trying to use this via Gulp 3.9.1, but I'm running into the same console error even when using the example from the README.md.

`Parameter file needs to be a vinyl object`

This is my Gulp task so far:-

[code]

Anybody have any ideas? I feel as though it's something obvious, but I'm not seeing it. 🤔

[2019-05-22 04:33] bezoerb commented on #373
Hey @webdevluke, which version of critical are you running?

[2019-05-22 07:26] WebDevLuke commented on #373
I'm on 2.0.0-18. 👍

[2019-05-28 08:49] raxbg commented on #323
@bezoerb exactly - the suggestion was based on [this penthouse example](https://github.com/pocketjoso/penthouse/blob/master/examples/custom-browser.js). The idea is that having the daemon will allow easy integrations with other systems or even running a network cluster of `critical` servers. Having said that, keeping a browser instance is not that important, just something that might be useful in

[2019-06-02 09:20] rohanvakharia opened #374 "Uncritical is breaking because of the `inline-critical` package"
While generating the critical, html and uncritical, I have set rebase to false because there are some errors in the CSS.
Though `inline-criticalcss` also has `postcss-url` dependency and I do not see any option to disable the that which causes uncritical to break.

Do you have any solution to that?

Related version : `critical@next`

[2019-06-02 09:40] bezoerb commented on #374
Hey, can you share some more insights like your confic or anything that helps reproducing the issue?

[2019-06-02 16:56] rohanvakharia commented on #374
Here is my config:

[code]

[2019-06-08 15:11] rohanvakharia commented on #374
@bezoerb any update?

[2019-06-08 20:24] bezoerb commented on #374
Can you also share the css file? The error looks like there's something wrong with the css. There are some cases in which we need to use postcss like for example rebase or extract ...
The [`CssSyntaxError`](https://api.postcss.org/CssSyntaxError.html) thrown by postcss is caused by an error in the css. If you could share the file or the link to the html ('https://<domainname>/') i can help debuggi

[2019-06-08 20:45] bezoerb commented on #373
@WebDevLuke: Just tried this with a fresh install of `gulp`, `fancy-log` & `critical@next` and everything is working just as expected. One cause i could imagine though might be an outdated version of the [`vinyl`](https://gulpjs.com/docs/en/api/vinyl-isvinyl) library. Which gulp version do you use?

[2019-06-08 21:14] bezoerb commented on #181
I tried to reproduce this behavior but everything works just as expected when i use  Bootstrap 4. If anyone can provide something to reproduce this issue leave me a note ;)

[2019-06-10 10:35] nimaa77 commented on #273
@developer-lindner HOW?
it's impossible with to do it with [afterjs](https://github.com/jaredpalmer/after.js/) ([razzle](https://github.com/jaredpalmer/razzle)) or nextjs.

[2019-06-11 06:47] rohanvakharia commented on #374
I am using WordPress and related plugins. In that plugin there is a semicolon missing for CSS property.
I cannot control the plugin.

[2019-06-11 08:58] bezoerb commented on #374
In this case you might need to disable all features which rely on postcss or add some quickfix to add the missing semicolon to the malformed css before passing it to critical.

[2019-06-11 08:59] bezoerb commented on #374
Is there a github repo for the WP Plugin? We can also try to open up a PR to get this fixed on the plugin side

[2019-06-11 11:47] rohanvakharia commented on #374
Sorry, it is premium plugin

[2019-06-12 04:04] nickarocho opened #375 "Is it possible to use Critical if your HTML files are rendered dynamically on the server?"
I am using Salesforce Commerce Cloud, which uses [ISML templates](https://documentation.b2c.commercecloud.salesforce.com/DOC2/index.jsp?topic=%2Fcom.demandware.dochelp%2FISML%2FISML.html) to dynamically generate the HTML on the server. Can I still use Critical if we don't have a target HTML file in the actual codebase?

I would prefer not to have to manually inject/determine the critical CSS, but

[2019-06-12 17:25] thasmo opened #376 "critical does not work with a remote browser"
Running something like this doesn't work.
[code]

This results in an error.
[code]
It tries to connect to `'file://C:\\Users\\user\\AppData\\Local\\Temp\\6df8ea397e6c2d676ff1b27a1e00f391\\79f06439b62759c632b77f71ef3d3cd0.html'`.

Would it somehow be possible to get this working using a remote browser? I'm running a headless chrome instance in a docker container which I let puppeteer connect to and

[2019-06-13 10:04] pocketjoso commented on #376
Could you try with [penthouse](https://github.com/pocketjoso/penthouse) directly, to see if the error has anything to do with the critical package or not? It might not; if so could you raise the issue in the Penthouse repo instead? Cheers

[2019-06-13 16:23] evemontalvao opened #377 ""File not found" after upgrading to v2.0.0-18"
Alter upgrade to v2, following [this](https://github.com/addyosmani/critical/issues/360) recommendation, I'm getting the following error, but the path is correct, I'm able to access the same path through `cd` or `cat`, so this doesn't seem to be the problem.
[code]

This is my file structure:
![Screen Shot 2019-06-13 at 13 20 13](https://user-images.githubusercontent.com/5607300/59449722-01904900-

[2019-06-13 16:55] bezoerb commented on #377
You’re passing an absolute path for the css (leading slash). This is why critical doesn’t find the file. You could try using a relative path:  ```
css: [`${key}/index.css`],
[code]

[2019-06-13 16:57] bezoerb commented on #377
I will try to make this a bit less error prone

[2019-06-13 17:10] evemontalvao commented on #377
I've tried this and I'm still getting the same error :/

[2019-06-13 17:12] bezoerb commented on #377
Sorry to hear that. I’ll take a look this evening and see if I can reproduce/fix this

[2019-06-13 17:12] evemontalvao commented on #377
@bezoerb Thank you, let me know if you need more information

[2019-06-13 18:08] thasmo commented on #376
@pocketjoso, afaik `critical` creates a temporary local file which is passed to `penthouse` instead of the actual/original address. At least that's what I think is happening. The reasons for this I don't know but I guess it's to yield better results from `penthouse`.

[2019-06-15 21:50] bezoerb commented on #377
Hey @evemontalvao, i think i found the problem. The `base` option should represent the docroot of your project so we can locate the referenced files. According to the error log you have an absolute referenced stylesheet in your html (`/static/css/views/profile/index.css`).
When using the `extract` option without specifying `target: {uncritical: <path to uncritical.css>}`, [`inline-critical`](https

[2019-06-18 21:39] bezoerb commented on #376
@thasmo: I just made some changes which hopefully fix this. Would you give it another try with `v2.0.0.19`?

[2019-06-20 07:03] thasmo commented on #376
@bezoerb I've tested it and the error message changed.
[code]
I've looked at your commit and I'm not sure this is about generating the correct path to the file. What I mean is that `critical`, when using a **remote** headless chrome (a chrome instance running on a remote location/machine), does not work at all, because `critical` creates a local temporary file, but the remote machine has no way of

[2019-06-20 07:32] bezoerb commented on #376
Ahhh, now I get it 😊
I must have missed the “remote” path...

[2019-07-12 15:54] nickarocho commented on #375
... Beuller?

[2019-07-16 15:33] jlukic commented on #373
I recently encountered this issue with my build pipeline and found that it was caused by using [`gulp-plumber`](https://github.com/floatdrop/gulp-plumber) to handle stream errors.

For anyone who uses this in their pipeline, simply removing `.pipe(plumber())` from stream will fix issue.

[2019-07-16 15:45] jlukic commented on #373
I think this is an incompatibility with Gulp 3

* Gulp 3 uses [`vinyl-fs 0.30`](https://github.com/gulpjs/gulp/blob/v3.9.1/package.json#L41)
* Vinyl-fs 0.30 uses [`vinyl 0.20`](https://github.com/gulpjs/vinyl-fs/blob/v0.3.0/package.json#L19)
* Vinyl `0.20` does not support this method (added in [0.5.3](https://github.com/gulpjs/vinyl/releases/tag/v0.5.3))

[2019-07-16 15:58] jlukic commented on #373
It looks like this use-case was already handled but some functions weren't using the necessary helper.
https://github.com/addyosmani/critical/pull/378

[2019-07-17 09:28] bronze opened #380 "Hugo and/or PostCSS compatibility"
Has anyone made this work with Hugo?

I get errors about not finding the index file (ok, that was to be expected running async).
On 2nd pass everything works. However, on server it doesnt run twice, so i need to make it work on 1st pass.

Been looking for a defer postcss.config way to do it but didnt find one.
Tried running after hugo with npm run hugo && critical (...), also didnt work.

Id gladl

[2019-07-18 00:38] joejordanbrown opened #381 "bug: duplicate CSS because of noscript"
When using `preload` and `noscript` to load a stylesheet when JavaScript is disabled, you end up with duplicate imports of the same CSS file.

**Example:**
[code]
See pull requests https://github.com/addyosmani/critical/pull/379 and https://github.com/addyosmani/oust/pull/24 for further details.

[2019-07-21 15:03] hamedbaatour commented on #263
guys facing this issue on windows please **disable your antimalware / antiviruse** because it will kill the headless chrome process that puppeteer launches thinking its a dangerous sniffing process!

[2019-07-24 16:54] AT41 commented on #216
Hi, was this ever resolved fully? Critical replaces `../` with `../../../private/var/folders/...` when I use an absolutely linked css.

[2019-07-24 17:27] AT41 commented on #216
Hi, was this ever resolved completely? My absolute css contains relative paths that get rewritten to /private/var/folders/....

[2019-07-25 04:32] nickluger commented on #375
Seems to be a bad idea: https://github.com/addyosmani/critical/issues/359#issuecomment-470019922.

[2019-07-28 22:03] bezoerb commented on #216
@AT41: Can you post your config or a gist to reproduce the error?

[2019-08-01 14:47] AT41 commented on #216
Sorry for the wait! Here's a reproduction of the bug: https://gitlab.com/anthonytang411/temp-critical-repro

[2019-08-02 18:07] AT41 commented on #216
Oh, I think it's because my version of Critical is just horribly out of date. It's completely fixed for me now

[2019-08-04 21:25] bezoerb commented on #216
@AT41: that sounds great :)
Closing this issue now. Feel free to reopen if it pops up again.

[2019-08-04 21:25] #216 closed

[2019-08-06 09:49] Venegrad opened #382 "When I turn on the inline option, the task just freezes"
When I turn on the inline option, the task just freezing.

[2019-08-06 10:16] Venegrad commented on #382
[code]

[2019-08-06 10:17] Venegrad commented on #382
[code]

[2019-08-06 10:17] Venegrad commented on #382
[index.html](http://dev.venegrad.com/ieno13/)
[main.css](http://dev.venegrad.com/ieno13/css/main.css)

[2019-08-07 05:34] XhmikosR commented on #380
The static site generator shouldn't matter. You might be referencing stylesheets that critical cannot find, but the only way someone can help you is to have access to a minimal reproducible example.

[2019-08-07 05:53] XhmikosR commented on #375
AFAIK, no there isn't any way and it'll be slow anyway. This step is better done in the preprocessing stage.

[2019-08-07 05:53] #375 closed

[2019-08-07 05:54] XhmikosR commented on #377
Closing due to lack of reply.

[2019-08-07 05:54] #377 closed

[2019-08-07 05:55] XhmikosR commented on #382
We need a minimal reproducible example with the complete commands, versions and everything.

[2019-08-07 05:59] XhmikosR commented on #286
Closing as this is not something we can or should solve here.

[2019-08-07 05:59] #286 closed

[2019-08-07 06:00] #254 closed

[2019-08-07 06:02] XhmikosR commented on #181
Works also fine here for my own projects. If this is still an issue please make a new issue with all a minimal reproducible example included (package.json and everything).

[2019-08-07 06:02] #181 closed

[2019-08-07 06:03] XhmikosR commented on #276
Closing since this is a very old issue and in the usual environments we test everything works fine.

[2019-08-07 06:03] #276 closed

[2019-08-07 06:03] XhmikosR commented on #271
This should have been fixed a long time ago.

[2019-08-07 06:03] #271 closed

[2019-08-07 07:01] #360 closed

[2019-08-07 07:02] XhmikosR commented on #322
Closing due to lack of reply.

[2019-08-07 07:02] #322 closed

[2019-08-07 07:02] #312 closed

[2019-08-07 07:03] XhmikosR commented on #304
Closing due to lack of reply.

[2019-08-07 07:03] #304 closed

[2019-08-07 07:04] #263 closed

[2019-08-07 07:04] XhmikosR commented on #258
Closing as fixed.

[2019-08-07 07:04] #258 closed

[2019-08-07 07:05] #240 closed

[2019-08-07 07:05] #202 closed

[2019-08-07 07:07] #212 closed

[2019-08-07 07:08] #253 closed

[2019-08-07 07:08] #287 closed

[2019-08-07 07:09] #288 closed

[2019-08-07 07:09] #277 closed

[2019-08-07 09:16] XhmikosR commented on #354
Closing due to lack of reply.

[2019-08-07 09:16] #354 closed

[2019-08-07 17:19] bronze commented on #380
ok i have been cracking my head over this for a bit and decided to try fitting gulp instead of relying on CLI. I found a [good example](https://gitlab.com/anthonytang411/temp-critical-repro/tree/master) from #216
i can reproduce his example with full url of the css files.
relative stylesheets like `<link rel="stylesheet" href="./css/uikit.min. ... .css" integrity="..." media="print" onload="this.m

[2019-08-07 17:19] #380 closed

[2019-08-07 21:55] #373 closed

[2019-08-08 07:26] XhmikosR commented on #232
We don't use phantomjs anymore so this is fixed.

[2019-08-08 07:26] #232 closed

[2019-08-08 10:58] XhmikosR opened #389 "[2.x] replace lodash packages with native methods"
It seems we currently use a few lodash packages, and I was wondering if we can just use native features? Well, maybe minus `escapeRegExp`.

[2019-08-09 18:08] XhmikosR commented on #270
Is this still an issue with the latest 1.x or 2.x version?

[2019-08-09 18:09] XhmikosR commented on #235
I believe the way you are running critical is the issue. There's an official snippet in README how to use critical with gulp.

[2019-08-09 18:09] #235 closed

[2019-08-09 18:09] #256 closed

[2019-08-09 18:09] XhmikosR commented on #256
I guess this is sorted.

[2019-08-09 18:10] #311 closed

[2019-08-09 18:11] XhmikosR commented on #201
Is this still an issue?

[2019-08-10 10:21] pratham2003 commented on #298
`I run the critical to iterate each html file inside dist`
Add an exclusion for manifest.html?
This is something you could do at your side.

Through I would re-think about throwing an error or showing a warning and return an empty response?
An empty HTML page with no styles is still valid HTML.

[2019-08-14 19:51] XhmikosR commented on #251
This shouldn't happen any more.

[2019-08-14 19:51] #251 closed

[2019-08-14 21:38] bezoerb commented on #298
@pratham2003: Totally agree :)
This is fixed in the 2.x version of critical.
You can install critical v2.x like this: `npm i -D critical@next`

[2019-08-14 21:38] #298 closed

[2019-08-14 21:39] bezoerb commented on #381
@joejordanbrown: thanks for your PR. It's nearly ready to merge. The only thing missing is a test case.

[2019-08-15 21:34] bezoerb opened #394 "PAGE_UNLOADED_DURING_EXECUTION tests fail in appveyor"
The tests are currently skipped in `master` & `1.x`.
The tests pass locally and fail on appveyor.

We need to inspect if this can be fixed in `critical` or if this needs to be handled in [`penthouse`](https://github.com/pocketjoso/penthouse)

https://ci.appveyor.com/project/addyosmani/critical/builds/26706172/job/3x255lx5pn2ipajp

[2019-08-20 17:23] stanleybz opened #395 "External CSS with absolute url not generate correctly."
Hi, I'm trying to generate CCSS on my site which containing an external CSS from my CDN, I found the background image or font URL is not correct if the CSS is using an absolute path, here's an example:

Main site: http://rcvc.io/test-ccss/
CDN CSS: http://cdn.rcvc.io/css/style.css

CCSS result:
[code]

You can see if it's using relative path (**http://cdn.rcvc.io/image.jpeg**) the URL will be gene

[2019-08-21 15:02] jyoseph commented on #320
@pratham2003 Thanks for your code example! When I run it, I get this...

I'm assuming this is because I need to read the yaml file. Would you be able to show your entire gulp file? It would be a huge help to me. Thank you!

[2019-08-21 15:39] pratham2003 commented on #320
@jyoseph There might have been some changes to my config.yml
I can't upload my entire gulp file.

The CRITICALCSS section at present it looks something like this.
[code]

[2019-08-21 16:59] jyoseph commented on #320
@pratham2003 Thanks for your reply! I have that in my .yml file. I think the problem is my gulp file doesn't recognize that CRITICALCSS variable. Is there anything additional in your gulp file that reads the yml file?

[2019-08-21 17:51] pratham2003 commented on #320
@jyoseph You're welcome :)

I'm not sure if this is the right place to discuss this.
Here is the relevant part from my gulpfile.babel.js

Note the `colors` and `log` can be swapped out for some simple vanilla `console` alternatives.
[code]

[2019-08-21 20:42] bezoerb commented on #395
@stanleybz: Can you post your complete critical config as well as the <head> part of your html?

[2019-08-23 17:51] stanleybz commented on #395
Hi @bezoerb,

Here's my config:
[code]

Here's the full critical generator function: https://gist.github.com/stanleybz/072af59682b2a877435592a16dd8c285

Version: `"critical": "^2.0.0-18"`

[2019-09-02 14:39] cameronbraid opened #398 "Can you return the http headers from penthouse as you do the html ?"
Currently I am running generate using a URL, and I wish to verify that the correct version of the content is being rendered, and this information is available as a http header.  Are you able to expose the http headers so I can do the following :

[code]

[2019-09-02 21:22] bezoerb commented on #398
@cameronbraid: Thanks for using critical. I'm sorry but there is currently no way to expose the response headers.

[2019-09-13 15:21] gbowne-quickbase commented on #262
In case anyone trips over this page, it looks like @sheerun has built out a docker image:
sheerun/critical
Which is working well for us. Thanks!! I agree that an image appropriately documented as part of this project would be better, but this will get us a long way.

[2019-09-13 16:05] sheerun commented on #262
I've just upgraded this image to node 10 and critical 1.3.6

[2019-09-13 21:29] valeriosillari opened #399 "Using Critical JS with Now Zeit"
I'm trying to use Critical for deploying a static website on Now Zeit.

For using critical on a remote server (like Zeit Now) it seems I have to use puppeteers and Chrome.

Zeit seems to permit it, and the documentation gives some info about it here:
https://zeit.co/blog/serverless-chrome

I'm trying to follow the documentation but I'm not so into puppeteers so it looks I miss some steps.

Anyone

[2019-09-15 20:52] bezoerb commented on #374
Closing this as the error isn't caused by critical. We can't fix syntax errors in css. This needs to be solved upstream.

[2019-09-15 20:52] #374 closed

[2019-09-15 21:05] bezoerb commented on #292
@dalimian: Sorry for the (very) late response. I just checked your example. After switching to the 2.x version of critical (`npm i critical@next`) everything works fine.
I'm closing this as it's fixed in the latest version of critical and it also might be far too late for the fix. (Sorry for that)

[2019-09-15 21:05] #292 closed

[2019-09-15 21:17] bezoerb commented on #272
@Fenrirkp: Sorry for the very late response. As of critical 2.x we have replaced cave with [`postcss-discard`](https://github.com/bezoerb/postcss-discard) which also removes duplicate rules.
I'm closing this as it shouldn't be an issue anymore with critical 2.x. Feel free to reopen if it doesn't work as expected.

[2019-09-15 21:17] #272 closed

[2019-09-16 05:54] dalimian commented on #292
Thanks alot for the update, i will update the package and clean up the dirty workaround. And thanks for the library, it is powering all of edmunds.com

[2019-09-16 07:46] bezoerb commented on #292
@dalimian: feel free to reopen this or open a new issue if it’s not working as expected.

[2019-09-23 15:01] therealpecus opened #400 "[2.x] postcss-discard does not drop `@supports` rules"
Hi Addy,

we hit a curious case in dropping `@supports` rules. We opened an issue with postcss-discard: https://github.com/bezoerb/postcss-discard/issues/12

No need to do anything, possibly a version bump as soon as it is fixed (it might help others looking to troubleshoot the same issue).

[2019-09-25 10:07] therealpecus commented on #400
Hi @addyosmani
Quick update: Ben has released an updated version. You might want to update the dependency.

[2019-09-25 10:07] #400 closed

[2019-09-29 03:21] dfguo opened #401 "skip image download to save bandwidth"
It looks like `critical` downloads the image (maybe to perform inlining image?) which costs additional bandwidth consumption. Is there an option to turn it off?

[2019-09-29 08:44] bezoerb commented on #401
@dfguo: can you share your configuration?

[2019-10-06 22:12] bezoerb commented on #395
@stanleybz: Sorry for the late response. I published a new version which should fix this issue [v2.0.0-22](https://github.com/addyosmani/critical/releases/tag/v2.0.0-22). Do you want to give another try?

[2019-10-07 20:19] gablittledevshop commented on #262
Hello, is the docker image still available?  I'm running gulp in a docker container and currently I have an error that says, `(node:38) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Failed to launch chrome! spawn /tmp/app/node_modules/puppeteer/.local-chromium/linux-637110/chrome-linux/chrome ENOENT`.  I'm wondering if the docker image will resolve this is

[2019-10-15 13:42] stanleybz commented on #395
Thank you @bezoerb! Just tested and it is working now.

[2019-10-15 18:56] #395 closed

[2019-10-16 13:32] kamleshchandnani commented on #212
I'm still facing the same issue where few elements are above the fold but critical doesn't inlines them in my head tag.

[2019-11-04 09:54] almare commented on #357
How ?

[2019-11-04 16:02] TomDeSmet opened #414 "CriticalCssWebpackPluginTypeError: Cannot read property 'content-type' of undefined"
I'm trying to build a project on a new MacBook (Catalina) which builds fine on my old MacBook (Mojave). Nothing changed in packages, just a minor version in node.js (v12.12.0 instead of v12.10.0 on the old MacBook).

I get this error:
[code]

Other projects with the same setup are being build and the Critical CSS files are being generated. I tried updating the NPM modules to the same versions as t

[2019-11-06 03:32] wildhart opened #415 "Multiple resolutions causes order of css to change when @media rules are used"
I'm generating the critical CSS for my landing page for multiple screen dimensions.  If the input CSS contains `@media` screen size selectors, then the order of the rules in the critical css generated output can change depending on the order of the screen dimensions list.

**This is causing my landing page to render incorrectly on certain screen sizes.**

This an excerpt from my input CSS (generat

[2019-11-07 00:15] wildhart commented on #375
I've done this with Vue server side render in my Meteor app.  I only do it on my sales landing pages and I do it once during server boot up and cache the results so that I can instantly serve my landing pages with critical CSS.

Here's my explanatory post in the Meteor Forums: https://forums.meteor.com/t/pre-rendered-landing-pages-with-critical-css/50626

Requires at least `critical@2.0.0-14` with

[2019-11-07 00:18] wildhart commented on #111
+1 for this request.  I've found my own solution as explained [here](https://forums.meteor.com/t/pre-rendered-landing-pages-with-critical-css/50626) but doing multiple html source files at once would eliminate having to initialise lots of chromium instances and a separate call to `clean-css` to combine the outputs into one.

[2019-11-07 11:58] NaghaveerR opened #416 "Even After setting inline option to false, still returns both css and html"
This is my request Obj

[code]

And I'm calling the critical
`let criticalResponse = await critical.generate(criticalRequestObj);`

`criticalResponse` is having both HTML as well as CSS.
I have set inline to false so that I no need to get the big HTML content in my response.

[2019-11-07 23:09] bezoerb commented on #357
Just pass the url instead of the local filepath:
[code]

CLI:
[code]

[2019-11-08 06:54] marmikdesai opened #417 "generate multiple html critical css same time"
Hi,

I have below gulp task where I have multiple html file. When I am running gulp critical task it  create one html critical css only. So I am wondering is this bug or expected behavior?

Folder Structure
dist - > page 1 - > page1.html (critical css generate)
            page 2 - > page2.html (this is ignore)

[code]

[2019-11-08 07:03] marmikdesai commented on #417
It is working I made some mistake in my gulp configuration.

[2019-11-08 07:03] #417 closed

[2019-11-08 23:31] bezoerb commented on #111
There's a problem when generating the critical css for multiple resources. If the paths differ we will end up with different asset paths for the same resources. Imagine the following scenario:

**CSS** /styles/main.css
[code]

**File 1:** /index.html  -> `background-image: url('images/test.jpg');`
**File 2:** /info/imprint.html  -> `background-image: url('../images/test.jpg');`

So depending on wh

[2019-11-08 23:32] bezoerb commented on #375
@wildhart: commented in #111

[2019-11-11 20:08] XhmikosR commented on #382
Closing due to lack of response. You can comment here and we can re-open the issue.

*This is an automated reply*

[2019-11-11 20:08] #382 closed

[2019-11-11 20:08] XhmikosR commented on #270
Closing due to lack of response. You can comment here and we can re-open the issue.

*This is an automated reply*

[2019-11-11 20:08] #270 closed

[2019-11-12 21:56] bezoerb commented on #415
Good catch @wildhart. I've made some tests and it seems the order of the dimensions needs to be from small to wide. I'm enforcing this now by sorting the array so the order in which it's passed to critical doesn't matter.

[2019-11-13 16:07] almare commented on #357
Thank you. I tried that before, but I think I made a mistake. Now it works.

[2019-11-13 22:32] #415 closed

[2019-11-15 07:08] XhmikosR commented on #394
I tested this recently on GitHub Actions CI and they fail there too.

[2019-12-01 13:00] XhmikosR opened #432 "[2.x] Update got to v10.x"
@bezoerb https://github.com/sindresorhus/got/releases/tag/v10.0.0

We will need to drop support for Node.js 8.x but that's OK IMO for v2.x. From a quick test some tests fail.

[2019-12-01 22:35] bezoerb commented on #432
What's the benefit here?

[2019-12-01 22:40] bezoerb commented on #416
The html is always returned just in case you want to handle the inlining yourself. If you don't want it in your response you could use destructuring to only grab the critical css:
[code]

[2019-12-01 22:40] #416 closed

[2019-12-03 03:57] DandeSuen commented on #414
Me too.
`[11:40:00] -> Generating critical CSS: http://estaging.avepoint.com/try -> web-elements/cpassets/compiled/css/try_critical.min.1575344391678.css
[11:40:00] TypeError: Cannot read property 'content-type' of undefined
    at temp (/home/avepoint/docker-share/www/craft3/node_modules/critical/lib/file-helper.js:107:37)
    at requestAsync.then.response (/home/avepoint/docker-share/www/craft3/

[2019-12-16 22:28] Snugug opened #434 "Include `src` in error information for stream"
I'm using Critical with Gulp, so the `stream` functionality, and I want to catch errors and not have a stream break if Critical fails. Using `gulp-plumber` to do so, but one missing piece to give my users a good error message is what file was being worked on when the error occurred. The error object for `stream` doesn't include this even though Vinyl Files (which is what Gulp uses for streams) doe

[2019-12-17 16:14] Snugug commented on #434
The error that I was seeing with 1.x is no longer an error in 2.x so I'm going to close this!

[2019-12-17 16:14] #434 closed

[2020-01-04 01:50] jacintorodrigues commented on #399
any update on this?

[2020-01-09 08:22] michtio commented on #414
I'm running into the same issue, are there any solutions or suggestions for this?

`99% [0] after emitting CriticalCssWebpackPluginTypeError: Cannot read property 'content-type' of undefined
    at temp (/home/forge/sandbox.educationendowmentfoundation.org.uk/node_modules/critical/lib/file-helper.js:107:37)
    at requestAsync.then.response (/home/forge/sandbox.educationendowmentfoundation.org.uk/

[2020-01-09 12:54] bezoerb commented on #414
Could someone provide a sample project to reproduce the error?

[2020-01-10 12:22] michtio commented on #414
@bezoerb I did some further research yesterday and I found the following:

[code]

Notice my publicPath, so I'm loading the value in from my environment file, just in case the environment file doesn't have a `DEFAULT_SITE_URL` set I had my critical path with the arrow function as seen above in the publicPath and local.

When `() => process.env.DEFAULT_SITE_URL || "https://domain.test",` is used as

[2020-02-20 15:36] alexey-m-ysbm opened #435 "Preload sanitize issue"
Some hostings do not understand "hack" with
`<link href="/style.96106fab.css" rel="preload" as="style" onload="this.rel='stylesheet'">`

and "screen" them with slashes:
`<link rel="preload" as="style" onload="this.onload=null;this.rel=\" stylesheet\''="" href="/style.96106fab.css">`

How to change this behaivour to simply add <link> to the end of body?

[2020-02-26 23:04] bezoerb commented on #435
The inlining is done by [`inline-critical`](https://github.com/bezoerb/inline-critical) But i'm quite sure this isn't possible at the moment so you will have to do the inlining yourself to achieve the described result. Sorry.

Can you tell me which version of critical you are running?

[2020-02-27 20:02] gromovadarya90 opened #436 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-03-16 11:33] eimfach opened #439 "Setting target option does not write any files ..."
I have this options:

[code]

But it silently does not write any files ...

[2020-03-16 11:34] bezoerb commented on #439
which version of critical are you using?

[2020-03-16 11:35] eimfach commented on #439
1.3.9

[2020-03-16 11:36] bezoerb commented on #439
try installing the 2.x branch with `npm i critical@next`

[2020-03-16 11:37] bezoerb commented on #439
the documentation for the `old` version is at https://github.com/addyosmani/critical/tree/1.x

[2020-03-16 11:39] eimfach commented on #439
ah I see, okay thanks, will try that

[2020-03-16 11:50] eimfach commented on #439
Okay it writes the html file now and I changed target to `target: 'index-critical.html'.
But it does not create a style tag in the header where the critical css should be ...

[2020-03-20 23:09] bezoerb commented on #439
hmm... that's weird. Can you create a gist to reproduce?

[2020-04-04 08:25] ozupey opened #440 "--pathPrefix gets seemingly ignored"
No matter what I do, the CLI argument `--pathPrefix` appears to be ignored.

# Commands tried:
[code]

# Expected output:
[code]

# Actual output:
[code]

[2020-04-05 21:42] bezoerb commented on #440
Which version of critical are you using?
The `pathPrefix` option was removed in critical v2.x

[2020-04-06 05:24] ozupey commented on #440
Using latest stable through npm (version `1.3.9`) and `--pathPrefix` shows up in the arguments list:

[code]

[2020-04-08 22:27] bezoerb commented on #440
I've checked this with 1.3.9 and this is kind of buggy ;)
pathPrefix only works for relative assets when adding the css file parameter to the cli command.

I would suggest using the 2.x version of critical `npm i -g critical@next`
If you still need to rewrite the asset paths you could simply add a little node script like the [this](https://github.com/addyosmani/critical#generate-critical-path-css-

[2020-04-08 22:28] bezoerb commented on #439
@eimfach: Any updates on this?

[2020-04-08 22:31] bezoerb commented on #432
Currently `got v10` fails with the rejectUnauthorized:false option.
https://github.com/sindresorhus/got/issues/1148
We can update as  soon as this is fixed or we have a workaround.

Node.js 8.x support is dropped ;)

[2020-04-24 12:17] lincolnaleixo commented on #439
not the OP but your solution to update to 2.0 version worked for me. thanks @bezoerb

[2020-04-27 09:49] mklepaczewski opened #443 "Media query from <link> should be used to wrap the <link> contents"
With sample files as below the contents of the `test.css` is included in the critical CSS without any media query around it. In my opinion, the media query from the link should be used to wrap the contents of the `test.css` file in the output.

## test.html
[code]

## test.css
[code]
## Current output
[code]

## Expected output
[code]

[2020-04-28 13:47] Snugug opened #444 "Move to media=print async CSS loading"
Working off of Critical v2.0.0-24, I'm seeing async CSS links being rewritten to a `preload` based strategy presumably based on the loadCSS project, but it looks like the [currently recommended code](https://www.filamentgroup.com/lab/load-css-simpler/) favors `media="print"` instead of `preload`, and in doing so improves browser support greatly.

I think it's be worthwhile to move Critical 2.x to

[2020-04-28 13:56] bezoerb commented on #444
Hey @Snugug
thanks for this issue :)
The inlining is done by [`inline-critical`](https://github.com/bezoerb/inline-critical) so i will move the issue there.

[2020-05-12 00:00] httpsterio opened #446 "npm audit throws an error for yargs-parser"
yargs-parser is a dependency of a depency in postcss-image-inliner. Until post-css-image-inliner is updated, the error will persist, even though this issue has been fixed in yargs-parser.

[2020-05-24 22:23] bezoerb commented on #444
fixed in `v2.0.0-25`

[2020-05-24 22:23] #444 closed

[2020-06-01 23:58] morenoh149 opened #449 "What is a valid source?"
I'm trying out the cli on a local server.

[code]
but I get `Error: A valid source is required.` How do you use the cli?

[2020-06-02 09:28] bezoerb commented on #449
Hey @morenoh149,

this should work with critical v2.x `npm i critical@next`

Which version are you using?

[2020-06-02 23:08] bezoerb commented on #432
Seems this `RequestError: unable to verify the first certificate` issue is caused by the 'old' `pupetteer` version (1.15.0) used in `penthouse`.

Running the following script works absolutely fine:
[code]

But as soon as `const puppeteer = require("puppeteer");` is  added we get  the mentioned error.
It seems like this error is fixed in puppeteer@2.1.0

[2020-06-09 14:31] Krishnakumarskr opened #450 "Error: Failed to launch chrome!"
I'm getting this error while deploying from docker.
![Screenshot 2020-06-09 at 7 13 14 PM](https://user-images.githubusercontent.com/29063514/84160467-d7727500-aa8b-11ea-9c40-808d5e22f9ed.png)

[2020-06-11 09:51] archy-bold opened #451 "SyntaxError: Unexpected token {"
at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:616:28)
    at Object.Module._extensions..js (module.js:663:10)
    at Module.load (module.js:565:32)
    at tryModuleLoad (module.js:505:12)
    at Function.Module._load (module.js:497:3)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    at Object.<ano

[2020-06-11 23:02] bezoerb commented on #451
@archy-bold: I've removed the fs-extra dependency in v2.0.0-27. Could you try again?

[2020-06-11 23:04] bezoerb commented on #446
`postcss-image-inliner` is updated in v2.0.0-26

[2020-06-11 23:04] #446 closed

[2020-06-11 23:06] bezoerb commented on #435
Closing due to inactivity. Feel free to reopen

[2020-06-11 23:06] #435 closed

[2020-06-11 23:11] bezoerb commented on #394
PAGE_UNLOADED_DURING_EXECUTION is working fine now

[2020-06-11 23:11] #394 closed

[2020-06-12 04:57] bezoerb commented on #116
Closing due to inactivity

[2020-06-12 04:57] #116 closed

[2020-06-12 05:00] bezoerb commented on #201
Closing due to inactivity. Feel free to reopen if there are more insights to share.

[2020-06-12 05:00] #201 closed

[2020-06-12 05:26] bezoerb commented on #450
This seems to be a problem with puppeteer rather than critical itself.
You should try here: https://github.com/puppeteer/puppeteer/issues?q=docker

[2020-06-12 05:26] #450 closed

[2020-06-12 09:03] archy-bold commented on #451
That fixed that particular issue, but now I'm seeing the following error in `asset-resolver`. Is that something to do with my version of node?

[code]

[2020-06-13 10:07] bezoerb commented on #451
Which version of node are you using?

[2020-06-13 22:07] bezoerb commented on #432
Done with #453

[2020-06-13 22:07] #432 closed

[2020-06-15 10:14] archy-bold commented on #451
Node version is 8.10.0

[2020-06-15 10:27] bezoerb commented on #451
This is strange... you should not be able to install critical@next with this version of node:
https://github.com/addyosmani/critical/blob/master/package.json#L26

[2020-06-15 10:34] archy-bold commented on #451
I upgraded to node 12 and all is good now. Odd I didn't even get a warning.

[2020-06-16 20:13] #451 closed

[2020-06-20 22:42] #398 closed

[2020-06-21 21:40] bezoerb commented on #269
Sorry for the very late response.
This has already been answered here https://github.com/addyosmani/critical/issues/273#issuecomment-356915103 and here https://github.com/addyosmani/critical/issues/319#issuecomment-414607799

[2020-06-21 21:40] #269 closed

[2020-07-01 14:35] zabugin-oleg opened #455 "Dies on 404 when traversing path"
Hey!

I used to use critical 1.x before without problem. Not I'm trying to use critical 2 and I'm facing a problem I don't really know how to solve.

The problem is:
I use URL as "src". URL is http://localhost/foo/bar. The problem is that critical tries to access **http://localhost/foo** too, but there is no such page and the response is 404. After this critical dies with this error:

[15:24:29] U

[2020-07-02 23:08] bezoerb commented on #455
Hey @zabugin-oleg
It looks like critical is  trying to fetch some resources in http://localhost/foo. Are there any stylesheets or images referenced to this url in the html?

Can you  set the `DEBUG` environment variable to `critical:*`, try again and post the output?
Maybe you could also pass the path to your css to critical so it doesn't need to resolve the files?

BTW: How is it possible that /f

[2020-07-02 23:12] bezoerb commented on #369
No, sorry. In that case you will have to set inline `false` and do the inlining yourself.

[2020-07-02 23:12] #369 closed

[2020-07-02 23:12] bezoerb commented on #449
@morenoh149: any updates on this one?

[2020-07-02 23:15] bezoerb commented on #440
The 2.x version is now marked as stable.

Closing this as the issue should be fixed by now.
Feel free to reopen if you  still got problems using critical

[2020-07-02 23:15] #440 closed

[2020-07-02 23:15] bezoerb commented on #401
Closing this due to inactivity.
Feel free to reopen if you  still got problems using critical

[2020-07-02 23:15] #401 closed

[2020-07-03 04:11] morenoh149 commented on #449
Still wouldnt work

[code]
can you try? curl is defacto standard for api development.

[2020-07-03 04:16] morenoh149 commented on #449
If I run `npm i -g critical@next` I get a different error

[code]
critical needs to run within some project? I thought it could analyze arbitrary webpages simply from the url.

[2020-07-03 21:34] bezoerb commented on #449
it should just work ;)
Can you provide any of the source files to reproduce the error? (`<head>` section with the `<link rel="stylesheet">` tags and the folder structure? Maybe i can create a testcase with this information to better understand the cause of this error

[2020-07-06 17:32] morenoh149 commented on #449
this seems to work `$ curl  https://github.com | critical > out.css` so I guess my issue is the particular site I'm working on locally. Thanks.

[2020-07-06 17:32] #449 closed

[2020-07-07 01:46] igloohome-web opened #456 "@import being removed entirely"
Hi there, I use `@import` for importing Adobe fonts to my site, however it appears that critical is removing my import statements in both the critical and uncritical CSS. Is there a way to keep it in?

Here's my gulp code:
[code]

[2020-07-09 14:20] vovayatsyuk opened #457 "Add dimensions support to cli.js"
What do you think about it?

[code]

[2020-07-13 09:23] halafi commented on #245
still missing from README, would reopen

[2020-07-13 09:29] bezoerb commented on #245
@halafi: this option was removed in [v2.0.0](https://github.com/addyosmani/critical/releases/tag/v2.0.0)

Do you have any issues leading to this?

[2020-07-13 13:35] halafi commented on #245
issue is I am using v1 lol, thanks

[2020-08-11 18:34] nachitox commented on #457
Did you try `--dimensions 1300x900 400x700` ?

To me, `--css CSS1 CSS2 ... CSSN` works fine, so I would think dimensions should work too

[2020-08-12 10:44] QuentinCurtet opened #460 "RequestError: unable to verify the first certificate"
Hello,

I'm using my own certificate authority.
Using critical@1.3.10 on Debian9, all worked correctly.
But using critical@2.0.1, i got the following error :
`RequestError: unable to verify the first certificate
    at ClientRequest.<anonymous> (./node_modules/critical/node_modules/got/dist/source/core/index.js:891:25)
    at Object.onceWrapper (events.js:422:26)
    at ClientRequest.emit (events.

[2020-08-12 20:00] bezoerb commented on #460
Hey @QuentinCurtet, I think you can your the request option to configure got.

[2020-08-13 07:19] QuentinCurtet commented on #460
@bezoerb I'm not sure to understand your answer
You suggest me to install got and make the request myself ?

[2020-08-13 14:20] bezoerb commented on #460
ah, no... there's an undocumented option.
[code]

[2020-08-17 11:20] vovayatsyuk commented on #457
Thanks, but it doesn't work:

[code]

Looks like `css` is working fine because of this commit: https://github.com/addyosmani/critical/commit/ccaeae1d698d21d9e220d464a9c88001d0caa491

[code]

[2020-08-18 07:48] QuentinCurtet commented on #460
@bezoerb Can you majke a pull request to document it please ?
It works perfectly for me by the way thank you :)

[2020-08-18 23:03] #460 closed

[2020-08-18 23:43] bezoerb commented on #457
@vovayatsyuk: you. can now write `--dimensions 1300x900,400x700` as well as  `--dimensions 1300x900 --dimensions 400x700`

See https://github.com/addyosmani/critical/releases/tag/v2.0.3

[2020-08-19 06:26] vovayatsyuk commented on #457
Thank you!

[2020-08-19 06:53] #457 closed

[2020-08-28 09:29] admicro opened #462 "creating critical-css incorrectly? How to open chrome browser while creating critical-css to debug"
I want this software to open chrome browser while creating critical-css, what should I do?
This tool has a built-in penthouse, but I don't know how to use it. Can you give me some snippets to learn from it.

Purpose: before creating critical-css I want the browser to wait a few seconds, mouse click or scroll down a little (understand that there is interaction with the page).

I think action like t

[2020-09-01 08:42] SultanICQ opened #463 "Inlined <style> tags are not processed"
Hi,

Is there a way to take into account all the inlined CSS?

For example, if the html web page only contains <style> tags and zero <link rel='stylesheets'> the extracted Critical CSS is empty.

Regards,

[2020-09-06 21:33] bezoerb commented on #463
Hey @SultanICQ,
this is not possible right now. What do you want to achieve with the critical css when all the styles are already inlined?

[2020-09-06 21:40] bezoerb commented on #462
Hey @admicro,
the purpose of critical css is to let the browser render the initial viewport before the site is fully loaded. When you scroll or interact with the page the browser should have already loaded the non critical styles.

What styles are you missing or which styles are not generated correctly?

[2020-09-08 09:26] admicro commented on #462
thank you! i fixed it.

[2020-09-08 17:33] bezoerb commented on #462
Could you describe how you fixed it? Maybe this helps other users facing the same issue. Thanks

[2020-09-14 19:41] PeterKottas commented on #463
Imho, this is highly desirable. Lot of css in js or icon libraries put all sorts of styles in the head of the document while prerendering. It's reasonable to clean that up as part of build and only include the real critical css.

[2020-09-14 20:15] PeterKottas commented on #463
Just as an example, leaving all inline styles for my index.html amounts to 133kb (total HTML size) while removing all inline styles and generating new critical (as combination of this libs output and handpicking the inline styles that are important), the HTML size goes down to 95kb. Also my critical styles are removed by code when the rendering is picked up by the framework and this way it's guara

[2020-09-14 20:16] bezoerb commented on #463
So you mean moving all inline styles to a separate file & only include the critical styles in the head. This could definitely safe some startup time.

[2020-09-14 20:17] bezoerb commented on #463
Do you want to draft a PR for this?

[2020-09-14 20:31] PeterKottas commented on #463
What I mean (and I think what this issue is about unless I am mistaken) is simply taking inline styles into consideration when generating critical css.

In other words, if you have
[code]
where blue.css contains
[code]
and you put it through the critical, the output css won't contain the "red stuff", only the "blue stuff" will be included.

Since I am only getting css as output and inlining it mys

[2020-09-16 22:51] khalwat commented on #414
This happens if the `src` URL that you pass in isn't valid or returns no response.

I think this is something that critical should be handling more gracefully, though. I'd love to see the aforementioned PR merged in.

[2020-09-16 23:04] khalwat commented on #414
Ah, looks like this might be addressed in Critical 2.0.x -- I will test and report back

[2020-10-01 12:18] miguelventura opened #464 "Gulp 4 don't compile all critical styles"
Hi guys,

I'm using Gulp 4 in my project and I included Critical to preform that, but it only inline a few styles and some of them are not used above the fold.

This is my gulp critical task

[code]

I'm using Boostrap, Normalize and a number of styles above the fold and nothing is inlined:´

[code]

What am I doing wrong?
Thanks ;)

[2020-10-02 14:04] chrisguttandin opened #465 "update csp tags and/or integrity attributes"
Hi there, thanks for providing this package. I'm using it to inline the CSS of a prerendered Angular application. The app has a CSP tag and also sets the integrity attribute for all stylesheets. After running critical I have to manually adjust those since they are of course affected by the newly created stylesheet and by the preload tags.

Do you think it makes sense to handle this as part of crit

[2020-10-07 03:16] daecepi opened #468 "Dest displaying as not allowed and base option of critical not being recognized"
Hello
I have a recent error while implementing critical in a lando instance.
- Critical: 2.0.4
- Node: 10.22.0
- Lando: v3.0.9
- Gulp: CLI version: 2.3.0 Local version: 4.0.2

Specific error:
[code]

Also the error was present after following this give, the code implemented is the one there:

https://nystudio107.com/blog/implementing-critical-css
https://nystudio107.com/blog/a-better-package-json-

[2020-10-11 22:20] bezoerb commented on #468
@daecepi: The error message points out that there are some required dependencies missing on your system.

Read more  Puppeteer's [troubleshooting section](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#chrome-headless-doesnt-launch-on-unix).

[2020-10-11 22:20] #468 closed

[2020-10-11 22:24] bezoerb commented on #464
@miguelventura: Can you make sure everything is included in the `style.css` file the time critical runs?

Considering the line `return src('./resources/.tmp/*.{php,html}')` you also need to be aware, that critical can't process php files

[2020-10-12 21:09] miguelventura commented on #464
@bezoerb yes, everything is included in the `style.css`.
What you mean with critical can't process php files? Only works well with html file?

[2020-10-12 22:04] bezoerb commented on #464
Yes. The critical CSS is generated by opening the page in a headless chrome instance and for the inlining we also expect valid html. If you need to compute the critical css for PHP files you need to have a local server, e.g. `php -S localhost:8000` and then call critical with the desired urls. In that case i would also suggest to skip the inline process and do this yourself in php.

[2020-10-19 22:14] davidhellmann commented on #381
Any news here @bezoerb have the same problem since update to 2.x

[2020-10-21 20:41] magbicaleman commented on #464
@bezoerb is there a way to do this through `gulp`, not sure what to add to the `src(...)` value in the example that in the README

[2020-10-27 11:33] miguelventura commented on #464
Hi @magbicaleman, it doesn't work for me :(
I really need to find a solution to work with php file, because we need to use that for form validation.

[2020-10-28 18:27] fhuitelec opened #469 "Unwanted request.options mutation leads to a remote CSS fetch empty"
Hi! :wave:

## Description

When specifying the `request` option in the main `critical.generate()` call<sup>1</sup>, the `file.js::fileExists()` function mutates the option `request.method` (its value becomes `head`) if the `request.method` has not been set:

https://github.com/addyosmani/critical/blob/0680cffaf073ff2b09c2888060531cf3388e1ef6/src/file.js#L148

This mutation is unharmful when the C

[2020-10-30 06:01] virgofx opened #471 "Update Current Dependencies"
The latest install has the following warnings. It would be nice if dependencies could be updated/fixed appropriately.

[code]

[2020-10-30 22:37] #469 closed

[2020-10-30 23:26] bezoerb commented on #471
I've updated `joi` but i think you will need to create an issue in the jsdom repo if you want this dependencies to be updated :)

[2020-10-30 23:26] #471 closed

[2020-10-30 23:32] bezoerb commented on #464
@miguelventura: If you don't have a local server running you could try transforming your php files to html and then use critical with these generated html files:

You can do either `php -f filename.php` or you could try leveraging [`php2html`](https://github.com/bezoerb/php2html) (there's also a gulp plugin available)

[2020-10-31 04:47] virgofx commented on #471
Thanks @bezoerb

[2020-11-05 17:16] LexKoomen opened #473 "Example for cli command"
Hi guys,

Is it possible you add some cli commands on how to pass all the different kinds of options?
I'm trying to figure out how to use the penthouse and request option

penthouse is probably working like:
``` --penthouse-renderWaitTime=3000 --penthouse-blockJSRequest=false```

But how is request working? I want to skip ssl verification. Because of local development:
``` Error: unable to verify

[2020-11-15 22:52] bezoerb commented on #473
Hey @LexKoomen,
thanks for using critical. Which version do you have installed? I just tested the use case you described with `v2.0.6` and it seems the rejectUnauthorized option is set correctly

[code]

[2020-11-16 07:58] LexKoomen commented on #473
Hee @bazoerb,

Thanks for replying 👍
I just tried it again but I still receive the error for my local domain.

How to scan self signed ssl sites?

[code]

```Error: Expected value which is `predicate returns truthy for any value`, received value of type `Array`.```

[2020-11-16 08:06] LexKoomen commented on #473
Is it maybe because the ```request: { https: { rejectUnauthorized: 'false' } },``` parameter is with quotes?

[2020-11-16 22:09] bezoerb commented on #473
That's it, good catch :) I totally missed that 🤦🏼‍♂️
Try
[code]

[2020-11-17 08:00] qianguyihao opened #474 "I read your article today，very fruitful，I have a question"
Hello, big  boss,  I read your article today, I feel very good, very fruitful：

Faster Web App Delivery with PRPL：https://addyosmani.com/blog/the-prpl-pattern/

By the way, what tool do you use for image annotation in this article? It’s so beautiful. I look forward to hearing from you.Thank you.

![image](https://user-images.githubusercontent.com/8827896/99362046-eccab580-28ed-11eb-9d89-fbcf2c65fa

[2020-11-29 23:58] pattonwebz opened #475 "How to debug what critical sees?"
Hi there,

First of all thank you for this package - it is very easy to use and I was able to get it running against local files and also live urls quite quickly. I am having some issues though and I don't know how to debug the cause.

Basically CSS that I don't expect in the critical path is being extracted to the `critical.css file`. Elements from the page which are thousands of px below the fol

[2020-12-01 01:08] ChrissiQ commented on #381
I'm having this issue, would appreciate the fix!

[2020-12-01 09:56] chrisguttandin commented on #465
Hi @bezoerb, do you want me start with a PR for this feature?

[2020-12-02 22:50] bezoerb commented on #465
Hey @chrisguttandin, thanks for bringing this up again.

I think this needs to be fixed in [`inline-critical`](https://github.com/bezoerb/inline-critical) as `critical` does't do any dom manipulations itself. If you want to start a PR i would be happy to get this landed :)

[2020-12-22 05:06] krish4u opened #478 "critical CSS not generated while using with "defer" CSS"
Hi,

I am generating critical CSS for a series of URL. After I the implementation of defer CSS the critical css generation stopped.

My project has "defer" css like below
`<link rel="stylesheet" href="/path/to/my.css" media="print" onload="this.media='all'">`

Also there was no issues logged.  I assume this behavior is due to the media attribute "print" which has low priority and makes the critica

[2020-12-27 23:28] bezoerb commented on #478
critical statically analyzes the html and uses the relevant css files found. You can specify the css via config though:
[code]

[2020-12-29 15:13] vandelpavel opened #479 "Is it possible to use it in SSR?"
I'm developing a SSR web site and i want to just inline the above the fold CSS.
I successfully installed this package with `yarn add -D critical`, included in my webpack config and tryied to add the configuration.
I'm still having problem making it work properly.

[2021-01-18 02:35] paulshryock opened #480 "CSP header doesn't like hashed onload attribute"
When I use Critical, I end up with this HTML `link` element after the inlined styles:

[code]

And this when it's minified in production:

[code]

I'm using a Content Security Policy header with `script-src 'self';`, and of course the `onload` inline script throws a browser console error.

So I've tried hashing `this.media="all"` (with double quotes) and adding `'sha256-kx8Md/dUVxiWxH0xNDfI+0jY+S4

[2021-02-02 12:01] akshayakbm commented on #111
@bezoerb use rebase property , this will solve the image path. https://www.npmjs.com/package/critical

[2021-02-05 15:31] khalwat commented on #414
I never reported back. It does address the issue

[2021-02-12 15:19] LexKoomen commented on #473
Totally forgot to respond, that was it! I'll close the issue

[2021-02-12 15:19] #473 closed

[2021-02-12 15:25] LexKoomen opened #481 "Use puppeteer without libX11-xcb.so.1 possible?"
Hee I use the CLI command to get the critical css for a page. However we now run into an the following issue:

Error: Failed to launch the browser process!
```/node_modules/puppeteer/.local-chromium/linux-722234/chrome-linux/chrome: error while loading shared libraries: libX11-xcb.so.1: cannot open shared object file: No such file or directory```

I found enough references to fix these issues by i

[2021-02-21 19:55] Macleykun opened #482 "How to use the CLI?"
So i've been trying for a couple of days, but i only get the whole css file into my index.html or nothing changes.
My goals is to make smth as follows:

For each html file in . (current directory)
lookup in all css files here and lower (current and lower directory's, check all .css files)
and generate inline css in each html file. So that each html file is updated with critical css

Hope to hear f

[2021-02-27 09:43] Macleykun commented on #482
@bezoerb may i ask this question to you?
I just noticed a new version was pushed, but i was wondering if you could help me with this.

I then would love to push documentation and an example how to use criticalcss in github workflow!

[2021-02-27 19:28] #482 closed

[2021-02-27 19:32] Macleykun opened #484 "Not able to use the CLI version"
Hello, I wanted to try to in-line critical css into my index.html but it either copied the whole html or css file.

I tried this (and others) but believe this is as close as I could get

cat index.html | critical --base assets/css --inline > index.critical.html

We use this repo to host the web files
https://github.com/TheVoxSiren/voxsiren.net

I hope to automate this process with GitHub workflow

[2021-02-27 22:21] bezoerb commented on #414
Thanks @khalwat :)
Looks like i can close this one

[2021-02-27 22:21] #414 closed

[2021-02-27 22:57] bezoerb commented on #484
Hey @Macleykun
`--base` should always point to the root directory. In your case this would be `.`
when running with debug output turned on `DEBUG=critical:* critical index.html --base . --inline` you can see that no stylesheets are discovered in your html.
We are using [`oust`](https://github.com/addyosmani/oust) to get the stylesheets from the html ([preload](https://github.com/addyosmani/oust/bl

[2021-02-27 23:04] bezoerb commented on #465
Fixed in [`inline-critical v6.0.2`](https://github.com/bezoerb/inline-critical/releases/tag/v6.0.2)

[2021-02-27 23:04] #465 closed

[2021-02-27 23:06] bezoerb commented on #475
You can enable critical debug messages by setting the `DEBUG` env variable to `critical:*`

[2021-03-01 08:28] creatifyteam commented on #374
why not we pass that css file? I mean why we do an exception error and stop the process? we can handle the error and show it and continue the process

[2021-03-01 13:14] Macleykun commented on #484
Sorry for the late reply firstly
I see, perhaps the way i preload css has gotten me confused!

I'll definitely try: `critical index.html --base . --inline --css assets/css/*.css` and see what that does for me, if it contains both the default html and the critical css internal, i got what i need and simply have to change the content of sources html file.

I now realise that inline means in the actu

[2021-03-01 23:06] bezoerb commented on #480
Hey @paulshryock,
In CSP-2 script hashes only apply to elements, not event handlers.
CSP-3 introduces the 'unsafe-hashed-attributes' but i don't know how well it's supported.
https://w3c.github.io/webappsec-csp/#unsafe-hashes-usage

[2021-03-01 23:14] bezoerb commented on #484
Your preload method is an interesting approach :)
By using `media="print"` and switching on load the browser will load the stylesheet without delaying page rendering.
See: https://www.filamentgroup.com/lab/load-css-simpler/
I think this doesn't apply to the `rel="stylesheet preload"` method but i also don't know how big the impact is on page performance.

I am already looking forward to your insig

[2021-03-01 23:16] paulshryock commented on #480
Yeah, I came to the same conclusion. Thanks for following up. It's kind of a bummer to not be able to use this along with a secure CSP. 🤷

[2021-03-01 23:16] bezoerb commented on #480
Seems like a dead end for now

[2021-03-01 23:18] bezoerb commented on #480
Maybe we could add something like this to [`inline-critical`](https://github.com/bezoerb/inline-critical):
https://github.com/filamentgroup/loadCSS/issues/312

[2021-03-02 00:24] paulshryock commented on #480
Yeah, I've been using something similar, except I hash the JS instead of using a nonce. I post-process the HTML to move `onload` to `data-onload`. It works sometimes in some browsers, but seems to add more headache than it's worth, without a smooth experience across browsers and environments. After a while I think "wait why am I not just loading the CSS the normal way instead of jumping through al

[2021-03-02 09:54] Macleykun commented on #484
Just to get back on the meda=print approach (will follow up with the original question later)
I haven't tested if both ways would work, however given this documentation: https://www.w3.org/TR/html401/struct/links.html#adef-rel
From: https://stackoverflow.com/questions/1878657/multiple-values-for-rel-attribute

does say it's valid and *should* work. Even for IE7 and later apparantly.

It's up to yo

[2021-03-02 11:40] naveedpeerzade opened #485 "inlineImages doesn't work with remote src"
inlineImages when set to true, and if src is a remote url, the generated CSS doesn't have base64 image.
However if src is local index.html it does.

Any idea, how to get base64 images for remote url as well?

[2021-03-02 21:45] Macleykun commented on #484
So i tried the command, had to install some lib's to get chrome puppet working that critical uses, however the program seems to hang, i remove the preload tag from the stylesheets but this sadly didn't make any difference.

Install these packages as they were needed aswell:
`sudo apt install ibgtk-3-0 libpangocairo-1.0-0 libatk-bridge2.0-0 libatk1.0 libxss1 libcups libcups2 npm -y`

Logs: https://

[2021-03-02 21:53] Macleykun commented on #480
@paulshryock may i suggest using this approach:
`rel="stylesheet preload"`?

This should be valid html, that is not violating CSP that hopefully, isn't blocking css.

https://www.sitepoint.com/critical-rendering-path-css-fast-loading-website/

I sadly lack the experience to properly test this, but alas maybe you can have a go with it :).

[2021-03-03 13:41] paulshryock commented on #480
Yeah, I may end up going with something like this instead of the way `critical` loads stylesheets after the DOM `load` event. It's a shame, because I think the inline JS is a great solution (if it worked with CSP).

[2021-03-03 14:31] Macleykun commented on #480
True, but if rel="stylesheet preload" is equally good in fuctionality as the DOM load event. Then it's feasible to add a --preload flag or --onload flag to criticalcss. So that users can pick what suites their needs

Curious what @bezoerb thinks about this proposal.

[2021-03-07 13:10] Macleykun commented on #484
[voxsiren.net-main (6).zip](https://github.com/addyosmani/critical/files/6097160/voxsiren.net-main.6.zip)

[2021-03-07 21:32] Macleykun commented on #484
So normally i try a new program in a linux vm to test it in a normal enviroment. But i tried your suggestion in Github Workflow and after fixing the permission issue (this is smth every node project has with npm i've noticed) it actually worked...

I assume the beta OS i used just caused these issues etc. I didn't even need to add any packages to get it to work!

https://github.com/Macleykun/criti

[2021-03-08 21:44] Macleykun commented on #484
So i'm getting really far with this automation. I got it working well like [here](https://github.com/Macleykun/voxsiren.net/commit/04372987902f3a038725d0d7bed5a626b9c47fc9)
but i was curious what would happen if the html was changed/css would be [changed.](https://github.com/Macleykun/voxsiren.net/commit/3cb9465edf92d80ddf4f9f01ae3bfdd55953e6a2)

Now the test i performed is a bit unrealistic, as w

[2021-03-09 12:34] Macleykun commented on #484
So i did a bit more proper testing, and the results were actually the same. But i do understand now how it works:
https://github.com/Macleykun/voxsiren.net/commit/e158bd391ee6762f66611c2d2c8e97476459ed16

So whenever html is added it indeed adds more internal css what is great, but as a different style tag.
Futhermore when this extra html is later removed, it's still left in there:
https://github.

[2021-03-09 21:24] Macleykun commented on #484
Sorry for the massive spam, but i have amazing news. The workflow is complete and it works amazingly!
Look [here ](https://github.com/Macleykun/voxsiren.net/commit/5ce831a82a1fcfedcd2c1348701cc27a970c02d1)for how [the workflow](https://github.com/Macleykun/voxsiren.net/runs/2070592770?check_suite_focus=true) actually changed the inline CSS!

To show that it only targets the internal one line css l

[2021-03-09 21:24] #484 closed

[2021-03-10 21:34] michaelterryio opened #486 "CLI error for URL source"
Based on the thread from #449, I suppose arbitrary URLs should work, but:

[code]

[2021-03-11 06:39] #486 closed

[2021-03-11 06:40] michaelterryio commented on #486
The url is slightly sensitive so I couldn't leave it up for long. Let me know if you want me to send it through a side channel.

[2021-03-13 22:25] bezoerb commented on #486
What is the outcome when you use critical directly:
[code]

[2021-03-13 22:26] bezoerb commented on #485
Can you provide some more context?

[2021-03-25 18:21] #480 closed

[2021-03-25 18:23] paulshryock commented on #480
The problem with using the method linked above is that it's basically the same implementation: using `onload` to change the `<link>` element and trigger an async stylesheet download. That would still fail a CSP with `script-src 'self';`.

[code]

[2021-03-25 18:44] Macleykun commented on #480
Well i'm using script-src self as shown here (i'm using a cf worker)
https://securityheaders.com/?q=https%3A%2F%2Fvoxsiren.net&followRedirects=on
and here is the style
https://github.com/TheVoxSiren/voxsiren.net/blob/main/index.html#L19
you can visit voxsiren.net and see that no csp is violated.

[2021-03-25 19:25] paulshryock commented on #480
Ah, so skipping the `onload` handler. Yeah, that makes sense.

[2021-03-26 21:12] gherkz commented on #478
This is affecting me. I use critical to generate critical CSS for remote web pages via the CLI. Many web sites follow these standards (as per https://www.filamentgroup.com/lab/load-css-simpler/) for inlining critical CSS. This means that critical doesn't pick up the CSS file.

One solution would be to check the onload attribute here: https://github.com/addyosmani/critical/blob/6b3e957ee2081dccb711

[2021-03-27 10:08] Macleykun commented on #111
For anyone who wants to loop trough all the html files and update the critical internal css.
Use this: https://github.com/TheVoxSiren/voxsiren.net/blob/main/.github/workflows/optimizecss.yml#L32

it’ll loop trough all the html files and it uses a clever sed command to remove the online internal css, so that critical can add a up to date one (no duplicates)

[2021-03-30 00:17] gherkz opened #488 "Allow postcss configuration options"
Rebasing of asset URLs is pretty important for the critical CSS, which is achieved with the `postcss-url` postcss plugin. If would be helpful to be able to configure postcss to allow, for example, an alternative parser such as `postcss-safe-parser`.

This is currently impossible, which makes generating critical CSS for pages with syntax errors very difficult. I supposed this behaviour might be des

[2021-03-30 09:44] jaylinski commented on #480
I'm confused, does this really make CSS non-render-blocking?
[code]
I read the spec, but it doesn't mention combining `preload` with other link-types: https://www.w3.org/TR/preload/
So I assume the browser falls back to `stylesheet` and the stylesheet is still render-blocking. Or is there some browser magic happening? Lighthouse reports the styles as non-render-blocking, but maybe it gets confused

[2021-03-30 10:00] Macleykun commented on #480
It should given the REL spec: https://stackoverflow.com/questions/19185431/can-you-have-two-values-in-a-single-rel-attribute

Also, you can test our site: https://voxsiren.net/ to see if there's any difference. I think you can test it by loading a big CSS file and try loading two css files with both preload and one withoud. You can then compare how they are loaded and see if preloading this way wo

[2021-03-30 10:57] jaylinski commented on #480
@Macleykun I checked this with your site and the Chrome DevTools performance-tab. If I interpret the results correctly, your styles are render-blocking, because they are parsed before the first layout/paint occurs:

![Bildschirmfoto 2021-03-30 um 12 54 30](https://user-images.githubusercontent.com/1668766/112978020-12e34a80-9157-11eb-8917-18901ae278cb.png)

But I could be totally wrong...

[2021-03-30 11:00] Macleykun commented on #480
https://github.com/TheVoxSiren/voxsiren.net/commit/1feab78b245c2c34606d5ff1e7c94e81cb83f31d
Remove them now, you can test again if your result indeed shows that two values in rel, with preload doesn't work (or maybe i need to try preload and then stylesheet in rel).

[2021-03-30 11:23] jaylinski commented on #480
@Macleykun Now the styles are loaded non-render-blocking, but they are never applied to the DOM. You have to do this manually via JavaScript (https://www.w3.org/TR/preload/#example-1-using-markup). Only your critical (inlined) CSS is applied to the DOM now.

![Bildschirmfoto 2021-03-30 um 13 20 48](https://user-images.githubusercontent.com/1668766/112980885-c00b9200-915a-11eb-876e-2d06889497c5.png

[2021-03-30 11:25] Macleykun commented on #480
ah i see, so there isn't a easy way to preload withoud causing csp to act up?

[2021-03-30 11:30] jaylinski commented on #480
It seems there isn't 😕 (https://discourse.wicg.io/t/deferred-stylesheets-take-3/4721)

[2021-03-30 11:38] Macleykun commented on #480
then there's no other way then to allow unsafe-inline for styles i'm afraid
thank you jaylinski for your insight into the chrome dev tools! gonna remove preload from stylesheets and just defer them

[2021-03-30 11:45] paulshryock commented on #480
Yes, this is what I was getting at.

[2021-04-06 10:22] alexflorisca opened #489 "Handle base64 css"
I found myself using critical css on a website that has base64 encoded css (don't ask why). It would be great to handle these edge cases, either by ignoring the css or parsing it. At the moment, the app throws a "File not found" error.

`<link rel="stylesheet" type="text/css" href="data:text/css;base64,Ym9keSBpbnB1dCxib2R5IHRleHRhcmVhLGJvZHkgYnV0dG9uLGJvZHkgc2VsZWN0IHtmb250LWZhbWlseTogaW5oZXJpdDt9

[2021-04-14 13:52] NizarBlond opened #491 "Bad configuration or bug?"
I want to extract critical CSS for a website with this simple script

`
  const fs = require('fs')
  const path = require('path');
  const critical = require('critical');
  const outputDir = path.resolve(__dirname, './output');
  const inputUrl = 'https://ashkarwinery-sandbox.mha9ui.ap-southeast-2.wpstaqhosting-sandbox.com';

  const options = {
    base: './output',
    target: './critical.css',

[2021-04-15 05:30] bezoerb commented on #491
Hey @NizarBlond,
thanks for the issue :)

There was a bug fixed in (v3.0.1)[https://github.com/addyosmani/critical/releases/tag/v3.0.1]
Now the critical css should be half the size.
I'll try to look into this later to see if i can find more *bugs*.

[2021-04-21 14:18] Hibrix-net commented on #381
Any news?

[2021-04-21 20:45] bezoerb commented on #381
This should be fixed in [v3.0.1](https://github.com/addyosmani/critical/releases/tag/v3.0.1)

[2021-05-12 10:38] mykola-shkut opened #494 "vulnerabilities with dependencies"
![image](https://user-images.githubusercontent.com/50704732/117961847-41903b80-b327-11eb-8f4d-6d167200027b.png)
last version has 4 vulnerabilities
could you change the dependencies?

[2021-05-17 17:12] nathanworking opened #495 "Critical CSS breaking with Video JS Player"
Anyone had issues specifically with the Video JS player? (https://videojs.com/)

For some reason, I can't get my critical CSS to generate correctly with Video JS. Everytime I do a build it processes and gives my inline CSS but the actual styles in the video player are messed up - there's a lot of hidden elements that never show.

I didn't have this problem with Plyr (https://plyr.io/) and nothing

[2021-05-27 21:03] bezoerb commented on #463
Thanks for clarifying @PeterKottas.
Added support for inline styles myself ;)

[2021-05-27 21:59] #463 closed

[2021-05-29 10:52] the-prodigy opened #499 "Error: PostCSS plugin postcss-discard requires PostCSS 8."
Error: PostCSS plugin postcss-discard requires PostCSS 8.
Migration guide for end-users:
https://github.com/postcss/postcss/wiki/PostCSS-8-for-end-users

My code:

critical.generate({
            inline: true,
            base: websitePath,
            src: 'index.html',
            target: 'index-critical.html'
          });

what did I wrong ?

@bezoerb @addyosmani

[2021-05-29 21:53] bezoerb commented on #499
Hey @the-prodigy,
i accidentally released a breaking change as patch version on postcss-discard yesterday.
I've deprecated the version and released a new patch version without the breaking change.
I guess you're still using critical v2.x as v3 already requires postcss 8.

When you npm install again everything should be working now.
Sorry for the inconvenience and thanks for reporting the issue :)

[2021-05-30 08:30] the-prodigy commented on #499
@bezoerb Alright I will try it!

Btw, can I make like

src: *.html

So I can find all html files?

[2021-05-30 08:33] the-prodigy commented on #499
@bezoerb

postcss-discard: postcss.plugin was deprecated. Migration guide:
https://evilmartians.com/chronicles/postcss-8-plugin-migration

... -.-

My command to install:

npm i critical --save

[2021-05-30 09:57] the-prodigy commented on #499
@bezoerb Now I receive a other error when I add inlineImages and maxImageFileSize attribute:

TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received an instance of Buffer
    at validateString (internal/validators.js:124:11)
    at Object.dirname (path.js:583:5)
    at C:\Projects\flashsites\flowhub\flowhub\node_modules\critical\src\core.js:154:73
    at Array.reduc

[2021-05-30 10:08] the-prodigy commented on #499
Also, the inlining part works now, but it doesnt really inline the css file, rather it makes the css from

<link href="....min.css" rel="stylesheet" type="text/css">

to

media="print" onload="this.media='all'"

Which is not inlining. Inlining is when you put the css file in the html file which speeds up heavy the website

[2021-05-30 12:17] bezoerb commented on #499
I'm currently rewriting inline-critical to allow more inclining variants. When I'm done with this I'll bump the Version in critical and the deprecation warning should go away. Can you send a link to the sources so I can check the inclining issue?

[2021-05-30 12:18] bezoerb commented on #499
media="print" onload="this.media='all'" is just to asynchronous load the complete css. The critical styles should be inclined in a style tag

[2021-05-30 16:03] the-prodigy commented on #499
Unfortunately, I need that the whole CSS file gets inlined not only the critical part. That would speed up crazy the Website for everyone.

[2021-06-02 21:15] bezoerb commented on #499
@the-prodigy: The point with critical css is that just the css required for the initial viewport gets inlined while the rest of the css is loaded non-blocking. Considering performance, this should be even better unless the whole css is small enough.

When you want to inline the whole css you m

[2021-06-02 21:15] #499 closed

[2021-06-03 04:15] nathanworking commented on #495
Just an update on my own testing:

I confirmed that with everything being exactly the same and changing out Video.js for Plyr (https://plyr.io/) everything works an expected.

[2021-06-05 22:35] bezoerb commented on #381
Closing this for now.
Feel free to re-open if the error still exists.

[2021-06-05 22:35] #381 closed

[2021-06-05 22:38] bezoerb commented on #489
Base64 support landed in [v3.1.0](https://github.com/addyosmani/critical/releases/tag/v3.1.0)
Sorry @alexflorisca, must have missed this issue while looking at your [PR](#496)  :)

[2021-06-05 22:39] #489 closed

[2021-06-05 23:54] ianjmacintosh commented on #480
@paulshryock fwiw, I'm not sure how you got the SHA256 hash you did, but I am successfully using:

[code]

I generated the hash following [these instructions](https://content-security-policy.com/hash/):

[code]

[2021-06-06 21:25] bezoerb commented on #494
Fixed in [v4.0.0](https://github.com/addyosmani/critical/releases/tag/v4.0.0)

[2021-06-06 21:26] #494 closed

[2021-06-06 21:27] bezoerb commented on #478
This has lended in [v4.0.0](https://github.com/addyosmani/critical/releases/tag/v4.0.0)

[2021-06-06 21:28] #478 closed

[2021-06-06 21:35] bezoerb commented on #481
Hey @LexKoomen,
i'm sorry but i think it's not possible to run puppeteer without the required system dependencies

[2021-06-06 21:35] #481 closed

[2021-06-06 21:41] bezoerb commented on #474
Hey @qianguyihao,
thanks for the kind words. I'm closing this issue because it's unrelated to critical.

[2021-06-06 21:41] #474 closed

[2021-06-06 21:43] bezoerb commented on #464
Closing this due to inactivity.
Feel free to re-open if there's anything new to add here

[2021-06-06 21:43] #464 closed

[2021-06-06 21:46] bezoerb commented on #350
I removed the minify option and the dependency to prettier.
I don't think it's necessary to have unminified critical css.
@XhmikosR: Do you agree to close this one?

[2021-06-06 22:04] bezoerb commented on #480
I've added a `strategy` [option]((https://github.com/bezoerb/inline-critical#inlinehtml-styles-options)) to inline-critical.
Critical defaults to `strategy: media` but you could use the default strategy to load the stylesheets without JS.

[code]

[code]

[2021-06-06 22:07] bezoerb commented on #455
closing this due to lack of feedback.
Feel free to re-open if there are any new insights to add here

[2021-06-06 22:07] #455 closed

[2021-06-09 12:13] paulshryock commented on #480
@bezoerb, nice, thanks for adding that flexibility. 😃

[2021-06-09 12:32] paulshryock commented on #480
@ianjmacintosh, yeah that's one of the hashes I tried. `unsafe-hashes` is part of CSP Level 3 and only supported in Chrome 69+ or Chromium Based Edge 79+. And it's, by definition, unsafe. It seems async stylesheet loading is just not compatible with a secure CSP.

[2021-06-10 06:09] mykola-shkut commented on #494
now I see vulnerabilities with **css-what** and **normalize-url**
@bezoerb could you fix it?

[2021-06-10 15:39] mykola-shkut opened #503 "vulnerabilities with "css-what" module"
after updating to v4.0.0 I have vulnerabilities with **css-what**
![image](https://user-images.githubusercontent.com/50704732/121473759-ce342500-c9cb-11eb-8a3a-bfe56bbfe389.png)
@bezoerb could you fix it?

_Originally posted by @mykola-shkut in https://github.com/addyosmani/critical/issues/494#issuecomment-858336569_

[2021-06-10 19:13] bezoerb commented on #503
Hehe seems like there are new vulnerabilities popping out of nowhere every day. I'll take a look

[2021-06-13 06:47] XhmikosR commented on #350
Sure :)

[2021-06-13 06:47] #350 closed

[2021-06-14 16:42] PeterKottas commented on #463
Lovely @bezoerb . I missed this intially but nicely done. Thanks for putting in the work!

[2021-06-15 09:11] nfvind opened #504 "inline style with @ doesn't work in razor templates"
Im having trouble with @font-face in my inline styles, as the @ is used in razor syntax as a variable. The solution to this problem is to escape it with double @ "@@font-face". My issue or problem is, I need to be able to replace @ with double @@ for this to work.

Is there already a solution for this in the current build or is this something I can create?

friendly regards
Nicklas

[2021-06-16 11:20] priyatham19 opened #505 "UnhandledPromiseRejectionWarning: TypeError: parse is not a function"
We have been using critical package to generate critical css for our Next JS application. Now we are getting the following error.

UnhandledPromiseRejectionWarning: TypeError: parse is not a function
    at compileUnsafe (D:\MTW\PG\Asia\India\CoreWebVitals\MT-MW-Gillette-India\node_modules\css-select\lib\compile.js:31:14)
    at select (D:\MTW\PG\Asia\India\CoreWebVitals\MT-MW-Gillette-India\node_

[2021-06-28 05:06] jameslk opened #507 "Noscript inline styles are overriding stylesheets"
Thank you for all the hard work done on this wonderful library. I recently upgraded to the latest version of this library (v4) and it looks like inline styles are being included in the generated critical CSS where as this was not the case before (from https://github.com/addyosmani/critical/commit/3ed099cb8e387523a82b7a7baf3e7063dc02b073). Unfortunately for me, this means inline CSS included in `<n

[2021-07-04 08:04] markusfalk opened #508 "Why use java script to unblock css?"
Hey there,

I was wondering why critical uses javascript to switch from media="print" to media="all" instead of just moving the styles to the end of body. Do I have to wait for onload to unblock styles?

### Why this ...

[code]

### not this?

[code]

[2021-07-07 20:58] timbednar opened #509 "Undocumented option "include""
I noticed that the option "include" is not documented in the readme.md https://github.com/addyosmani/critical#options or am I missing something.

[2021-07-07 21:00] timbednar commented on #509
`        critical.generate({
            base: 'static/',
            src: url,
            css: [cssPath],
            dimensions: [{
                width: 320,
                height: 480
            },{
                width: 768,
                height: 1024
            },{
                width: 1280,
                height: 960
            }],
            dest: destPath,
            minify:

[2021-07-07 21:47] bezoerb commented on #509
oh,... this is an old option kept for compatibility reasons. it's the same as using the penthouse forceInclude option:
[code]

[2021-07-08 13:14] timbednar commented on #509
Is that mentioned in the readme, I did see this in some blog posts. As this
option is really useful, might I suggest that some documentation of how to
force include rules be added . Otherwise this issue is closed. Thanks for
the explanation.

/Tim

On Wed, Jul 7, 2021, 5:47 PM Ben Zörb ***@***.***> wrote:

[2021-07-09 08:01] bezoerb commented on #509
Sure :)
Do you want to crate a PR adding this to the readme?

[2021-07-11 18:59] timbednar commented on #509
I will.

/Tim

On Fri, Jul 9, 2021, 4:01 AM Ben Zörb ***@***.***> wrote:

[2021-07-19 21:36] #443 closed

[2021-07-19 21:42] bezoerb commented on #443
Fixed in [v4.0.1](https://github.com/addyosmani/critical/releases/tag/v4.0.1)

[2021-07-19 21:55] bezoerb commented on #508
You can pass inline options to configure the preload strategy:
https://github.com/bezoerb/inline-critical#inlinehtml-styles-options

See https://github.com/addyosmani/critical/issues/480#issuecomment-855470176

[2021-07-21 07:10] markusfalk commented on #508
@bezoerb thanks, looking good.
I am more interested in the why than the how.
I don't quite get the benefit of the one over the other 🤔

[2021-07-21 08:49] alex-79 commented on #286
`npm install -g -D critical --unsafe-perm=true --allow-root`

[2021-07-21 13:48] bezoerb commented on #508
Hehe, ok :)
We initially used `loadCSS` to defer the loading of the CSS. With the release of [v3](https://github.com/filamentgroup/loadCSS#changes-in-version-30-no-more-preload-polyfill) the recommended pattern changed to `<link rel="stylesheet" href="/path/to/my.css" media="print" onload="this.media='all'; this.onload=null;">`.
From my perspective this was fine until we got issues with CSP so i a

[2021-07-22 07:03] markusfalk commented on #508
So for everyone interested, @bezoerb pointed me in the right direction. You can read all about the why in more detail here: https://www.filamentgroup.com/lab/load-css-simpler/

thanks 🤓

[2021-07-22 07:03] #508 closed

[2021-07-25 09:38] markusfalk opened #511 "Is it possible to pass ignore option to command line?"
I'm not sure wether this is a command line questions or a critical question.

I tried passing `--ignore` options via command line but it still extracts `@font-face`-rules to the inline style which breaks lighthouse rule "Ensure text remains visible during webfont load" even when using `font-display: swap`.

[code]

Same when using quotes: `--ignore='{atrule: ['@font-face']}'`

What I like to achiv

[2021-08-18 05:47] josenobile opened #514 "Bug: The flag --css can only be set once"
Since v2.0:
The flag --css can only be set once

--css is an array, then multiple -css flags should be allowed as it was before v2.0

[2021-08-23 09:51] dsentker commented on #509
Any progress here? I encoutered the same problem and it would be useful to let the developer know about the penthouse option.

[2021-09-01 07:16] Bryan988 opened #516 "Error: Could not parse CSS stylesheet"
### Error message
[code]

### Source of error

As you may have notice, the {{ source('critical/layout.critical.css') }} is triggering the error.
Why is it there ?
As I am using twig for the rendering of the page, after generating the critical css for the page "layout", I included what was generated from the package "critical" thanks to [this function](https://twig.symfony.com/doc/2.x/functions/sou

[2021-09-06 19:29] bezoerb commented on #516
Hey @Bryan988,
Twig isn't supported as well as other templating engines.
See #318 #362 #94 #199

You will need to compile your templates first and run critical on the html result

[2021-09-18 15:18] e-gaulue opened #518 "Please provide documentation for --ignore for cli"
How to translate:
[code]
when using cli.

By the way, `--dimensions W1xH1,W2xH2` didn't work for me while stated in #457:
[code]
Hopefully: `--dimensions W1xH1 --dimensions W2xH2` did. Good to know we can use this option multiple times.

Best regards,

[2021-09-18 18:52] delucis opened #519 "Error prepending parent directory to non-relative URL paths"
I have a CSS file that loads a font via a root-relative URL, e.g. something like this

[code]

This is included in an HTML file that is processed using `critical` (simplified example):

[code]

`critical` inlines the font URL as:

[code]

Note the double prefix `/css/css`.

I’m guessing maybe there’s some logic somewhere that prepends relative URLs with the path to the CSS file to maintain path in

[2021-09-23 07:21] e-gaulue commented on #518
Reading the code, I would say:
[code]

Regards,

[2021-09-23 08:49] #503 closed

[2021-09-24 22:20] bezoerb commented on #518
Hmm... i've never tried using critical on the cli like this but it looks very inconvenient :)
Maybe we should add an option to use a config file which exports the options?

[2021-09-27 13:53] e-gaulue commented on #518
I thought it was working because I received no error msg, but my @font-face and url(...) are still in my critical results so it has not been ignore.

cli.js is not so easy to understand for me.

If anyone has any cmd line idea to achieve this, I can try.

PS: I'm moving from a local gulp script to a Debian server cli.

Regards,

[2021-09-27 14:00] e-gaulue commented on #518
Ok I think I've got it:
```critical --ignore-atrule "@font-face" ...``` has removed my @font-face.

I'm looking for `decl` and will tell more.

According to me it's just a lack of example in the documentation. We try to rely on the JS one...

[2021-10-29 15:16] timbednar opened #521 "Why do 3 developers running the same task generate different results?"
I bet this is a complicated answer. But we use critical on a large team and recently had an issue where there different developers ran the same gulp task on the same code in master and the results were slightly different. Not hugely different, but different. Which can matter.

I'm sure this is a complicated thing -- but any ideas?

[2021-11-17 00:28] asipple1 commented on #350
Using v4.0.1 went back to 3.1.0 to take advantage of `minify: false,`

We have a use case for un-minified critical CSS so it can pass PHP linting standards.
Also, discover the node_module clean-css is removing the last semicolon after the last property.
Related issue https://github.com/clean-css/clean-css/pull/1091

[2021-11-18 15:53] thejimbirch opened #522 "Minify option"
Looks like the Minify option was removed during some other work in #350 and now, all the Critical CSS is minified.

Using Critical in combination with the Drupal CMS, the generated files do not meet Drupal coding standards. The Drupal coding standards do not allow for minified files.  Drupal core itself concatenates and minifies CSS and JavaScript as part of the page build.

Would it be possible t

[2021-11-23 21:31] loganpowell opened #523 "`nth-check` vulnerability"
I'm getting this from dependabot:

[code]

[2021-12-01 11:29] PiyushMishra318 commented on #323
Any updates on this?

[2021-12-29 21:49] tictac22 opened #524 "Critical removes dots in url path"
I don't know why, but Critical removes dots in urls and it breaks all connecting images and fonts
Example:
Before
![image](https://user-images.githubusercontent.com/70350446/147706020-7805dd50-f66d-4009-a52b-d08e3fa983ce.png)
After
![image](https://user-images.githubusercontent.com/70350446/147705990-2a61f710-fe93-447e-887e-4b664485565b.png)

[2021-12-29 21:55] tictac22 commented on #524
P.S and example with fonts
Before:
![image](https://user-images.githubusercontent.com/70350446/147706350-00824ee4-2c5f-407b-accc-caf230de5668.png)

After:
![image](https://user-images.githubusercontent.com/70350446/147706406-23716a76-b146-4075-8130-0e03e569bcf5.png)

[2022-01-04 21:06] nsursock opened #525 "custom font with tailwindcss is not displayed on website"
I used to run critical on a website without a custom font. I use tailwindcss and I added a font using @import. Since then, it seems the critical task ignores the font and the website displays a system font instead of the custom one.
Here's my task:
[code]

[2022-01-04 22:21] bezoerb commented on #525
Hey @nsursock,
can you post a link to website so i can take a look at the problem?

[2022-01-04 22:56] bezoerb commented on #524
Hey @tictac22,
this is kind of intended as we need to rebase the urls in the css to the location of the html file. Imagine you have a directory structure like this:
[code]

The url `../fonts/OpenSans-Bold.woff` is relative to your css file but when the critical CSS is inlined we need to access the fonts from `fonts/OpenSans-Bold.woff` because the browser won't find the file otherwise when trying t

[2022-01-04 23:06] bezoerb commented on #522
Hey @thejimbirch,
the removal of the `minify` option was intended as it was only kind of a hack using prettier because there's no way to receive the unminified css from penthouse (the library doing all the work in computing the critical css). Running prettier on the critical css should not be a part of critical as this could easily be implemented as a postprocess step after critical in the build p

[2022-01-04 23:10] bezoerb commented on #350
@asipple1: Why don't you run prettier on the generated critical css after the critical job is finished? This should bring the exact same results as the `minify: false` option. I guess that you can't take advantage of inline-critical for inlining anyway when using php?

[2022-01-04 23:15] bezoerb commented on #521
Hey @timbednar,
sorry for the late response. This seems like a very complicated issue to trace ;)
Maybe there are some slight differences in module versions of the used libraries inside `node_modules` or some user specific settings messing with the headless chrome instance used by penthouse to generate the critical css?

These would be the first things i would check when i were facing this problem

[2022-01-05 04:40] nsursock commented on #525
Of course. You can checkout this repo : https://github.com/nsursock/webdev-frontend
Then you can issue this command: `yarn build && gulp build` and then `npx serve dist`.
To check the website functioning correctly: `yarn build && gulp minify` and `npx serve dist`

[2022-01-07 08:46] nsursock commented on #525
I have another question. Dunno if it's the place: I want to generate critical for each page of my website (pages and posts type). How can I do this?

[2022-01-10 20:09] tictac22 commented on #524
Thanks for explanation, it never crossed my mind. To solve the question I just moved my uncritical css at the same level with index.html and now all works

[2022-01-10 20:09] #524 closed

[2022-01-29 17:15] nsursock commented on #525
Ok I had a problem with the ignore. I removed it and the font appears correctly.

[2022-03-11 09:43] gregives opened #528 "Calling `critical.generate` lots of times in parallel seems to cause MaxListenersExceededWarning"
I am the author of the [eleventy-critical-css](https://github.com/gregives/eleventy-critical-css) Eleventy plugin which calls `critical.generate` for every HTML file outputted by Eleventy. [An issue](https://github.com/gregives/eleventy-critical-css/issues/7) was filed on eleventy-critical-css saying that the plugin was causing a MaxListenersExceededWarning.

When the plugin is used with larger El

[2022-03-11 10:06] gregives commented on #528
I have created a simpler repository to reproduce this issue: https://github.com/gregives/critical-issue-528-reproduction

[2022-03-25 23:17] bezoerb commented on #528
Thanks @gregives. I'll take a look if this has anything todo with critical.

@pocketjoso what do you think? Have you ever encountered this warning in penthouse?

[2022-04-19 09:28] gyfgyf opened #534 "Html-critical-webpack-plugin can be updated to Webpack5?"
Html-critical-webpack-plugin can be updated to Webpack5?

[2022-04-22 07:50] #516 closed

[2022-04-24 21:06] bezoerb commented on #534
hey @gyfgyf,
thanks for reporting this issue but we're not the maintainers of `html-critical-webpack-plugin`
You need to post your request there: https://github.com/anthonygore/html-critical-webpack-plugin/issues

[2022-04-24 21:06] #534 closed

[2022-04-24 21:48] bezoerb commented on #528
hey @gregives,
sorry for the late reply. I looked into this but i don't know if i can do anything about it on this side.
I could try to implement something like this [example](https://github.com/pocketjoso/penthouse/blob/master/examples/many-urls.js) for critical but this would only work if you could provide a list of all urls at once. I don't know if this is possible because i have no experience

[2022-04-24 21:54] bezoerb commented on #525
seems like this one is resolved :)
About the "generate critical for each page" question:
Looks like there's a plugin for eleventy (saw that you're using this on your repo) which generates critical css for each page.
Just answered an issue regarding this https://github.com/addyosmani/critical/issues/528

Maybe this helps :)

[2022-04-24 21:54] #525 closed

[2022-05-02 10:32] gregives commented on #528
Hey @bezoerb, thank you so much for looking into this, no need to apologise for the late reply!

I've just taken a look at the Critical codebase and I _think_ it might be possible to implement without a list of all URLs, would you be open to a pull request? I'll give it a go and if not, I'll make a change to my plugin. Thank you for your Gist, that's really helpful!

[2022-05-02 10:56] bezoerb commented on #528
Hey @gregives
I'm curious how you would solve this without knowing the urls upfront. If it works out it would be a nice addition to critical so feel free to draft a PR. I'm happy to review ;)

[2022-05-24 09:38] dineshtrivedi commented on #518
Hello @e-gaulue , I hope you are well.

Are you using the `decl` option? I couldn't make it work via the command line or JS version.
As a test, I even wrote a configuration for the JS version to reject everything as:
[code]

Also:
[code]

I couldn't make it work.
Do you have any example which you manage `decl` to work.

**What do I want to do?**

I have two font-faces, the first uses a local font

[2022-05-24 16:04] e-gaulue commented on #518
@dineshtrivedi, it's long ago and my brain is getting old.

In fact I had no need for `decl`. I though I did because I've seen this code on the site I've refurbished, but it was just a copy/paste from the previous maintainer.

All I remember about `critical` is you have to go and look at the code if you want to understand how to use options. But, on the other side, it's free.

Regards,

[2022-05-24 16:21] dineshtrivedi commented on #518
hahaha, thanks for your response @e-gaulue

No problem, I am on the mission of checking the code at the moment. Thank you again.

[2022-05-29 17:21] Krutsch commented on #523
Currently 7 high severity vulnerabilities
@addyosmani

[2022-06-03 10:38] ruvesa opened #535 "ConfigError Minify not allowed"
while running my script by `node criticalcss.mjs` it says "ConfigError Minify not allowed"

[2022-06-04 00:14] kentr commented on #439
I'm seeing the same thing. In my case I'm using the `html` option and also outputting a css file, which is empty.

My guess is that `critical` is not actually generating the critical `css`, and so there's nothing to put into the `html` file.

[2022-06-04 00:49] kentr commented on #439
Yeah, I confirmed that there is no generated `css` by using a callback to log the result.

The `err` parameter to the callback is `null`, so no errors to give clues.

Still debugging...

[2022-06-04 00:59] kentr opened #536 "Error in callback example"
The code errors on the extra parenthesis in the 2nd callback param.

[2022-06-04 16:43] kentr commented on #439
In my case it was due to an old configuration that's no longer supported AFAICT: Passing an `html` string or a local source file that contains links to _external_ stylesheets.

This appears to return "empty" stylesheet documents in [`getStyleseet()`](https://github.com/addyosmani/critical/blob/8c28b57d9e76f2f88e0e6356773fbf9062d84346/src/file.js#L786).

In the debugging, I discovered that remote U

[2022-06-05 22:16] bezoerb commented on #535
The minify option was removed in version 4.0.0

[2022-06-06 04:27] ruvesa commented on #535
Yes. I have gone through the previous threads. But if it is removed then why it is throwing that error? My script does not have minify option and still getting that error.

[2022-06-06 19:24] bezoerb commented on #535
Can you share the contents of your criticalcss.mjs file?

[2022-06-10 18:35] muriloelias opened #538 "npm WARN deprecated"
Hi guys, some alerts when install the package:

npm WARN deprecated source-map-resolve@0.6.0: See https://github.com/lydell/source-map-resolve#deprecated
npm WARN deprecated puppeteer@2.1.1: Version no longer supported. Upgrade to @latest
npm WARN deprecated svgo@1.3.2: This SVGO version is no longer supported. Upgrade to v2.x.x.

$ npm why source-map-resolve
source-map-resolve@0.6.0 dev
node_modu

[2022-06-13 16:56] dineshtrivedi commented on #519
I am having the same issue. Have you found a solution @delucis

[2022-06-13 21:59] delucis commented on #519
@dineshtrivedi I ended up making my font URLs relative. So with the following files

- `/css/fonts.css`
- `/css/fonts/font.woff2`

I updated the `fonts.css` like this:

[code]

[2022-06-14 08:38] dineshtrivedi commented on #519
Thank you, I use the [rebase option](https://github.com/addyosmani/critical#generate-critical-path-css-and-specify-asset-rebase-behaviour) to solve my issue.

Thank you for your response @delucis

[2022-06-21 12:06] #519 closed

[2022-07-25 20:48] mbiang opened #540 "Question: uncritical option and unused CSS?"
So I have a site that is generating critical css and uncritical css for product pages.   My goal is to generate one single critical css file and one single uncritical css file to be used for every product page on my site.  Every product page includes the same linked css files and inline css.   Theoretically, I should be able to just generate the critical and uncritical css for one of my product pa

[2022-07-27 21:24] mbiang commented on #540
Actually this is an issue with a wordpress plugin selecting choosing to include css based on the page content.   This is not an issue with critical.

Closing.

[2022-07-27 21:24] #540 closed

[2022-08-05 14:38] espoal opened #541 "Mismatch in computed styles after critical"
After using critical, there's a mismatch in the computed styles:

![Screenshot from 2022-08-05 16-31-36](https://user-images.githubusercontent.com/7604623/183099006-9e34cf62-6269-4fd9-93cf-545ecb1818ac.png)

[Without critical](https://pwapp-24858.web.app/dash), and [with critical](https://pwapp-24858.web.app/critical)

If you patiently inspect the styles, you see there's a mismatch in the computed

[2022-08-10 22:29] bezoerb commented on #541
Hey @espoal, thanks for creating this issue. Can you provide a "not working" example? I can't spot any differences in the provided links

[2022-08-10 22:30] #536 closed

[2022-08-10 22:33] bezoerb commented on #521
@timbednar: Any updates on this?

[2022-08-10 22:34] bezoerb commented on #511
See https://github.com/addyosmani/critical/issues/518#issuecomment-927903104

[2022-08-10 22:34] #511 closed

[2022-08-10 22:37] #475 closed

[2022-08-10 22:42] bezoerb commented on #243
user agent passed as option should already be considered for every request by now

[2022-08-10 22:42] #243 closed

[2022-08-11 10:06] espoal commented on #541
Hey @bezoerb thank you for your quick reply.

Sorry I was playing with the repo and inadvertently deleted the route in firebase. [Try again](https://pwapp-24858.web.app/critical), and if it doesn't work try `ctrl+shift+r`, because I'm also testing a service worker.

If you want to look at the output is [here](https://github.com/espoal/pwapp/tree/d9ca3c09dd164786fd2181f3373d73e52b89b512/dist/public

[2022-08-11 22:29] bezoerb commented on #541
I tried to debug on my local machine but i'm missing the firebase token ;)
Nevertheless, i think the problem is caused by the `extract: true` setting.
This leads to the following:
[code]
uncritical.css contains
[code]
but the `pl-9` class is removed because of extract which then leads to your css beeing in the wrong order. Classes and attribute selectors have the same [specificity](https://www.sma

[2022-08-17 15:32] TerrenceAddison opened #542 "critical just stucks at loading and does nothing"
Hi I'm using gulp to run critical and everytime I run it just stays stuck. Code for `gulpfile.js` as below:

[code]

I run it using `gulp` and this is the only thing that happens:
![image](https://user-images.githubusercontent.com/63777677/185180782-513f44e6-89ed-40c1-bdf6-cdc31cab814d.png)

Please do inform me if you need more context, thank you

[2022-08-30 22:13] bezoerb commented on #541
@espoal: Any updates on this?

[2022-08-30 22:17] bezoerb commented on #542
Hey @TerrenceAddison, more context would be helpful.
Have you already tried to use the `stream` export as described here: https://github.com/addyosmani/critical#gulp

If using it this way i guess you need to wait for critical to complete before calling the `cb()` callback

[2022-09-09 10:46] espoal commented on #541
@bezoerb sorry I was stuck with some backend topics, I will try to answer before monday.

[2022-09-09 22:41] #522 closed

[2022-09-14 11:55] PrajwalVBharadwaj commented on #523
Facing the same issue. Any update on this vulnebarility issue? Or have anyone found a workaround?

[2022-09-14 12:44] espoal commented on #541
@bezoerb I'm sorry for the super late reply, and thank you very much for keeping this alive, I really appreciate it.

Unfortunately time is scarce, and my attention had to be diverted on some backend topics.

About the firebase issue: in theory no token is needed. Have you installed firebase emulator? what errors exactly should show?
My repo should be an open source tutorial so my coworkers (and o